﻿
@{
    ViewData["Title"] = "Index";
}

<h1>Registre des présences</h1>
<h2>Enregistrement</h2>
<hr />
<p>A votre arrivée sur le site, cliquez sur "Signaler son arrivée". A la sortie, n'oubliez pas de signer en cliquant sur "Signaler son départ."</p>

<p>Si vous quittez le site et que vous avez oublié de signer à votre arrivée, cliquez sur "Signalez son départ".</p>

<form class="d-inline-block" action="RegisterType" method="post">
    <input type="hidden" name="isCheckingOut" value="false" />
    <input class="btn btn-primary" type="submit" value="Signaler son arrivée" />
</form>

<form class="d-inline-block" action="RegisterType" method="post">
    <input type="hidden" name="isCheckingOut" value="true" />
    <input class="btn btn-primary" type="submit" value="Signaler son départ" />
</form>