﻿
@model WebApp.Models.RegisterPlanningViewModels.FormRegisterPlanningVM

<div class="modal fade" id="EditRegisterPlanningModal" tabindex="-1" role="dialog" aria-labelledby="EditRegisterPlanningModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="EditRegisterPlanningModalLabel">Edition du registre</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Edit" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <input type="hidden" asp-for="Id" />
                    <div class="customTimeBlock d-flex flex-wrap">

                        <div class="dateItem">
                            <p>Date</p>
                            <input type="date" id="SameDayDate" name="SameDayDate" value="@Model.Time.SameDayDate" class="form-control" />
                        </div>

                        <div class="dateItem">
                            <p>H. de début</p>
                            <input type="time" id="SameDayTimeIn" name="SameDayTimeIn" value="@Model.Time.SameDayTimeIn" class="form-control" />
                        </div>

                        <div class="dateItem">
                            <p>H. de fin</p>
                            <input type="time" id="SameDayTimeOut" name="SameDayTimeOut" value="@Model.Time.SameDayTimeOut" class="form-control" />
                        </div>
                    </div>
                    @if (ViewBag.State == false)
                    {
                        @Html.CheckBox("State")
                        <label for="State" style="display:inline">Marquer comme présent(e)</label>
                        @*<div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="State" name="State" value="State" />
                            <label for="State" class="form-check-label">Marquer comme présent(e)</label>
                        </div>*@
                    }

                </form>
                @if (ViewBag.Error != null)
                {
                    <div id="viewBagError">
                        <p class="text-danger">Une erreur est survenue : @ViewBag.Error</p>
                    </div>
                }
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-primary" data-save="save-edit-registerplanning">Valider</button>
            </div>
        </div>
    </div>
</div>