﻿@model WebApp.Models.RegisterPlanningViewModels.RegisterPlanningVM

<table class="table custom-table-bordered table-condensed registersTable tableCustomLayout">
    <thead>
        <tr>
            <th colspan="2">
                <a href="#" title="Edit Product">@Model.LName @Model.FName</a>
                <div class="companyTh">
                    @Html.DisplayFor(modelItem => Model.CompanyName) (@Html.DisplayFor(modelItem => Model.StatusName))
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <strong>@Html.DisplayNameFor(modelItem => Model.TimeIn): </strong>@Html.DisplayFor(modelItem => Model.TimeIn)<br />
            </td>

            <td style="text-align: right" ;>
                @if (Model.TimeOut == null)
                {
                    @Html.DisplayFor(modelItem => Model.TimeOut)<br />
                }
                else
                {
                    <strong>Sortie: </strong>@Html.DisplayFor(modelItem => Model.TimeOut)<br />
                }
            </td>
        </tr>

        <tr>
            <td>
                <strong>@Html.DisplayNameFor(modelItem => Model.Planned): </strong>@Model.Planned.BoolToHtmlString("Oui", "Non")<br />
            </td>
            <td style="text-align: right" ;>
                <strong>@Html.DisplayNameFor(modelItem => Model.State): </strong>@Html.DisplayFor(modelItem => Model.State)<br />
            </td>
        </tr>
        @if (Model.Planned == true && Model.State != "Présent(e)")
        {
            <tr>
                <td colspan="2" class="tr-background">
                    <a asp-action="Edit" asp-route-id="@Model.Id" data-toggle="ajax-modal-EditRegisterPlanning" data-target="#EditRegisterPlanningModal" data-url="@Url.Action("Edit", "RegisterPlanning", new { id = Model.Id })">Modifier</a>
                </td>
            </tr>

        }
        else if (Model.Planned == false && Model.State == "Présent(e)")
        {
            <tr>
                <td colspan="2" class="tr-background">
                    <a href="#" id="registerPlanningSetPlanned">Marquer comme plannifié</a>
                </td>
            </tr>

        }
    </tbody>
</table>