﻿
@using RegisterPlanningVM = WebApp.Models.RegisterPlanningViewModels.RegisterPlanningVM
@model IEnumerable<WebApp.Models.RegisterPlanningViewModels.RegisterPlanningVM>

@{
    ViewData["Title"] = "GetRegisters";
}

<h1>Registre des présences</h1>

<nav class="nav secondaryCustomNav">
    <a class="nav-link" asp-action="GetRegisters" asp-controller="Register">Effectif</a>
    <span class="nav-link">Planning</span>
</nav>

<hr />
<div class="customBreadcrumb">
    @Html.ActionLink("DashBoard", "Index", "Admin") |
    @Html.ActionLink("Ajouter", "SetStatus", "RegisterPlanning")
</div>

<div class="adapt75">
    <input type="hidden" value="@TempData["Alert"]" id="alert" />
    <div class="d-flex align-items-baseline">
        @await Html.PartialAsync("_RegisterFilter")
        @*<partial name="_RegisterFilter" />*@
        <form asp-action="Index" method="get" class="d-flex lastFlex">
            <input type="text" name="SearchString" value="@ViewData["nameFilter"]" size="12" style="margin-right:0.5rem;" />
            <button type="submit" class="btn-custom"><span class="material-icons">search</span></button>
        </form>
    </div>
</div>

<!-- Modal placeholder -->
<div id="modal-placeholder">
</div>

<div id="registerPlanningListing" class="adapt75">

    @if (Model.Count() > 0)
    {
        @foreach (RegisterPlanningVM item in Model)
        {
            <table id="@String.Format("registerPlanningListing{0}", item.Id)" class="table custom-table-bordered table-condensed registersTable tableCustomLayout">
                <thead>
                    <tr>
                        <th colspan="2">
                            <a href="#" title="Edit Product">@item.LName @item.FName</a>
                            <div class="companyTh">
                                @Html.DisplayFor(modelItem => item.CompanyName) (@Html.DisplayFor(modelItem => item.StatusName))
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <strong>@Html.DisplayNameFor(modelItem => item.TimeIn): </strong>@Html.DisplayFor(modelItem => item.TimeIn)<br />
                        </td>

                        <td style="text-align: right" ;>
                            @if (item.TimeOut == null)
                            {
                                @Html.DisplayFor(modelItem => item.TimeOut)<br />
                            }
                            else
                            {
                                <strong>Sortie: </strong>@Html.DisplayFor(modelItem => item.TimeOut)<br />
                            }
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <strong>@Html.DisplayNameFor(modelItem => item.Planned): </strong>@item.Planned.BoolToHtmlString("Oui", "Non")<br />
                        </td>
                        <td style="text-align: right" ;>
                            <strong>@Html.DisplayNameFor(modelItem => item.State): </strong>@Html.DisplayFor(modelItem => item.State)<br />
                        </td>
                    </tr>
                    @if (item.Planned == true && item.State != "Présent(e)")
                    {
                        <tr>
                            <td colspan="2" class="tr-background">
                                <a asp-controller="RegisterPlanning" asp-action="Edit" asp-route-id="@item.Id" data-toggle="ajax-modal-EditRegisterPlanning" data-target="#EditRegisterPlanningModal" data-url="@Url.Action("Edit", "RegisterPlanning", new { id = item.Id })">Modifier</a>
                            </td>
                        </tr>

                    }
                    else if (item.Planned == false && item.State == "Présent(e)")
                    {
                        <tr>
                            <td colspan="2" class="tr-background">
                                @*<a href="#" id="registerPlanningSetPlanned">Marquer comme plannifié</a>*@
                                <a id="registerPlanningSetPlanned" asp-controller="RegisterPlanning" asp-action="SetAsPlanned" asp-route-id="@item.Id">Marquer comme plannifié</a>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        }
    }
    else
    {
        <p class="emptyContent">Aucune personne ne se trouve dans le registre pour la période souhaitée.</p>
    }
</div>

@section Scripts {
    <script>

        $(document).ready(function () {

            // Time Filtering
            let filterSelector = $("#registerFilter");
            let filterVal = filterSelector.val();

            let searchSelector = $("input[name='SearchString']");
            let searchVal = searchSelector.val();

            filterSelector.change(function () {
                filterVal = filterSelector.val();
                searchVal = searchSelector.val();

                $.ajax({
                    url: "/RegisterPlanning/GetRegisters",
                    type: "GET",
                    data: { sortOrder: filterVal, searchString: searchVal },
                    success: function (result) {
                        var htmlResult = $("#registerPlanningListing", result);
                        $("#registerPlanningListing").replaceWith(htmlResult);
                        $("#registerFilter").find("option[value=" + filterVal + "]").attr('selected', true);
                    }
                }); // End AJax Call
            }); // End Change

            // Search filter
            let submit = $("button[type='submit']");

            submit.on('click', (function (e) {
                e.preventDefault();

                filterVal = filterSelector.val();
                searchVal = searchSelector.val();

                $.ajax({
                    url: "/RegisterPlanning/GetRegisters",
                    type: "GET",
                    data: { sortOrder: filterVal, searchString: searchVal },
                    success: function (result) {
                        $("body").html(result);
                        $("#registerFilter").find("option[value=" + filterVal + "]").attr('selected', true);
                    }
                }); // End AJax Call
            })); // End Submit


            // Modify RegisterPlanning open modal
            $(document).on("click", "a[data-toggle='ajax-modal-EditRegisterPlanning']", function (e) {
                e.preventDefault();

                var url = $(this).data('url');

                // Load partial modal
                $.ajax({
                    url: url,
                    type: "GET",
                    //headers: { "RequestVerificationToken": modalToken },
                    success: function (result) {
                        $('#modal-placeholder').html(result);
                        $('#modal-placeholder > .modal').modal('show');
                    }
                });
            });

            // Save registerPlanning modifications 
            $(document).on("click", "button[data-save='save-edit-registerplanning']", function (e) {
                e.preventDefault();

                let parent = $(this).closest(".modal-dialog");
                let id = parent.find("#Id").val();
                let url = parent.find("form").attr('action');
                let dataToSend = parent.find("form").serialize();

                let toReplace = $(document).find("table#registerPlanningListing" + id);

                $.ajax({
                    url: url,
                    type: "POST",
                    data: dataToSend,
                    //headers: { "RequestVerificationToken": modalToken },
                    success: function (result) {

                        // If form modal partial view is returned, display error
                        var errorModal = $(result).filter('#EditRegisterPlanningModal');  

                        if (errorModal.length) {
                            var newBody = $('.modal-body', result);
                            $('#modal-placeholder').find('.modal-body').replaceWith(newBody);
                        }
                        else {
                            // Hide Modal form
                            $('#modal-placeholder').find('.modal').modal('hide');
                            toReplace.replaceWith(result);
                        }
                    }
                });
            })
            

            // Set as planned
            $(document).on("click", "#registerPlanningSetPlanned", function (e) {
                e.preventDefault();

                var url = $(this).attr('href');

                // Load partial modal
                $.ajax({
                    url: url,
                    type: "GET",
                    //headers: { "RequestVerificationToken": modalToken },
                    success: function (result) {

                        // If form modal partial view is returned, display error
                        var errorModal = $(result).filter('.modal');  
                        
                        if (errorModal.length) {                            
                            $('#modal-placeholder').append(result);
                            $('#modal-placeholder > .modal').modal('show');
                        }
                        else {                            
                            let urlSplit = url.split('/');
                            let id = urlSplit[3];
                            let toReplace = $(document).find("table#registerPlanningListing" + id);
                            toReplace.replaceWith(result);
                        }
                    }
                });
            });


        });
    </script>
}

