﻿@model WebApp.Models.RegisterPlanningViewModels.FormRegisterPlanningVM

@{
    ViewData["Title"] = "SetPerson";
}

@await Html.PartialAsync("_WizardTabMenu")
@*<partial name="_WizardTabMenu" />*@

<div class="row">
    <div class="col-md-4">
        <form asp-action="SetPerson">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="StatusId" />

            @if (Model.Persons.Count() > 0)
            {
                @*DropDown List for persons names*@
                <div class="form-group" id="setPersonId">
                    <label class="control-label">Nom et prénom de l'employé</label>
                    <select asp-items="@(new SelectList(Model.Persons, "Id", "Name", Model.PersonId))" asp-for="PersonId">
                        <option value="">-- Sélectionnez le nom --</option>
                        <option value="0">Autre</option>
                    </select>
                    <span asp-validation-for="PersonId" class="text-danger"></span>
                </div>

                @*@if (ViewBag.Error != null)
                    {
                        <div id="viewBagError">
                            <p class="text-danger">Une erreur est survenue : @ViewBag.Error</p>
                        </div>
                    }*@

                @*Input text for person's other last name*@
                <div class="form-group d-none" id="setPersonLName">
                    <label asp-for="LName" class="control-label"></label>
                    <input asp-for="LName" class="form-control" />
                    <span asp-validation-for="LName" class="text-danger"></span>
                </div>


                @*Input text for person's other first name*@
                <div class="form-group d-none" id="setPersonFName">
                    <label asp-for="FName" class="control-label"></label>
                    <input asp-for="FName" class="form-control" />
                    <span asp-validation-for="FName" class="text-danger"></span>
                </div>

                @*@if (ViewBag.NameError != null)
                    {
                        <div id="viewBagNameError">
                            <p class="text-danger">Une erreur est survenue : @ViewBag.NameError</p>
                        </div>
                    }*@
            }
            else
            {
                <input type="hidden" asp-for="PersonId" />

                @*Input text for person's other last name*@
                <div class="form-group" id="setPersonLName">
                    <label asp-for="LName" class="control-label"></label>
                    <input asp-for="LName" class="form-control" />
                    <span asp-validation-for="LName" class="text-danger"></span>
                </div>

                @*Input text for person's other first name*@
                <div class="form-group" id="setPersonFName">
                    <label asp-for="FName" class="control-label"></label>
                    <input asp-for="FName" class="form-control" />
                    <span asp-validation-for="FName" class="text-danger"></span>
                </div>

                @*@if (ViewBag.NameError != null)
                    {
                        <div id="viewBagNameError">
                            <p class="text-danger">Une erreur est survenue : @ViewBag.NameError</p>
                        </div>
                    }*@
            }

            @if (Model.PersonsVisited != null)
            {
                <div class="form-group" id="setPersonVisitedId">
                    <label asp-for="PersonVisitedId" class="control-label"></label>
                    <select asp-items="@(new SelectList(Model.PersonsVisited, "Id", "Name", Model.PersonVisitedId))" asp-for="PersonVisitedId">
                        <option value="">-- Sélectionnez la personne visitée --</option>
                    </select>
                    <span asp-validation-for="PersonVisitedId" class="text-danger"></span>
                </div>

                @*@if (ViewBag.VisitedError != null)
                    {
                        <div id="viewBagVisitedError">
                            <p class="text-danger">Une erreur est survenue : @ViewBag.VisitedError</p>
                        </div>
                    }*@
            }

            @if (ViewBag.Error != null)
            {
                <div id="viewBagError">
                    <p class="text-danger">Une erreur est survenue : @ViewBag.Error</p>
                </div>
            }

            <div class="form-group">
                <input type="submit" name="prevBtn" value="Précédent" class="btn btn-primary" />
                <input type="submit" name="nextBtn" value="Suivant" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>

        // Save selectors
        let lNameSelector = $("#setPersonLName");
        let fNameSelector = $("#setPersonFName");

        $(document).ready(function () {

            // Modify tabs menu
            let tabStatus = $("#addRegisterMenuItemStatus span");
            let tabPerson = $("#addRegisterMenuItemPerson span");
            let tabCompany = $("#addRegisterMenuItemCompany span");
            let tabTime = $("#addRegisterMenuItemTime span");

            disableActiveTab(tabStatus, tabCompany, tabTime);
            enableActiveTab(tabPerson);

            // Error postback view handeling
            //if ($("#viewBagNameError").length && $("#LName").val() != "" && $("#FName").val() != "") {
            //    if (lNameSelector.hasClass("d-none")) {
            //        lNameSelector.removeClass("d-none");
            //    }

            //    if (fNameSelector.hasClass("d-none")) {
            //        fNameSelector.removeClass("d-none");
            //    }
            //}

            // FadeOut ViewBag
            if ($("#viewBagError").length) {
                fadeOutCustom($("#viewBagError"), 10000)
            }

            //if ($("#viewBagVisitedError").length) {
            //    fadeOutCustom($("#viewBagVisitedError"), 10000)
            //}

            //if ($("#viewBagNameError").length) {
            //    fadeOutCustom($("#viewBagNameError"), 10000)
            //}

            // Store the Id value of the selected person
            let dropdwId = $("select#PersonId");
            let id = dropdwId.val();

            // When a selection is made by the user in the person dropdownlist
            $("#PersonId").change(function () {

                if ($("#LName").val() != "" && $("#FName").val() != "") {

                    $("#LName").val("");
                    $("#FName").val("");

                    if (!lNameSelector.hasClass("d-none")) {
                        lNameSelector.addClass("d-none");
                    }

                    if (!fNameSelector.hasClass("d-none")) {
                        fNameSelector.addClass("d-none");
                    }
                }

                // Modify the Id value of the selected item
                id = dropdwId.val();

                // If the user selects a person
                if (id > "0") {
                    lNameSelector = $("#setPersonLName");
                    fNameSelector = $("#setPersonFName");

                    if (!lNameSelector.hasClass("d-none")) {
                        lNameSelector.addClass("d-none");
                    }

                    if (!fNameSelector.hasClass("d-none")) {
                        fNameSelector.addClass("d-none");
                    }
                }
                // If the user selects "Autre"
                else if (id === "0") {
                    lNameSelector = $("#setPersonLName");
                    fNameSelector = $("#setPersonFName");

                    if (lNameSelector.hasClass("d-none")) {
                        lNameSelector.removeClass("d-none");
                    }

                    if (fNameSelector.hasClass("d-none")) {
                        fNameSelector.removeClass("d-none");
                    }
                }

                // If the user selects the default value : reset everything
                if (id == "") {
                    lNameSelector = $("#setPersonLName");
                    fNameSelector = $("#setPersonFName");

                    if (!lNameSelector.hasClass("d-none")) {
                        lNameSelector.addClass("d-none");
                    }

                    if (!fNameSelector.hasClass("d-none")) {
                        fNameSelector.addClass("d-none");
                    }
                }
            });
        });

    </script>
}



