﻿@model List<WebApp.Models.RegisterPlanningViewModels.RegisterPlanningVM>

@{
    ViewData["Title"] = "Summary";
}

<h1>Registre des présences</h1>
<h2>Ajout: récapitutaltif</h2>
<hr />

<div class="customBreadcrumb">
    @Html.ActionLink("DashBoard", "Index", "Admin")
    @*@Html.ActionLink("Retour à la liste", "GetRegisterPlanning", "RegisterPlanning")*@
</div>

<p>
    Voici le récapitulatif du/des ajout(s) au planning:<br />
    @if (ViewBag.Updates > 0 && ViewBag.Inserts > 0)
    {
        @:- @ViewBag.Updates registre(s) mis à jour et @ViewBag.Inserts ajoutés<br />
    }
    else if (ViewBag.Inserts > 0)
    {
        @:- @ViewBag.Inserts ajoutés<br />
    }
    else
    {
        @:- @ViewBag.Updates registre(s) mis à jour<br />
    }

    @if (ViewBag.Duplicates > 0)
    {
        @:- @ViewBag.Duplicates registre(s) n'a/n'ont pas été modifié(s) car déjà existant en base de données
    }
</p>

<div class="adapt75">
    <table class="table custom-table-bordered table-condensed registersTable tableCustomLayout">
        <thead>
            <tr>
                <th colspan="2">
                    <span style="color:#0366d6;">@ViewBag.LName @ViewBag.FName</span>
                    <div class="companyTh">
                        @ViewBag.Company (@ViewBag.Status)
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <strong>@Html.DisplayNameFor(modelItem => item.TimeIn): </strong>@Html.DisplayFor(modelItem => item.TimeIn)
                    </td>
                    <td style="text-align:right" ;>
                        <strong>@Html.DisplayNameFor(modelItem => item.TimeOut): </strong>@Html.DisplayFor(modelItem => item.TimeOut)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<a class="btn btn-primary" asp-action="Index" asp-controller="Admin">Terminer</a>
