﻿@model WebApp.Models.RegisterPlanningViewModels.FormRegisterPlanningVM

@{
    ViewData["Title"] = "SetTime";
}

<partial name="_WizardTabMenu" />

<div class="col-md-6">

    <form class="addRegisterPlanningWizard" asp-action="Test" method="post">

        <div class="form-group" id="customTime">

            @if (Model.Times != null && Model.Times.Count() > 0)
            {
                for (int i = 0; i < Model.Times.Count(); i++)
                {
                    <div class="customTimeBlock d-flex flex-wrap">
                        <div class="dateItem">
                            @if (i == 0)
                            {
                                <p>Date</p>
                                <input type="date" asp-for="Time.SameDayDate" class="form-control" value="@Model.Times[i].SameDayDate" />
                            }
                            else
                            {
                                <input type="date" id="@String.Format("Time_SameDayDate{0}", i)" name="@String.Format("Time_SameDayDate{0}", i)" value="@Model.Times[i].SameDayDate" class="form-control" />
                            }
                        </div>
                        <div class="dateItem">
                            @if (i == 0)
                            {
                                <p>H. de début</p>
                                <input type="time" asp-for="Time.SameDayTimeIn" class="form-control" value="@Model.Times[i].SameDayTimeIn" />
                            }
                            else
                            {
                                <input type="time" id="@String.Format("Time_SameDayTimeIn{0}", i)" name="@String.Format("Time_SameDayTimeIn{0}", i)" value="@Model.Times[i].SameDayTimeIn" class="form-control" />
                            }
                        </div>
                        <div class="dateItem">
                            @if (i == 0)
                            {
                                <p>H. de fin</p>
                                <input type="time" asp-for="Time.SameDayTimeOut" class="form-control" value="@Model.Times[i].SameDayTimeOut" />
                            }
                            else
                            {
                                <input type="time" id="@String.Format("Time_SameDayTimeOut{0}", i)" name="@String.Format("Time_SameDayTimeOut{0}", i)" value="@Model.Times[i].SameDayTimeOut" class="form-control" />
                            }
                        </div>
                        @if (i == Model.Times.Count() && i > 1)
                        {
                            <div class="addRemoveDatesIcon">
                                <a href="#" class="addCustomTime"><span class="material-icons">add</span></a>
                                <a href="#" class="removeCustomTime"><span class="material-icons">remove</span></a>
                            </div>
                        }
                        else
                        {
                            <div>
                                <a href="#" class="removeCustomTime"><span class="material-icons">remove</span></a>
                            </div>
                        }
                    </div>
                }
            }
            else
            {
                <div class="customTimeBlock d-flex flex-wrap">
                    <div class="dateItem">
                        <p>Date</p>
                        <input type="date" asp-for="Time.SameDayDate" class="form-control" />
                    </div>
                    <div class="dateItem">
                        <p>H. de début</p>
                        <input type="time" asp-for="Time.SameDayTimeIn" class="form-control" />
                    </div>
                    <div class="dateItem">
                        <p>H. de fin</p>
                        <input type="time" asp-for="Time.SameDayTimeOut" class="form-control" />
                    </div>
                    <div class="addRemoveDatesIcon">
                        <a href="#" class="addCustomTime"><span class="material-icons">add</span></a>
                    </div>
                </div>
            }
        </div>

        @if (ViewBag.Error != null)
        {
            <div id="viewBagError">
                <p class="text-danger">Une erreur est survenue : @ViewBag.Error</p>
            </div>
        }

        <div class="form-group addRegisterPlanningWizardBtnNext">
            <input type="submit" name="nextBtn" value="Suivant" class="btn btn-primary" />
        </div>
    </form>

</div>

@section Scripts {
    <script>
        $(document).ready(function () {

            // Modify tabs menu
            let tabStatus = $("#addRegisterMenuItemStatus span");
            let tabPerson = $("#addRegisterMenuItemPerson span");
            let tabCompany = $("#addRegisterMenuItemCompany span");
            let tabTime = $("#addRegisterMenuItemTime span");

            disableActiveTab(tabStatus, tabCompany, tabPerson);
            enableActiveTab(tabTime);

            // Set today's date in the first input date HTML element
            //if ($("#Time_SameDayDate").attr("value") == null) {
            //    let today = GetTodaysDate();
            //    $("#Time_SameDayDate").attr("value", today);
            //}

            // set first date to tomorrow
            let intialDateValue = document.querySelector(".customTimeBlock [id*='Date']");
            let initalTimeInValue = document.querySelector(".customTimeBlock [id*='TimeIn']");
            let initialTimeOutValue = document.querySelector(".customTimeBlock [id*='TimeOut']");

            if (intialDateValue.value == "") {
                intialDateValue.value = DateTomorrow();
            }
            if (initalTimeInValue.value == "") {
                initalTimeInValue.value = "07:30";
            }
            if (initialTimeOutValue.value == "") {
                initialTimeOutValue.value = "15:30";
            }

            // Add or remove datetime block
            let index = $(".customTimeBlock").length - 1;

            // Save initial Icon block
            const initalIcons = '<div><a href="#" class="addCustomTime"><span class="material-icons">add</span></a><a href="#" class="removeCustomTime"><span class="material-icons">remove</span></a></div>';

            // reminder : css nth-child starts at 1 / jquery eq() starts at 0
            // let currentDateValue = document.querySelector(".customTimeBlock:nth-child(1) input[type=date]").value;
            $("#customTime").on("click", ".addCustomTime", function (e) {
                e.preventDefault();
                index++;

                // Get time values of clicked block to duplicate them and add them to added block
                let currentDateValue = $(this).closest(".customTimeBlock").find("[id*='Date']").val();
                let currentTimeInValue = $(this).closest(".customTimeBlock").find("[id*='TimeIn']").val();
                let currentTimeOutValue = $(this).closest(".customTimeBlock").find("[id*='TimeOut']").val();

                // Remove add icon from clicked item
                let clickedBlockIndex = $(this).closest(".customTimeBlock").index();

                // if the clicked element is the first one, remove icon from the first
                if (clickedBlockIndex == 0) {
                    $(this).closest(".customTimeBlock .addRemoveDatesIcon").remove();
                }
                // remove the + icon from the clicked element
                else {
                    $(this).closest(".customTimeBlock :last-child .addCustomTime").remove();
                }

                // Append new date block and hide it
                $("#customTime").append('<div class="customTimeBlock d-none"></div>');
                let added = $("#customTime .customTimeBlock:last-child");
                $(added).append('<div class="dateItem"><input type="date" class="form-control" id="Time_SameDayDate' + index + '" name="Time.SameDayDate' + index + '" value=""></div>');
                $(added).append('<div class="dateItem"><input type="time" class="form-control" id="Time_SameDayTimeIn' + index + '" name="Time.SameDayTimeIn' + index + '" value=""></div>');
                $(added).append('<div class="dateItem"><input type="time" class="form-control" id="Time_SameDayTimeOut' + index + '" name="Time.SameDayTimeOut' + index + '" value=""></div>');
                $(added).append('<div><a href="#" class="addCustomTime"><span class="material-icons">add</span></a><a href="#" class="removeCustomTime"><span class="material-icons">remove</span></a></div>');

                // Duplicate times in the new added block
                // Set new date blocks values (date+1, timeIn, timeOut)
                if (currentDateValue !== "") {
                    $(added).find("[id*='Date']").val(currentDateValue);
                    document.querySelector("#customTime .customTimeBlock:last-child [id*='Date']").stepUp(1);
                }
                if (currentTimeInValue !== "") {
                    $(added).find("[id*='TimeIn']").val(currentTimeInValue);     
                }
                if (currentTimeOutValue !== "") {
                    $(added).find("[id*='TimeOut']").val(currentTimeOutValue);        
                }

                // Show block and clean classes
                $(added).addClass("d-flex flex-wrap");
                $(added).addClass("d-flex flex-wrap");
                $(added).removeClass("d-none");
            });

            $("#customTime").on("click", ".removeCustomTime", function (e) {
                e.preventDefault();

                // Check time block number, if penultimate add initial icons block back
                let numberEl = $(".customTimeBlock").length;

                let Index = $(this).closest(".customTimeBlock").index();

                // if the cliked element is the 2nd element out of 2, add the + icon to the first element
                if (Index == 1 && numberEl == 2) {
                    $(".customTimeBlock").eq(0).append('<div class="addRemoveDatesIcon"><a href="#" class="addCustomTime"><span class="material-icons">add</span></a></div>');
                    // if the clicked element is the last one
                } else if (Index == numberEl - 1) {
                    $(".customTimeBlock").eq(Index-1).find("div:last-child").replaceWith(initalIcons);
                }

                $(this).closest(".customTimeBlock").remove();
            });

        });
    </script>
}


