﻿@model WebApp.Models.RegisterViewModels.SetPerson

@{
    ViewData["Title"] = "CreatePerson";
}

<h1>CreatePerson</h1>

<h4>SetPerson</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreatePerson">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="LName" class="control-label"></label>
                <input asp-for="LName" class="form-control" />
                <span asp-validation-for="LName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FName" class="control-label"></label>
                <input asp-for="FName" class="form-control" />
                <span asp-validation-for="FName" class="text-danger"></span>
            </div>

            @if (ViewBag.NameError != null)
            {
                <div id="viewBagNameError">
                    <p class="text-danger">Une erreur est survenue : @ViewBag.NameError</p>
                </div>
            }

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {

    <script>
        $(document).ready(function () {

            function fadeOutCustom(selector, time) {
                selector.fadeOut(time);
            }

            // FadeOut ViewBag + display form as it was before error
            if ($("#viewBagNameError").length) {
                fadeOutCustom($("#viewBagNameError"), 10000)
            }
        });
    </script>
}
