﻿@model IEnumerable<WebApp.Models.CompanyStatus>

@{
    ViewData["Title"] = "GetAllCompanyStatus";
}

<h1>GetAllCompanyStatus</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusName)
            </td>
            <td>
                @Html.ActionLink("Edit", "UpdateCompanyStatus", new { id = item.Id }) |
                @Html.ActionLink("Details", "GetCompanyStatus", new { id = item.Id }) |
                @Html.ActionLink("Delete", "DeleteCompanyStatus", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
