﻿@model WebApp.Models.CompanyStatus

@{
    ViewData["Title"] = "GetCompanyStatus";
}

<h1>GetCompanyStatus</h1>

<div>
    <h4>CompanyStatus</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusName)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "UpdateCompanyStatus", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
