﻿@{
    ViewData["Title"] = "Home Page";
}

    <div>
        <h1 class="display-4">Bienvenue à l'Atelier de traction d'Arlon</h1>

        <p>Pour des raisons de sécurité, toute personne extérieure est tenue de signer le registre de présences.</p>
            
        <p>En cas d'incendie ou de problème important, ce registre nous permettra d'identifier rapidement les personnes qui
            se trouvent dans nos enceintes afin de leur porteur secours.
        </p>

        @Html.ActionLink("Signer le registre", "Index", "Register", null, new { @class = "btn btn-primary" })
    </div>

    @*<a asp-controller="CheckIn" asp-action="RegisterType">CheckIn</a>*@

