﻿@model WebApp.Models.RegisterViewModels.SetCompany

@{
    ViewData["Title"] = "SetCompany";
}

<h1>Registre des présences</h1>

<h3>Pour quelle société travaillez-vous?</h3>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="SetCompany" id="formSetCompany">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="IdAutoComplete" />
            <input type="hidden" asp-for="CompanyStatusId" />

            @if (Model.Companies.Count() != 0)
            {
                @*DropDown List for company*@
                <div class="form-group" id="setCompanyId">
                    <label asp-for="Id" class="control-label"></label>
                    <select name="Id" asp-items="Model.Options" id="Id">
                        <option value="">-- Sélectionnez une société --</option>
                        <option value="100">SNCF</option>
                    </select>
                </div>

                @*DropDown List for department*@
                <div class="form-group d-none" id="setCompanyDepartment">
                    <label asp-for="DepartmentId" class="control-label"></label>
                    <select name="DepartmentId" id="DepartmentId">
                        <option value="">-- Sélectionnez un département --</option>
                    </select>
                </div>

                @*Input text for company's other name*@
                <div class="form-group d-none" id="setCompanyNameOther">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                @*Input text for department's other name*@
                <div class="form-group d-none" id="setDepartmentNameOther">
                    <label asp-for="DepartmentName" class="control-label"></label>
                    <input asp-for="DepartmentName" class="form-control" />
                    <span asp-validation-for="DepartmentName" class="text-danger"></span>
                </div>
            }
            else
            {
                @*Input text for company's other name*@
                <div class="form-group" id="setCompanyNameOther">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            }

            <div class="form-group">
                <input type="submit" value="Valider" class="btn btn-primary" />
            </div>
        </form>

        @if (ViewBag.Error != null)
        {
            <div id="viewBagError">
                <p class="text-danger">Une erreur est survenue : @ViewBag.Error</p>
            </div>
        }

    </div>
</div>


@section Scripts {
    <script>

        // Validation Jquery
        $.validator.addMethod("required-if-otherfield-is-zero", function (value, element, params) {
            // console.log("je passe");
            var otherfield = $("#" + params.otherfield).val();

            if (otherfield === "0" & isNullOrWhitespace(value)) {
                return false;
            }
            else {
                return true;
            }
        });

        $.validator.unobtrusive.adapters.add("required-if-otherfield-is-zero", ["otherfield"], function (options) {
            options.rules["required-if-otherfield-is-zero"] = {
                otherfield: options.params['otherfield']
            };
            options.messages["required-if-otherfield-is-zero"] = options.message;

        });

        function isNullOrWhitespace(input) {
            if (typeof input === 'undefined' || input == null) return true;
            return input.replace(/\s/g, '').length < 1;
        }

        function fadeOutCustom(selector, time) {
            selector.fadeOut(time);
        }

        // Save selectors and html blocks
        let department = $("#setCompanyDepartment");
        let departmentChildren = $("#DepartmentId").html();
        let companyOtherName = $("#setCompanyNameOther");
        let departmentOtherName = $("#setDepartmentNameOther");

        // Store the Id value of the selected department item before it s remove from the DOM
        let dropdwDepartmentId = $("select#DepartmentId");
        let departmentId = dropdwDepartmentId.val();

        $(document).ready(function () {

            // Remove input field for company's name
            //$("#Name").autocomplete('close').val('');
            if ($("#Name").val() != null) {
                $("#Name").val("");
            }

            // FadeOut ViewBag
            if ($("#viewBagError").length) {
                fadeOutCustom($("#viewBagError"), 10000)
            }

            // Store the Id value of the selected company item
            let dropdwId = $("select#Id");
            let id = dropdwId.val();

            // When a selection is made by the user in the company dropdownlist
            $("#Id").change(function () {
                console.log("passe");

                // Remove selected if present from postback Error
                if ($("#Id option:selected").length) {
                    $("#Id option").removeAttr('selected')
                }

                // Remove input field for company's name
                //$("#Name").autocomplete('close').val('');
                if ($("#Name").val() != null) {
                    $("#Name").val("");
                }

                // Modify the Id value of the selected item
                id = dropdwId.val();

                // If the user selects a company >
                if (id > "0") {

                    if (!companyOtherName.hasClass("d-none")) {
                        companyOtherName.addClass('d-none');
                    }

                    if (!department.hasClass("d-none")) {
                        department.addClass('d-none');
                    }

                    if (!departmentOtherName.hasClass("d-none")) {
                        departmentOtherName.addClass('d-none');
                    }

                    // > The corresponding departments are displayed by Ajax request

                    var t = $("input[name='__RequestVerificationToken']").val();

                    $.ajax({
                        url: "/Register/GetDepartmentsByCompany",
                        data: { companyId: id },
                        type: "GET",
                        headers:
                        {
                            "RequestVerificationToken": t
                        },
                        success: function (result) {
                            if (result != 0) {
                                debugger;
                                // If departments exists
                                $("#DepartmentId").empty();
                                $("#DepartmentId").append(departmentChildren);
                                department.removeClass('d-none');

                                $.each(result, function (index, row) {
                                    $("#DepartmentId").append("<option value='" + row.id + "'>" + row.name + "</option>");

                                    // #TODO : isolate the callback function out of the ajax block
                                    $("select#DepartmentId").change(function () {
                                        departmentId = dropdwDepartmentId.val();

                                        if (departmentId === "0") {
                                            departmentOtherName.removeClass('d-none');;
                                        }
                                        else {
                                            departmentOtherName.addClass('d-none');
                                        }
                                    });
                                })
                            }
                            else {
                                $("#DepartmentId").val("");
                            }
                        },
                        dataType: "json",
                    });
                }
            
        }); // End of document
    </script>
}



