﻿@model WebApp.Models.RegisterViewModels.SetPerson

@{
    ViewData["Title"] = "TestFormCollection";
}

<h1>TestFormCollection</h1>

<h4>SetPerson</h4>
<hr />
<div class="row">
    <div class="col-md-4">

        <form asp-action="TestFormCollection" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group" id="setCompanyNameOther">
                <label asp-for="LName" class="control-label"></label>
                <input asp-for="LName" class="form-control" />
                <span asp-validation-for="LName" class="text-danger"></span>
            </div>
            <div class="form-group" id="setCompanyNameOther">
                <label asp-for="LName" class="control-label"></label>
                <input asp-for="LName" class="form-control" />
                <span asp-validation-for="LName" class="text-danger"></span>
            </div>

            <div class="form-group" id="customTime">
                <p>Définissez un horaire pour chaque jour que vous ajoutez.</p>
                <div class="d-flex">
                    <div style="margin-right:1rem;">
                        <p>Date de début</p>
                        <input type="datetime-local" id="TimeIn" name="TimeIn">
                    </div>
                    <div>
                        <p>Date de fin</p>
                        <input type="datetime-local" id="Timeout" name="Timeout">
                    </div>

                    <div style="margin-right:1rem;">
                        <p>Date de début</p>
                        <input type="datetime-local" id="TimeIn1" name="TimeIn1">
                    </div>
                    <div>
                        <p>Date de fin</p>
                        <input type="datetime-local" id="Timeout1" name="Timeout1">
                    </div>

                    <div style="margin-right:1rem;">
                        <p>Date de début</p>
                        <input type="datetime-local" id="TimeIn2" name="TimeIn2">
                    </div>
                    <div>
                        <p>Date de fin</p>
                        <input type="datetime-local" id="Timeout2" name="Timeout2">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

