﻿@model WebApp.Models.CompanyStatus

@{
    ViewData["Title"] = "UpdateCompanyStatus";
}

<h1>UpdateCompanyStatus</h1>

<h4>CompanyStatus</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateCompanyStatus">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusName" class="control-label"></label>
                <input asp-for="StatusName" class="form-control" />
                <span asp-validation-for="StatusName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

