﻿@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Erreur</h1>
<h2 class="text-danger">Une erreur est survenue pour atteindre la ressource demandée.</h2>

<p>Veuillez contacter l'administrateur Yves-Marie David dont le bureau se trouve au premier étage.</p>

<p>Vous pouvez tenter de poursuivre votre navigation si le site le permet : @Html.ActionLink("Page d'accueil", "Index", "Home");</p>

@*@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}*@

@*<h3>Development Mode</h3>
<p>
    Swapping to <strong>Development</strong> environment will display more detailed information about the error that occurred.
</p>
<p>
    <strong>The Development environment shouldn't be enabled for deployed applications.</strong>
    It can result in displaying sensitive information from exceptions to end users.
    For local debugging, enable the <strong>Development</strong> environment by setting the <strong>ASPNETCORE_ENVIRONMENT</strong> environment variable to <strong>Development</strong>
    and restarting the app.
</p>*@
