﻿
@{
    ViewData["Title"] = "Index";
}

<h1>Erreur</h1>
<hr />

<p>Une erreur est survenue, nous avons dû interrompre le processus.</p>

@if (Context.User.Identity.IsAuthenticated)
{
    <p>Rapport d'erreur : @ViewBag.Message</p>

    @if (ViewBag.Url != null)
    {
        <a href="@ViewBag.Url">Retourner sur la page précédante</a>
    }
    else
    {
        <a href="@ViewBag.DashboardUrl">Retourner au dashboard</a>
    }
}
else
{
    <p>Si vous étiez sur le point d'utiliser le registre, veuillez utiliser le registre papier pour l'instant. Toutes nos excuses.</p>
}

