﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Atelier de traction d'Arlon</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/lib/jquery-ui/jquery-ui.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" >
        <!-- #TODO include materialize properly-->
    </environment>
    <environment include="Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.min.css" />
        <link rel="stylesheet" href="~/lib/jquery-ui/jquery-ui.min.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </environment>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
</head>
<body>
    <header class="bg-blueSncb">
        <!-- SVG -->
        <div class="icon-container">
            <a href="/fr" class="icon-link">
                <svg class="icon" focusable="false">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-nmbs-logo">
                        <svg id="icon-nmbs-logo" viewBox="0 0 512 512">
                            <path d="M256 403.3c-115 0-208.7-66.2-208.7-147.3S141 108.7 256 108.7 464.7 174.9 464.7 256 371 403.3 256 403.3m0-311.9C116.6 91.4 4 164.6 4 256s112.6 164.6 252 164.6 252-74 252-164.6S395.4 91.4 256 91.4" xmlns="http://www.w3.org/2000/svg"></path>
                            <path d="M267 342.6h-27.6c-8.7 0-13.4-3.9-13.4-11v-63c0-3.9 1.6-5.5 5.5-5.5H267c22.3 0 40.5 17.9 40.9 40.2.3 21.5-16.9 39.1-38.4 39.4-.8 0-1.6 0-2.5-.1M226.1 182c0-7.1 4.7-11 13.4-11h18.1c18.7-.8 34.6 13.7 35.4 32.4v1.5c-.3 19.3-16.1 34.8-35.4 34.6h-26c-3.9 0-5.5-1.6-5.5-5.5v-52zm111 70.1c-5.5-2.4-5.5-3.2 0-6.3 14.1-8.7 22.5-24.3 22-40.9 0-30.7-40.9-61.4-106.3-61.4-37.8-.2-74.5 12-104.7 34.6-5.5 4.7-4.7 7.1-3.1 8.7l9.5 11c3.1 3.2 4.7 2.4 6.3.8 7.1-5.5 7.9-2.4 7.9 3.9v108.7c0 6.3-.8 9.5-7.9 3.9-1.6-1.6-3.1-2.4-6.3.8l-10.2 11.8c-1.6 2.4-3.1 4.7 3.2 8.7 31.6 21.6 68.8 33.4 107.1 33.9 73.2 0 118.9-30.7 118.9-71.7.6-27.6-22.2-41-36.4-46.5" xmlns="http://www.w3.org/2000/svg"></path>
                        </svg>
                    </use>
                </svg>
            </a>
        </div>
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-toggleable-md navbar-light bg-blueSncb box-shadow mb-3">
                <a class="navbar-brand" href="/">Atelier de traction d'Arlon</a>
                <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-md-inline-flex flex-md-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Register" asp-action="Index">Signer le registre</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Atelier de traction d'Arlon -
            @if (User.Identity.IsAuthenticated)
            {       
                <a asp-controller="Admin" asp-action="Index">Dashboard</a> @:|
                <a asp-controller="Admin" asp-action="Details" asp-route-id="@Context.User.FindFirst("Id").Value">@User.Identity.Name</a> @:- @Context.User.FindFirst("RoleType").Value
                <a asp-controller="Account" asp-action="Logout"><span class="material-icons">power_settings_new</span></a>
            }
            else
            {
                <a asp-controller="Account" asp-action="Login">Gestion</a>
            }
        </div>
    </footer>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/jquery-ui/jquery-ui.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment include="Production">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    </environment>


    @RenderSection("Scripts", required: false)
</body>
</html>
