﻿
<div class="form-group d-inline-block" style="margin-right: 0.5rem;">
    <label for="registerFilter" class="control-label"></label>
    <select id="registerFilter" name="registerFilter">
        <option value="">-- Filtre par période --</option>
        <option value="0">Aujourd'hui</option>
        <option value="1">Hier</option>
        <option value="2">Cette semaine</option>
        <option value="3">Ce mois</option>
        <option value="4">Tous</option>
    </select>
</div>
