﻿
<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Suppression d'un jeu de paramètres de test</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Vous êtes sur le point de supprimer un jeu de paramètres de test.</p>
                    <p>Si vous validez cette opération, tous les tests liés à ce jeu de paramètres se verront attribués le jeu de paramètres par défaute.</p>
                    <p>Cliquez sur "Supprimer" pour valider la suppression ou "Annuler" pour revenir à l'écran précédant.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-primary" data-save=@String.Format("deleteTestSettings{0}", ViewBag.TestSettingsId)>Supprimer</button>
                </div>
            </div>
        </div>
    </div>
</div>