﻿@model WebApp.Models.TestSettingsViewModels.TestSettingsVM

<table class="table custom-table-bordered tableCustomLayout" id=@String.Format("table{0}", Model.Id)>
    <caption>@Model.Title</caption>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Treshold)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValidityPeriod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FailurePeriod)
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.Treshold)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.ValidityPeriod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.FailurePeriod)
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <a href="#" data-toggle="modal-edit-testSettings" data-target="#EditTestSettingsModal" data-url="@Url.Action("Edit", "TestSettings", new { id = Model.Id })">Editer</a>
                @if (Model.Id != 1)
                {
                    @:| @Html.ActionLink("Supprimer", "Delete", new { id = Model.Id }, new { @class = "deleteTestSettings" })
                }
            </td>
        </tr>
    </tbody>
</table>