﻿@model WebApp.Models.TestSettingsViewModels.TestSettingsVM

<!-- Modal -->
<div class="modal fade" id="EditTestSettingsModal" tabindex="-1" role="dialog" aria-labelledby="EditTestSettingsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="EditTestSettingsModalLabel">Edition du jeu de paramètres de test</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Edit" method="post">
                    @*<input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />*@
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Title"></label>
                        @if (Model.Id == 1)
                        {
                            <input asp-for="Title" class="form-control" readonly="@(true)" />
                        }
                        else
                        {
                            <input asp-for="Title" class="form-control" readonly="@(false)" />
                        }
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Treshold"></label>
                        <input asp-for="Treshold" class="form-control" />
                        <span asp-validation-for="Treshold" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ValidityPeriod"></label>
                        <input asp-for="ValidityPeriod" class="form-control" />
                        <span asp-validation-for="ValidityPeriod" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FailurePeriod"></label>
                        <input asp-for="FailurePeriod" class="form-control" />
                        <span asp-validation-for="FailurePeriod" class="text-danger"></span>
                    </div>
                </form>
            </div>
            @if (ViewBag.Error != null)
            {
                <div id="viewBagError">
                    <p class="text-danger">Une erreur est survenue : @ViewBag.Error</p>
                </div>
            }
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-primary" data-save="save-edit-testSettings">Valider</button>
            </div>
        </div>
    </div>
</div>