﻿@model IEnumerable<WebApp.Models.TestSettingsViewModels.TestSettingsVM>

@{
    ViewData["Title"] = "TestSettings";
}

<h1>Paramètres des tests</h1>
<h2>Listing</h2>
<hr />

<div class="customBreadcrumb">
    @Html.ActionLink("DashBoard", "Index", "Admin") |
    <a href="@Url.Action("Create")" data-toggle="modal-create-testSettings" data-target="#createTestSettingsModal" data-url="@Url.Action("Create")">Ajouter</a>
</div>

<!-- Modal placeholder -->
<div id="modal-placeholder">
</div>

<div class="adapt75">
    <p>
        Les paramètres suivants sont indispensables à la bonne tenue des tests de sécurité.
    </p>

    <p>
        Le seuil est le résultat minimum à obtenir pour réussir un test. En cas de réussite ou d'échec,
        le test de l'utilisateur sera valable pendant le nombre de jours déterminé ci-dessous.
    </p>
    <p>
        Vous pouvez utiliser les paramètres par défaut pour tous les tests ou en ajouter de nouveaux au besoin.
    </p>
</div>

<div class="adapt75" id="testSettingsListContainer">
@foreach (var item in Model)
{
    <table class="table custom-table-bordered tableCustomLayout" id=@String.Format("table{0}", item.Id)>
        <caption>@item.Title</caption>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Treshold)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ValidityPeriod)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FailurePeriod)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Treshold)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValidityPeriod)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FailurePeriod)
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <a href="@Url.Action("Edit", "TestSettings", new { id = item.Id })" data-toggle="modal-edit-testSettings" data-target="#EditTestSettingsModal" data-url="@Url.Action("Edit", "TestSettings", new { id = item.Id })">Editer</a>
                    @if (item.Id != 1)
                    {
                        @:| @Html.ActionLink("Supprimer", "Delete", new { id = item.Id }, new { @class = "deleteTestSettings" })
                    }
                </td>
            </tr>
        </tbody>
    </table>
}
</div>


@section Scripts{
    <script>
        $(document).ready(function () {
            // let modalToken = $("input[name='__RequestVerificationToken']").val();

            // Open modal to Add TestSettings
            $("a[data-toggle='modal-create-testSettings']").click(function (e) {
                e.preventDefault();

                var url = $(this).data('url');

                // Load partial modal
                $.ajax({
                    url: url,
                    type: "GET",
                    //headers: { "RequestVerificationToken": modalToken },
                    success: function (result) {
                        $('#modal-placeholder').html(result);
                        $('#modal-placeholder > .modal').modal('show');
                    }
                });
            });

            // Add TestSettings submit form
            $('#modal-placeholder').on("click", "[data-save='save-create-testSettings']", function (event) {
                event.preventDefault();

                var form = $('#modal-placeholder form');
                var actionUrl = form.attr('action');
                var dataToSend = form.serialize();

                $.post(actionUrl, dataToSend).done(function (data) {

                    // If the modal partial view is returned, it means there is an error
                    var newBody = $('.modal-body', data);

                    if (newBody.length) {
                        $('#modal-placeholder').find('.modal-body').replaceWith(newBody)
                    }
                    else {
                        // Hide Modal
                        $('#modal-placeholder').find('.modal').modal('hide');

                        // Append new content
                        $(data).appendTo("#testSettingsListContainer");

                        // Show Modal 
                        let title = "Ajout d'un jeu de paramètres de test";
                        let message = "Ajout réalisé avec succès.";
                        DisplayModal(title, message);
                    }
                });
            }); // end add

            // Open modal to edit TestSettings
            $("#testSettingsListContainer").on("click", "a[data-toggle='modal-edit-testSettings']", function (event) {
                event.preventDefault();
                var url = $(this).data('url');

                // Load partial modal
                $.ajax({
                    url: url,
                    type: "GET",
                    //headers: { "RequestVerificationToken": modalToken },
                    success: function (result) {
                        $('#modal-placeholder').html(result);
                        $('#modal-placeholder > .modal').modal('show');
                    }
                });
            }); // end Open modal

            // Update TestSettings submit form
            $('#modal-placeholder').on("click", '[data-save="save-edit-testSettings"]', function (event) {
                event.preventDefault();

                var form = $('#modal-placeholder form');
                var actionUrl = form.attr('action');
                var dataToSend = form.serialize();

                $.post(actionUrl, dataToSend).done(function (data) {

                    // If the modal partial view is returned, it means there is an error
                    var modal = $(data).filter(".modal");

                    if (modal.length) {
                        $('#modal-placeholder').html(data);
                        $('#modal-placeholder > .modal').modal('show');
                        HideModalBackDrop();
                    }
                    else {
                        // Hide Modal
                        $('#modal-placeholder').find('.modal').modal('hide');

                        // Replace new content
                        let updateItem = "#table" + $("#Id").val() + " tbody tr:first-child";
                        let updateCaption = "#table" + $("#Id").val() + " caption";

                        $(updateCaption).replaceWith($('caption', data));
                        $(updateItem).replaceWith($('tbody tr:first-child', data));

                        // Show Modal success
                        let title = "Edition des paramètres du test";
                        let message = "Edition réalisée avec succès.";
                        DisplayModal(title, message);
                    }
                });
            }); // end update

            // Delete TestSettings display alert modal          
            $("#testSettingsListContainer").on("click", ".deleteTestSettings", function (e) {
                e.preventDefault();

                // Get id of testSettingsToDelete
                let updateItem = $(this).closest("table");
                let id = updateItem.attr("id").replace("table", "");

                $.ajax({
                    url: "/TestSettings/AlertDelete",
                    data: { id: id },
                    type: "GET",
                    success: function (result) {                        
                        $('#modal-placeholder').html(result);
                        $('#modal-placeholder > .modal').modal('show');
                    }
                });

            });

            // Delete TestSettings
            $('#modal-placeholder').on("click", '[data-save^="deleteTestSettings"]', function (e) {
                e.preventDefault();

                // Get id of testSettingsToDelete
                let id = $(this).attr('data-save').replace("deleteTestSettings", "");

                $.ajax({
                    url: "/TestSettings/Delete",
                    data: { id: id },
                    type: "POST",
                    success: function (result) {
                        $('#modal-placeholder').html(result);
                        $('#modal-placeholder > .modal').modal('show');

                        ReloadPageOnModalClose();
                    }
                });
            });

        });

    </script>
}