﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*Fjd*/

.bg-blueSncb {
    background-color: #006ab3;
}

hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.withoutBreadCrumb {
    margin-bottom: 1.5rem;
}

.icon-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 0.5rem;
}

.icon-link {
    position: relative;
    color: #3a3a3a;
    display: block;
    height: 40px;
    width: 40px;
}

.icon-container .icon-link {
    color: #fff;
}

.icon-link .icon {
    width: 100%;
    height: 100%;
    fill: currentColor;
}

.navbar {
    padding: .5rem 0rem;
}

.navbar-brand {
    font-size: 1.35rem;
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a.navbar-brand {
    text-decoration: none;
}

.navbar-light .navbar-brand {
    color: #fff;
}

.navbar-light .navbar-toggler {
    border-color: rgba(0, 0, 0, 0.1);
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler:hover, .navbar-toggler:focus {
    outline: none;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-brand {
    color: #fff;
}

ul.navbar-nav {
    align-self: flex-end;
    display: flex;
    justify-content: center;
}

.secondaryCustomNav .nav-link {
    padding: 0.5rem 1.5rem 0.5rem 0rem;
    font-size:1.3rem;
}

.secondaryCustomNav a.nav-link.active, .secondaryCustomNav a.nav-link:hover {
    color: #212529;
}

.customBreadcrumb {
    margin-bottom: 1.5rem;
}

.lastFlex {
    margin-left: auto;
}


.topButton{
    margin-bottom:0.5rem;
}

.topButtonsContainer, .topSingleButtonContainer {
    width: 100%;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.topButtonsContainer {
    justify-content: space-between;
}

.topSingleButtonContainer {
    display: flex;
    justify-content: flex-end;
}

.btn-custom {
    padding: 0;
    color: #0366d6;
    border: none;
    background: none;
    outline: none;
    outline-color: none;
}

.emptyContent {
    margin-top: 20px;
}

caption {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: #212529;
    font-size: 1.25rem;
    font-weight: 700;
    text-align: left;
    caption-side: top;
}

thead, .tr-background {
    background-color: rgba(0, 0, 0, 0.05);
}

.custom-table-bordered {
    outline: 1px solid #dee2e6;
    transition: outline 0.2s linear;
}

.update-table-anim {
    outline-width: 6px;
}


.tableCustomLayout th, .tableCustomLayout td {
    padding: 0.4rem;
}

.tableCustomLayout th {
    font-size: 1.1rem;
    border-right: none;
}

.thSideBySide {
    float: right;
    font-size: 1rem;
    font-weight: 400;
}

/*TODO : to delete */
.registersTable td {
    width: 50%;
}

/*TODO : to delete */
.registersTable div.companyTh {
    float: right;
    font-size: 1rem;
    font-weight:400;
}

.invalid-feedback {
    font-size: 1rem;
}

.invalid {
    display: block;
}

.link-block {
    margin-bottom: 1.5rem;
    display: block;
}

.twoFlexSameLine {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.dashboardSection{
    margin-bottom: 1rem;
}

.addRegisterPlanningWizard {
    min-height: 25vh;
    margin-top:20px;
}

.addRegisterPlanningWizardBtnNext {
    margin-top: 2rem;
}

.nav-tabs li[id*='addRegisterMenuItem'] span.active {
    color: #1b6ec2;
}

span.text-danger.field-validation-error {
    display: block;
}

.dateItem {
    margin: 0 1rem 1rem 0;
}

.addRemoveDatesIcon {
    align-self: center;
    margin: 1rem 1rem 0 0;
}

.material-icons.qcmGood {
    color: green;
}

.material-icons.qcmBad {
    color: red;
}

.material-icons {
    width: 25px;
    height: 25px;
    position: relative;
    top: 5px;
    color: #0366d6;
}

.text-danger {
    border-color: #dc3545;
}

/*input[type="checkbox"] {
    position: relative;
    top: 12px;
    width: 15px;
    display: inline-block;
    margin-left: 10px;
}*/

/*TODO : DELETE if not used */
#EditQuestionModal input[type="checkbox"], #AddQuestionModal input[type="checkbox"], #EditPersonModal input[type="checkbox"] {
    position: relative;
    top: 12px;
    width: 15px;
    display: inline-block;
    margin-left: 10px;
}

#AddQuestionModal input[id^="test"], #EditQuestionModal input[id^="test"] {
    top: 2px;
}


input[type="checkbox"]:focus {
    color: none;
    background-color: #fff;
    border-color: none;
    outline: 0;
    box-shadow: none;
}

#EditQuestionModal input[type="radio"] {
    margin-right: 10px;
}

#EditQuestionModal span.material-icons {
    margin-right: 20px;
    top:5px;
}

#EditQuestionModal input[type="text"], #AddQuestionModal input[type="text"] {
    width: 80%;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Media Queries */
@media (min-width: 576px) {
    .navbar-brand {
        font-size: 2.45rem;
    }
}

@media (min-width: 992px) {
    .topSingleButtonContainer, .adapt75 {
        width: 75%;
    }
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
