﻿@model WebApp.Models.PersonViewModels.PersonVM

<div class="modal fade" id="EditPersonModal" tabindex="-1" role="dialog" aria-labelledby="EditPersonModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="EditPersonModalLabel">Edition de l'employé</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Edit" method="post">

                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="AdminId" />

                    <div class="form-group">
                        <label asp-for="LName"></label>
                        <input asp-for="LName" />
                        <span asp-validation-for="LName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="FName"></label>
                        <input asp-for="FName" />
                        <span asp-validation-for="FName" class="text-danger"></span>
                    </div>

                    <div class="form-group" style="margin-right: 0.5rem;">
                        <label asp-for="CompanyStatusId" class="control-label">
                            @Html.DisplayNameFor(m => m.CompanyStatusId)
                            <select asp-for="CompanyStatusId" asp-items="@(new SelectList(Model.CompanyStatuses, "Id", "StatusName", Model.CompanyStatusId))">
                                <option value="0">-- Sélectionnez un statut --</option>
                            </select>
                        </label>
                    </div>

                    <div class="form-group" style="margin-right: 0.5rem;">
                        <label asp-for="CompanyId" class="control-label">
                            @Html.DisplayNameFor(m => m.CompanyId)
                            <select asp-for="CompanyId" asp-items="@(new SelectList(Model.Companies, "Id", "CompanyName", Model.CompanyId))">
                                <option value="0">-- Sélectionnez un société --</option>
                            </select>
                        </label>
                    </div>

                    @if (Model.Departments != null)
                    {
                        <div id="departmentBlock" class="form-group" style="margin-right: 0.5rem;">
                            <label asp-for="DepartmentId" class="control-label">
                                @Html.DisplayNameFor(m => m.DepartmentId)
                                <select asp-for="DepartmentId" asp-items="@(new SelectList(Model.Departments, "Id", "Name", Model.DepartmentId))">
                                    <option value="0">-- Sélectionnez un département --</option>
                                </select>
                            </label>
                        </div>
                    }

                    <div class="form-group" style="margin-top: -20px;">
                        <label asp-for="Deleted">
                            @Html.DisplayNameFor(model => model.Deleted)
                            <input class="form-control" asp-for="Deleted" />
                        </label>
                    </div>
                </form>

                @if (ViewBag.Error != null)
                {
                    <div id="viewBagError">
                        <p class="text-danger">Une erreur est survenue : @ViewBag.Error</p>
                    </div>
                }
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-primary" data-save="save-edit-person">Valider</button>
            </div>
        </div>
    </div>
</div>

