﻿@model IEnumerable<WebApp.Models.PersonViewModels.PersonVM>

@if (Model.Count() > 0)
{
    @foreach (var item in Model)
    {
        <table id="@item.Id" class="table table-bordered table-condensed table-striped tableCustomLayout">
            <tbody>
                <tr>
                    <th>
                        <a asp-controller="Person" asp-action="Details" asp-route-id="@item.Id" title="Profil de l'employé">@item.LName @item.FName</a>
                        <div class="thSideBySide">
                            @Html.DisplayFor(modelItem => item.CompanyName) (@Html.DisplayFor(modelItem => item.StatusType))
                        </div>
                    </th>
                </tr>
                <tr>
                    <td>
                        @if (item.DepartmentName != null)
                        {
                            <strong>@Html.DisplayNameFor(modelItem => item.DepartmentName): </strong> @item.DepartmentName<br />
                        }
                        <strong>@Html.DisplayNameFor(modelItem => item.Deleted): </strong> @item.Deleted.BoolToHtmlString("Oui", "Non")<br />
                        <strong>@Html.DisplayNameFor(modelItem => item.IsInOrder): </strong> @item.IsInOrderToString<br />
                    </td>
                </tr>
                @*<tr>
                    <td colspan="2">
                        @Html.ActionLink("Editer", "Edit", new { id = item.Id }) |
                        @if (item.Deleted == true)
                        {
                            @Html.ActionLink("Restaurer", "Restore", new { id = item.Id })
                        }
                        else
                        {
                            @Html.ActionLink("Archiver", "SoftDelete", new { id = item.Id })
                        }
                    </td>
                </tr>*@
            </tbody>
        </table>
    }
}
else
{
    <p>Le filtrage n'a donné aucun résultat.</p>
}