﻿@model WebApp.Models.PersonViewModels.PersonVM

@{
    ViewData["Title"] = "Create";
}

<h1>Employé</h1>
<h2>Ajouter</h2>
<hr />

<div class="customBreadcrumb">
    @Html.ActionLink("DashBoard", "Index", "Admin") |
    <a asp-action="Index">Liste des employés</a>
</div>

<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="AdminId" />

            <div class="form-group">
                <label asp-for="LName" class="control-label"></label>
                <input asp-for="LName" class="form-control" />
                <span asp-validation-for="LName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FName" class="control-label"></label>
                <input asp-for="FName" class="form-control" />
                <span asp-validation-for="FName" class="text-danger"></span>
            </div>

            <div class="form-group" style="margin-right: 0.5rem;">
                <label asp-for="CompanyStatusId" class="control-label">
                    @Html.DisplayNameFor(m => m.CompanyStatusId)
                    <select asp-for="CompanyStatusId" asp-items="@(new SelectList(Model.CompanyStatuses, "Id", "StatusName", Model.CompanyStatusId))">
                        <option value="0">-- Sélectionnez un statut --</option>
                    </select>
                </label>
            </div>

            <div class="form-group" style="margin-right: 0.5rem;">
                <label asp-for="CompanyId" class="control-label">
                    @Html.DisplayNameFor(m => m.CompanyId)
                    <select asp-for="CompanyId" asp-items="@(new SelectList(Model.Companies, "Id", "CompanyName", Model.CompanyId))">
                        <option value="0">-- Sélectionnez un société --</option>
                    </select>
                </label>
            </div>

            <div id="departmentBlock" class="form-group d-none" style="margin-right: 0.5rem;">
                <label asp-for="DepartmentId" class="control-label">
                    @Html.DisplayNameFor(m => m.DepartmentId)
                    <select asp-for="DepartmentId">
                        <option value="0">-- Sélectionnez un département --</option>
                    </select>
                </label>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Deleted" /> @Html.DisplayNameFor(model => model.Deleted)
                </label>
            </div>

            <div class="form-group">
                <input type="submit" value="Ajouter" class="btn btn-primary" />
            </div>
        </form>
        @if (ViewBag.Error != null)
        {
            <div id="viewBagError">
                <p class="text-danger">Une erreur est survenue : @ViewBag.Error</p>
            </div>
        }
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            // Update compagnies on StatusId change        
            $("#CompanyStatusId").on("change", function (e) {

                let statusId = $("#CompanyStatusId").val();

                // Hide departments 
                if (!$("#departmentBlock").hasClass("d-none")) {
                    $("#departmentBlock").addClass("d-none");
                }

                // Get compagnies by status
                $.ajax({
                    url: "/Person/GetCompanies",
                    data: { statusId: statusId },
                    type: "GET",
                    success: function (result) {

                        $("#CompanyId").empty();
                        $("#CompanyId").append("<option value='0'>-- Sélectionnez un société --</option>");

                        $.each(result, function (index, row) {
                            $("#CompanyId").append("<option value='" + row.id + "'>" + row.companyName + "</option>");
                        })
                    }
                }); // End of Ajax

                // Get departements for SNCB
                $("#CompanyId").on("change", function (e) {

                    companyId = $("#CompanyId").val();

                    if (companyId !== "1") {
                        if (!$("#departmentBlock").hasClass("d-none")) {
                            $("#departmentBlock").addClass("d-none");
                        }
                    }
                    else {
                        if ($("#departmentBlock").hasClass("d-none")) {
                            $("#departmentBlock").removeClass("d-none");

                            $.ajax({
                                url: "/Person/GetDepartments",
                                data: { companyId: companyId },
                                type: "GET",
                                success: function (result) {

                                    $("#DepartmentId").empty();
                                    $("#DepartmentId").append("<option value='0'>-- Sélectionnez un département --</option>");

                                    $.each(result, function (index, row) {
                                        $("#DepartmentId").append("<option value='" + row.id + "'>" + row.name + "</option>");
                                    })
                                }
                            });
                        }
                    }
                });
            });

        });

    </script>


}

