﻿@model WebApp.Models.PersonViewModels.PersonVM

@{
    ViewData["Title"] = "Details";
}

<h1>Employé</h1>
<h2>Détails: @Html.DisplayFor(model => model.LName) @Html.DisplayFor(model => model.FName)</h2>
<hr />

<div class="customBreadcrumb">
    @Html.ActionLink("DashBoard", "Index", "Admin") |
    @*@Html.ActionLink("Editer", "Edit", new { id = Model.Id }) |*@
    <a href="@Url.Action("Edit", "Person", new { id = Model.Id })" data-toggle="ajax-modal-EditPerson" data-target="#EditPersonModal" data-url="@Url.Action("Edit", "Person", new { id = Model.Id })">Editer</a> |
    <a asp-action="Index">List des employés</a>
</div>

<!-- Modal placeholder -->
<div id="modal-placeholder">
</div>

<div>
    <input type="hidden" asp-for="@Model.Id" />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Deleted)
        </dt>
        <dd class="col-sm-10">
            @Model.Deleted.BoolToHtmlString("Oui", "Non")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsInOrderToString)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsInOrderToString)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StatusType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StatusType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        @if (Model.DepartmentName != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DepartmentName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DepartmentName)
            </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AdminName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AdminName)
        </dd>
    </dl>
</div>

@if (ViewBag.ModalTitle != null && ViewBag.ModalMessage != null)
{
    <div class="d-none" id="viewBagModal">
        <p class="modalTitle">@ViewBag.ModalTitle</p>
        <p class="modalMessage">@ViewBag.ModalMessage</p>
    </div>
}

@section Scripts{
    <script>
        $(document).ready(function () {

            // Open modal edition form
            let editLink = $("a[href^='/Person/Edit']");
            editLink.on("click", function (e) {
                e.preventDefault();

                let url = editLink.attr("href");

                $.ajax({
                    url: url,
                    type: "GET",
                    success: function (result) {
                        $('#modal-placeholder').html(result);
                        $('#modal-placeholder > .modal').modal('show');
                    }
                }); // End of AJax Call

            }); // End of Edit

            // Update compagnies on StatusId change
            $("#modal-placeholder").on("change", "#CompanyStatusId", function (e) {

                let statusId = $("#CompanyStatusId").val();

                // Hide departments
                if (!$("#departmentBlock").hasClass("d-none")) {
                    $("#departmentBlock").addClass("d-none");
                }

                $.ajax({
                    url: "/Person/GetCompanies",
                    data: { statusId: statusId },
                    type: "GET",
                    success: function (result) {

                        $("#CompanyId").empty();
                        $("#CompanyId").append("<option value='0'>-- Sélectionnez un société --</option>");

                        $.each(result, function (index, row) {
                            $("#CompanyId").append("<option value='" + row.id + "'>" + row.companyName + "</option>");
                        })
                    }
                }); // End of Ajax
            });

            // On company change
            $("#modal-placeholder").on("change", "#CompanyId", function (e) {
                companyId = $("#CompanyId").val();

                if (companyId !== "1") {
                    if (!$("#departmentBlock").hasClass("d-none")) {
                        $("#departmentBlock").addClass("d-none");
                    }
                }
                else {
                    if ($("#departmentBlock").hasClass("d-none")) {
                        $("#departmentBlock").removeClass("d-none");
                    }
                }
            });

            // Save edition form
            $("#modal-placeholder").on("click", "button[data-save='save-edit-person']", function (e) {
                e.preventDefault();

                var form = $(this).parents('.modal').find('form');
                var actionUrl = form.attr('action');
                var dataToSend = form.serialize();

                $.ajax({
                    url: actionUrl,
                    data: dataToSend,
                    type: "POST",
                    success: function (result) {

                        $('#modal-placeholder').html(result);
                        $('#modal-placeholder > .modal').modal('show');

                        // Refresh page on modal close
                        let successModal = $(result).filter("#successModal");
                        if (successModal.length) {

                            $('#successModal').on('hidden.bs.modal', function () {
                                location.reload();
                            });
                        }

                        // Hide modal grey background if it remains after modal closing ('hidden.bs.modal' event)
                        HideModalBackDrop();
                    }
                }); // End of Ajax
            }); // End of Save edition form

            // Display modal after redirection from Controller (works with ViewBag.ModalTitle & ViewBag.ModalMessage)
            // After redirection from edit or create       
            let viewBag = $("#viewBagModal");
            if (viewBag.length) {

                let title = $("p.modalTitle").html();
                let message = $("p.modalMessage").html();
                DisplayModal(title, message);
            }

        });
    </script>
}