﻿@model IEnumerable<WebApp.Models.PersonViewModels.PersonVM>
@using WebApp.AppTools

@{
    ViewData["Title"] = "Index";
}

<h1>Employés</h1>
<h2>Listing</h2>
<hr />

<div class="customBreadcrumb">
    @Html.ActionLink("DashBoard", "Index", "Admin") |
    <a asp-controller="Person" asp-action="Create" method="get">Ajouter un employé</a>
</div>

<!-- Modal placeholder -->
<div id="modal-placeholder">
</div>

<div class="adapt75 topButton">

    <div class="d-flex align-items-baseline">

        <div style="margin-right: 1rem;">
            <label for="CompanyStatusId" class="control-label"></label>
            <select id="StatusDropDown" name="StatusDropDown" asp-items="@(new SelectList(@ViewBag.StatusDropDown, "Id", "StatusName"))">
                <option value="0">-- Filtrer par statut --</option>
            </select>
        </div>

        <div>
            <label for="IsNew">
                New
                <input type="checkbox" name="IsNew" />
            </label>
        </div>

        <form asp-action="Filter" method="post" class="d-flex lastFlex">
            <input type="text" name="SearchString" size="24" style="margin-right:0.5rem;" />
            <button id="SearchStringBtn" type="submit" class="btn-custom"><span class="material-icons">search</span></button>
        </form>
    </div>

</div>

<div class="adapt75" id="personListContainer">
    @if (Model.Count() > 0)
    {
        @foreach (var item in Model)
        {
            <table id="@item.Id" class="table table-bordered table-condensed table-striped tableCustomLayout">
                <tbody>
                    <tr>
                        <th>
                            <a asp-controller="Person" asp-action="Details" asp-route-id="@item.Id" title="Profil de l'employé">@item.LName @item.FName</a>
                            <div class="thSideBySide">
                                @Html.DisplayFor(modelItem => item.CompanyName) (@Html.DisplayFor(modelItem => item.StatusType))
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            @if (item.DepartmentName != null)
                            {
                                <strong>@Html.DisplayNameFor(modelItem => item.DepartmentName): </strong> @item.DepartmentName<br />
                            }
                            <strong>@Html.DisplayNameFor(modelItem => item.Deleted): </strong> @item.Deleted.BoolToHtmlString("Oui", "Non")<br />
                            <strong>@Html.DisplayNameFor(modelItem => item.IsInOrder): </strong> @item.IsInOrderToString<br />
                            @*<strong>@Html.DisplayNameFor(modelItem => item.IsInOrder): </strong> @item.IsInOrder.IntIsInOrderToString("Aucun", "Réussi", "Echoué")<br />*@
                        </td>
                    </tr>
                    @*<tr>
                            <td colspan="2">
                                @Html.ActionLink("Editer", "Edit", new { id = item.Id }) |
                                @if (item.Deleted == true)
                                {
                                    @Html.ActionLink("Restaurer", "Restore", new { id = item.Id })
                                }
                                else
                                {
                                    @Html.ActionLink("Archiver", "SoftDelete", new { id = item.Id })
                                }
                            </td>
                        </tr>*@
                </tbody>
            </table>
        }
    }
    else
    {
        <p>Le filtrage n'a donné aucun résultat.</p>
    }
</div>


@if (ViewBag.ModalTitle != null && ViewBag.ModalMessage != null)
{
    <div class="d-none" id="viewBagModal">
        <p class="modalTitle">@ViewBag.ModalTitle</p>
        <p class="modalMessage">@ViewBag.ModalMessage</p>
    </div>
}

@section Scripts {
    <script>
        $(document).ready(function () {

            // In case of display after Person edition, display modal error
            let viewBag = $("#viewBagModal");
            if (viewBag.length) {

                let title = $("p.modalTitle").html();
                let message = $("p.modalMessage").html();
                DisplayModal(title, message);
            }

            // Filter variables
            let controller = "Person";
            let container = $("#personListContainer");

            // Change event on checkbox "new person"
            $("input[name='IsNew']").on("change", function (e) {
                ListFilter(controller, container);
            });

            // Change event on selected status
            $("#StatusDropDown").change(function () {
                ListFilter(controller, container);
            }); // End change on dropdown

            // Filter by string
            $("#SearchStringBtn").click(function (e) {
                e.preventDefault();
                ListFilter(controller, container);
            });

            // In both cases, the click will call a controller that sends back the same Html content
            $('a[href*="Restore"]', 'a[href*="SoftDelete"]').on("click", function (e) {

                e.preventDefault();

                let url = $(this).attr('href');
                let id = url[url.length - 1];

                $.ajax({
                    url: url,
                    type: "GET",
                    data: { id: id },
                    success: function (result) {
                        $("table#" + id).replaceWith(result);

                        //setTimeout(function () {
                        //    $("tbody").addClass("update-table-anim");
                        //}, 800);

                        //setTimeout(function () {
                        //    $("tbody").removeClass("update-table-anim");
                        //}, 1800);

                    }
                });
            });
        });
    </script>
}
