﻿
@model WebApp.Models.AdminViewModels.AdminVM
@using WebApp.AppTools;


<tbody>
    <tr>
        <th colspan="2">
            <a asp-controller="Admin" asp-action="Details" asp-route-id="@Model.Id" title="Profil de l'utilisateur">@Model.LName @Model.FName</a>
            <div class="thSideBySide">
                @Html.DisplayFor(modelItem => Model.Role)
            </div>
        </th>
    </tr>
    <tr>
        <td>
            <strong>@Html.DisplayNameFor(modelItem => Model.Email):</strong> @Html.DisplayFor(modelItem => Model.Email)<br />
            <strong>@Html.DisplayNameFor(modelItem => Model.IsActive): </strong> @Model.IsActive.BoolToHtmlString("Oui", "Non")<br />
            <strong>@Html.DisplayNameFor(modelItem => Model.Deleted): </strong>@Model.Deleted.BoolToHtmlString("Oui", "Non") <br />
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Editer", "Edit", new { id = Model.Id })

            @if (Model.RoleId != 1)
            {
                @:|
                @if (Model.IsActive == true)
                {
                    @Html.ActionLink("Désactiver", "Deactivate", new { id = Model.Id }, new { @class = "adminTableAjax" })
                }
                else
                {
                    @Html.ActionLink("Activer", "Activate", new { id = Model.Id }, new { @class = "adminTableAjax" })
                }
                @:|
                @if (Model.Deleted == false)
                {
                    @Html.ActionLink("Archiver", "Delete", new { id = Model.Id }, new { @class = "adminTableAjax" })
                }
                else
                {
                    @Html.ActionLink("Restaurer", "Restore", new { id = Model.Id }, new { @class = "adminTableAjax" })
                }
            }
        </td>
    </tr>
</tbody>
