﻿@model WebApp.Models.AdminViewModels.AdminVM

<div class="twoFlexSameLine">
    <div class="form-group">
        <label asp-for="FName" class="control-label"></label>
        <input asp-for="FName" class="form-control" />
        <span asp-validation-for="FName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="LName" class="control-label"></label>
        <input asp-for="LName" class="form-control" />
        <span asp-validation-for="LName" class="text-danger"></span>
    </div>
</div>

<div class="form-group">
    <label asp-for="Email" class="control-label"></label>
    <input asp-for="Email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span>
</div>

@*Super Admin cannot be fully edited*@

@if (Model.Id == 1)
{
    <div class="form-group">
        <label class="control-label">Status:</label>
        @Model.IsActive.BoolToHtmlString("Actif", "Inactif")
        <input type="hidden" asp-for="IsActive" />
    </div>

    <div class="form-group">
        <label asp-for="Role" class="control-label"></label>
        <input asp-for="Role" class="form-control" readonly />
        <input type="hidden" asp-for="RoleId" />
    </div>

    <div class="form-group">
        <label asp-for="RoleDescription" class="control-label"></label>
        <textarea asp-for="RoleDescription" class="form-control" readonly></textarea>
    </div>

    <div class="twoFlexSameLine">
        <a href="@Url.Action("ModifyPassword")" class="link-block" data-toggle="modify-pwd-modal" data-target="#modify-pwd" data-url="@Url.Action("ModifyPassword")">
            Modifier le mot de passe
        </a>
    </div>
}
else
{
    <div class="form-group form-check">
        <label class="form-check-label">
            <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
        </label>
    </div>

    <div class="form-group">
        <label asp-for="RoleId" class="control-label"></label>
        <select asp-for="RoleId" asp-items="@(new SelectList(Model.Roles, "Id", "Title", Model.RoleId))">
            <option value="0">-- Sélectionnez un rôle --</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="RoleDescription" class="control-label"></label>
        <textarea asp-for="RoleDescription" class="form-control" readonly></textarea>
    </div>

    <div class="twoFlexSameLine">
        <a href="@Url.Action("ModifyPassword")" class="link-block" data-toggle="modify-pwd-modal" data-target="#modify-pwd" data-url="@Url.Action("ModifyPassword")">
            Modifier le mot de passe
        </a>
        <a href="@Url.Action("ModifyPassword")" class="link-block">Supprimer l'utilisateur</a>
    </div>
}

<div class="form-group">
    <input type="submit" value="Valider" class="btn btn-primary" />
</div>
