﻿@model WebApp.Models.AdminViewModels.AdminVM

<p>
    Seul Yves-David Marie est habilité à modifier votre profil. Vous pouvez cependant modifier votre mot de passe.
</p>

<div class="twoFlexSameLine">
    <div class="form-group">
        <label asp-for="FName" class="control-label"></label>
        <input asp-for="FName" class="form-control" disabled />
        <span asp-validation-for="FName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="LName" class="control-label"></label>
        <input asp-for="LName" class="form-control" disabled />
        <span asp-validation-for="LName" class="text-danger"></span>
    </div>
</div>

<div class="form-group">
    <label asp-for="Email" class="control-label"></label>
    <input asp-for="Email" class="form-control" disabled />
    <span asp-validation-for="Email" class="text-danger"></span>
</div>

<div class="form-group form-check">
    <label class="form-check-label">
        <input class="form-check-input" asp-for="IsActive" disabled /> @Html.DisplayNameFor(model => model.IsActive)
    </label>
</div>

<div class="form-group">
    <label asp-for="RoleId" class="control-label"></label>
    <select asp-for="RoleId" asp-items="@(new SelectList(Model.Roles, "Id", "Title", Model.RoleId))" disabled>
        <option value="0">-- Sélectionnez un rôle --</option>
    </select>
</div>

<div class="form-group">
    <label asp-for="RoleDescription" class="control-label"></label>
    <textarea asp-for="RoleDescription" class="form-control" readonly></textarea>
</div>

@*<a href="#" class="link-block" data-toggle="ajax-modal" data-target="#modify-pwd" data-url="@Url.Action("ModifyPassword")">
        Modifier le mot de passe
    </a>*@

<div class="form-group">
    <input type="submit" value="Modifier le mot de passe" class="btn btn-primary" data-toggle="modify-pwd-modal" data-target="#modify-pwd" data-url="@Url.Action("ModifyPassword")" />
</div>

