﻿@model WebApp.Models.AdminViewModels.ModifyPassword
<!-- Modal -->
<div class="modal fade" id="modify-pwd" tabindex="-1" role="dialog" aria-labelledby="ModifyPwd" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModifyPwd">Modifier le mot de passe</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="ModifyPassword">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />

                    <input type="hidden" asp-for="UserId" />

                    <div class="form-group">
                        <label asp-for="CurrentPassword" class="control-label"></label>
                        <input asp-for="CurrentPassword" class="form-control" />
                        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="PasswordCheck" class="control-label"></label>
                        <input asp-for="PasswordCheck" class="form-control" />
                        <span asp-validation-for="PasswordCheck" class="text-danger"></span>
                    </div>
                </form>

                @if (ViewBag.ModalError != null)
                {
                    <div id="viewBagError">
                        <p class="text-danger">Une erreur est survenue : @ViewBag.ModalError</p>
                    </div>
                }

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-primary" data-save="save-pwd-modal">Valider</button>
            </div>
        </div>
    </div>
</div>