﻿@model IEnumerable<WebApp.Models.AdminViewModels.AdminVM>

@{
    ViewData["Title"] = "Administrators";
}

<h1>Administrateurs</h1>
<h2>Listing</h2>
<hr />

<div class="customBreadcrumb">
    @Html.ActionLink("DashBoard", "Index", "Admin") |
    <a asp-controller="Admin" asp-action="Create" method="get">Ajouter</a>
</div>

<!-- Modal placeholder -->
<div id="modal-placeholder">
</div>

@foreach (var item in Model)
{
    <table class="table table-bordered table-condensed table-striped tableCustomLayout adapt75">
        <tbody>
            <tr>
                <th>
                    <a asp-controller="Admin" asp-action="Details" asp-route-id="@item.Id" title="Profil de l'utilisateur">@item.LName @item.FName</a>
                    <div class="thSideBySide">
                        @Html.DisplayFor(modelItem => item.Role)
                    </div>
                </th>
            </tr>
            <tr>
                <td>
                    <strong>@Html.DisplayNameFor(modelItem => item.Email):</strong> @Html.DisplayFor(modelItem => item.Email)<br />
                    <strong>@Html.DisplayNameFor(modelItem => item.IsActive): </strong> @item.IsActive.BoolToHtmlString("Oui", "Non")<br />
                    <strong>@Html.DisplayNameFor(modelItem => item.Deleted): </strong>@item.Deleted.BoolToHtmlString("Oui", "Non") <br />
                </td>
            </tr>
            <tr>
                <td>
                    @Html.ActionLink("Editer", "Edit", new { id = item.Id })

                    @if (item.RoleId != 1)
                    {
                        @:|
                        @if (item.IsActive == true)
                        {
                            @Html.ActionLink("Désactiver", "Deactivate", new { id = item.Id }, new { @class = "adminTableAjax" })
                        }
                        else
                        {
                            @Html.ActionLink("Activer", "Activate", new { id = item.Id }, new { @class = "adminTableAjax" })
                        }
                        @:|
                        @if (item.Deleted == false)
                        {
                            @Html.ActionLink("Archiver", "Delete", new { id = item.Id }, new { @class = "adminTableAjax" })
                        }
                        else
                        {
                            @Html.ActionLink("Restaurer", "Restore", new { id = item.Id }, new { @class = "adminTableAjax" })
                        }
                    }
                </td>
            </tr>
        </tbody>
    </table>
}

@if (ViewBag.ModalTitle != null && ViewBag.ModalMessage != null)
{
    <div class="d-none" id="viewBagModal">
        <p class="modalTitle">@ViewBag.ModalTitle</p>
        <p class="modalMessage">@ViewBag.ModalMessage</p>
    </div>
}

@section Scripts {
    <script>
        $(document).ready(function () {

            // Display modal after redirection from Controller (works with ViewBag.ModalTitle & ViewBag.ModalMessage)
            // If trying to get edit non existing admin
            let viewBag = $("#viewBagModal");
            if (viewBag.length) {

                let title = $("p.modalTitle").html();
                let message = $("p.modalMessage").html();
                DisplayModal(title, message);
            }

            // Activate, Deactivate, SoftDelete and restore admin with Ajax
            $("table").on("click", "a.adminTableAjax", function (e) {
                e.preventDefault();

                let url = $(this).attr('href');

                let container = $(this).closest("tbody");

                $.ajax({
                    url: url,
                    type: "GET",
                    //headers: { "RequestVerificationToken": $("input[name='__RequestVerificationToken']").val() },
                    success: function (result) {
                        $(container).replaceWith(result);
                    },
                    dataType: "html",
                }); // End of ajax call

            });
        })
    </script>
}