﻿@model WebApp.Models.AdminViewModels.AdminForm

@{
    ViewData["Title"] = "Create";
}

<h1>Administrateur</h1>
<h2>Ajouter</h2>
<hr />

<div class="customBreadcrumb">
    @Html.ActionLink("DashBoard", "Index", "Admin") |
    <a asp-action="Administrators">Liste des admin</a>
</div>

<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Id" />

            <div class="twoFlexSameLine">
                <div class="form-group">
                    <label asp-for="FName" class="control-label"></label>
                    <input asp-for="FName" class="form-control" />
                    <span asp-validation-for="FName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="LName" class="control-label"></label>
                    <input asp-for="LName" class="form-control" />
                    <span asp-validation-for="LName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pwd" class="control-label"></label>
                <input asp-for="Pwd" class="form-control" />
                <span asp-validation-for="Pwd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PwdCheck" class="control-label"></label>
                <input asp-for="PwdCheck" class="form-control" />
                <span asp-validation-for="PwdCheck" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>

            <div class="form-group" id="CreateAdminSetRoleId">
                <label asp-for="RoleId" class="control-label"></label>
                <select asp-for="RoleId" asp-items="@(new SelectList(Model.Roles, "Id", "Title", Model.RoleId))">
                    <option value="0">-- Sélectionnez un rôle --</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="RoleDescription" class="control-label"></label>
                <textarea asp-for="RoleDescription" class="form-control" readonly></textarea>
            </div>

            <div class="form-group">
                <input type="submit" value="Valider" class="btn btn-primary" />
            </div>
        </form>
        @if (ViewBag.Error != null)
        {
            <div>
                <p class="text-danger">Une erreur est survenue : @ViewBag.Error</p>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {

            // Display role description on dropdown select
            let roleDropdown = $("#RoleId");

            // Role description display on select item
            roleDropdown.change(function () {
                DisplayRoleDescription();
            });


        });
    </script>
}
