﻿@model WebApp.Models.AdminViewModels.AdminForm

@{
    ViewData["Title"] = "Details";
}

<h1>Administrateur</h1>
<h2>Détail: @Model.LName @Model.FName</h2>
<hr />
<div class="customBreadcrumb">
    @Html.ActionLink("DashBoard", "Index", "Admin") |
    @Html.ActionLink("Editer", "Edit", new { id = Model.Id }) |
    <a asp-action="Administrators">Liste des admin</a>
</div>

<input type="hidden" asp-for="Id" />

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Deleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deleted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Role)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RoleDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoleDescription)
        </dd>
    </dl>
</div>
@*<div>
        @if (Context.User.IsInRole("Super Admin"))
        {
            @Html.ActionLink("Editer", "Edit", new { id = Context.User.FindFirst("Id").Value })
            <a asp-action="Index">Back to List</a>
        }

    </div>*@
