﻿@model WebApp.Models.AdminViewModels.AdminVM

@{
    ViewData["Title"] = "Edit";
}

<h1>Administrateur</h1>
<h2>Edition</h2>
<hr />

<div class="customBreadcrumb">
    @Html.ActionLink("DashBoard", "Index", "Admin") |
    <a asp-action="Administrators">Liste des admin</a>
</div>

<!-- Modal placeholder -->
<div id="modal-placeholder">
</div>

<div id="editAdministrator" class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            @if (Context.User.FindFirst("Id").Value == "1") // Context.User.IsInRole("Super Admin")
            {
                @await Html.PartialAsync("_EditAsSA")
                @*<partial name="_EditAsSA" />*@
            }
            else
            {
                @await Html.PartialAsync("_Edit")
                @*<partial name="_Edit" />*@
            }
        </form>

        @if (ViewBag.Error != null)
        {
            <div>
                <p class="text-danger">Une erreur est survenue : @ViewBag.Error</p>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {

            // Validate button appears dynamically (only when user is SA)
            $("#editAdministrator").on("click", "input[type='submit']", function (e) {
                console.log("passe");
                let form = $(this).find("form");
                form.submit();
            });


            // Display role description on dropdown select
            let roleDropdown = $("#RoleId");

            // Role description display on select item
            roleDropdown.change(function () {
                DisplayRoleDescription();
            });

            // Save modal container selector
            var placeholderElement = $('#modal-placeholder');

            // Modify Password : Attach modal to placeholder
            $('[data-toggle="modify-pwd-modal"]').click(function (event) {
                event.preventDefault();

                var url = $(this).data('url');

                var userId = $("#Id").val();

                // Load partial view
                $.ajax({
                    url: url,
                    data: { userId: userId },
                    type: "GET",
                    headers:
                    {
                        "RequestVerificationToken": t
                    },
                    success: function (result) {
                        placeholderElement.html(result);
                        placeholderElement.find('.modal').modal('show');
                    }
                }); // ----

            });

            // Modify Password : Attach event click on the placeholder save button and post form
            placeholderElement.on('click', '[data-save="save-pwd-modal"]', function (event) {
                event.preventDefault();

                // Get the modal html form content
                let modalForm = $("div.modal-body form");

                // Get Url
                let actionUrl = modalForm.attr('action');

                // Serialize form content
                let dataToSend = modalForm.serialize();

                $.post({
                    url: actionUrl,
                    data: dataToSend,
                    type: "POST",
                    headers:
                    {
                        "RequestVerificationToken": t
                    },
                    success: function (result) {
                        // Replace modal body
                        placeholderElement.find('.modal-body').replaceWith($('.modal-body', result));

                        // find IsValid input field and check it's value
                        var isValid = placeholderElement.find('[name="IsValid"]').val() == 'True';

                        // if it's valid then hide modal window
                        if ((isValid) && ($("#viewBagError").length == 0)) {

                            placeholderElement.find('.modal').modal('hide');
                            placeholderElement.off('click', '[data-save="modal"]');

                            let title = "Modification du mot de passe";
                            let message = "Le mot de passe a été modifié avec succès.";

                            $.post({
                                url: "/Admin/Success",
                                data: { title: title, message: message },
                                type: "POST",
                                headers:
                                {
                                    "RequestVerificationToken": t
                                },
                                success: function (result) {

                                    placeholderElement.find('#modify-pwd').replaceWith(result);
                                    placeholderElement.find('.modal').modal('show');

                                    //setTimeout(function () {
                                    //    placeholderElement.find('.modal').modal('hide');
                                    //}, 5000);

                                    placeholderElement.find('.modal').delay(3000).fadeOut(450);

                                    setTimeout(function () {
                                        placeholderElement.find('.modal').modal("hide");
                                    }, 3500);
                                }
                            }); // ---
                        }
                    }
                }); // ----

            }); // ----
        });
    </script>
}
