﻿
@{
    ViewData["Title"] = "Index";
}

<h1>Administrateur</h1>
<h2>DashBoard</h2>
<hr />

<h3>Registres</h3>

<div class="row justify-content-start dashboardSection">
    <div class="col-3">
        <a asp-controller="Register" asp-action="GetRegisters">Consulter le registre</a>
    </div>
    <div class="col-3">
        <a asp-controller="RegisterPlanning" asp-action="GetRegisters">Consulter le registre plannifié</a>
    </div>
    <div class="col-3">
        <a asp-controller="RegisterPlanning" asp-action="SetStatus">Ajouter un registre plannifié</a>
    </div>
</div>

<h3>Administrateurs et rôles</h3>

<div class="row justify-content-start dashboardSection">
    @*<div class="col-3">
        <a asp-controller="Admin" asp-action="Create">Ajouter un administrateur</a>
    </div>*@
    <div class="col-3">
        <a asp-controller="Admin" asp-action="Administrators">Liste des administrateurs</a>
    </div>
    <div class="col-3">
        <a asp-controller="RoleType" asp-action="">Liste des rôles</a>
    </div>
    @*<div class="col-3">
            <a asp-controller="Admin" asp-action="Create">
                <div class="card text-white bg-primary mb-3" style="Width:150px;height:150px;">
                    <div class="card-header">Ajouter</div>
                    <div class="card-body">
                    </div>
                </div>
            </a>
        </div>

        <div class="col-3">
            <a asp-controller="Admin" asp-action="Administrators">
                <div class="card text-white bg-primary mb-3" style="Width:150px;height:150px;">
                    <div class="card-header">Listing</div>
                    <div class="card-body">
                    </div>
                </div>
            </a>
        </div>

        <div class="col-3">
            <a asp-controller="Admin" asp-action="">
                <div class="card text-white bg-primary mb-3" style="Width:150px;height:150px;">
                    <div class="card-header"></div>
                    <div class="card-body">
                        Rôles
                    </div>
                </div>
            </a>
        </div>*@
</div>

<h3>Sociétés et employés</h3>
<div class="row justify-content-start dashboardSection">
    @*<div class="col-3">
        <a asp-controller="Company" asp-action="Create">Ajouter une société</a>
    </div>*@
    <div class="col-3">
        <a asp-controller="Company" asp-action="Index">Liste des sociétés</a>
    </div>
    <div class="col-3">
        <a asp-controller="Person" asp-action="Index">Liste des employés</a>
    </div>
</div>

<h3>Tests</h3>
<div class="row justify-content-start dashboardSection">
    <div class="col-3">
        <a asp-controller="TestSettings" asp-action="Index">Paramètres</a>
    </div>
    <div class="col-3">
        <a asp-controller="Test" asp-action="Index">Liste des tests</a>
    </div>
    <div class="col-3">
        <a asp-controller="Question" asp-action="Index">Liste des questions</a>
    </div>
</div>