﻿
@{
    ViewData["Title"] = "AccessDenied";
}

<h1>Accès non autorisé</h1>
<hr />
@if (User.Identity.IsAuthenticated)
{
    <div class="customBreadcrumb">
       <a asp-action="Index" asp-controller="Admin">DashBoard</a>
    </div>
}

<div class="adapt75">
    @if (User.Identity.IsAuthenticated)
    {
        <p>
            Cette ressource ne vous est pas accessible, soit parce que votre rôle ne le permet pas, soit parce qu'elle concerne un autre utilisateur.
        </p>

        <p>
            Si vous souhaitez accéder à une ressource particulière, prenez contact avec Yves-David Marie.<br />
            <a asp-action="Index" asp-controller="RoleType">En savoir plus sur les rôles</a>
        </p>
    }
    else
    {
        <p>Désolé, vous n'êtes autorisé-e à accéder à cette ressource.</p>
    }
</div>