﻿
<!-- Modal -->
<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Suppression d'un test: avertissement</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Vous êtes sur le point de supprimer un test.</p>
                <p>Si vous validez le formulaire, le test sera supprimé ainsi que tous les resultats des employés à ce test.</p>
                <p>Les sociétés liées à ce test se verront attribuées le test de base (test par défaut).</p>
                <p>Cliquez sur "Supprimer" pour valider le formulaire ou sur "Annuler" pour revenir à l'édition.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-save="testHardDelete-modal">Supprimer</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>