﻿@model WebApp.Models.TestViewModels.TestVM


<table class="table table-bordered table-condensed table-striped tableCustomLayout" id=@String.Format("testTable{0}", Model.Id)>
    <tbody>
        <tr>
            <th colspan="2">
                <a asp-controller="Test" asp-action="Details" asp-route-id="@Model.Id" title="Détails du test">@Model.Title</a>
            </th>
        </tr>
        <tr>
            <td>
                <strong>@Html.DisplayNameFor(modelItem => Model.VideoURL):</strong> <a href=@Model.VideoURL target="_blank" title="Lire la vidéo">@Model.VideoURL</a><br />
                <strong>@Html.DisplayNameFor(modelItem => Model.IsActive): </strong> @Model.IsActive.BoolToHtmlString("Oui", "Non")<br />
                <strong>@Html.DisplayNameFor(modelItem => Model.TestSettingsTitle): </strong>@Model.TestSettingsTitle <br />
            </td>
        </tr>
        <tr>
            <td>
                @Html.ActionLink("Editer", "Edit", new { id = Model.Id }) |

                @if (Model.IsActive == true)
                {
                    @Html.ActionLink("Désactiver", "Deactivate", new { id = Model.Id }, new { @class = "deactivateTest" })
                }
                else
                {
                    @Html.ActionLink("Activer", "Activate", new { id = Model.Id }, new { @class = "activateTest" })
                }
            </td>
        </tr>
    </tbody>
</table>