﻿@model WebApp.Models.TestViewModels.TestVM

@{
    ViewData["Title"] = "Création d'un test";
}

<h1>Test</h1>
<h2>Création</h2>
<hr />

<div class="customBreadcrumb">
    @Html.ActionLink("DashBoard", "Index", "Admin") |
    <a asp-action="Index" method="get">Liste des tests</a>
</div>

<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VideoURL" class="control-label"></label>
                <input asp-for="VideoURL" class="form-control" />
                <span asp-validation-for="VideoURL" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TestSettingsId" class="control-label"></label>
                <select asp-for="TestSettingsId" asp-items="@(new SelectList(Model.TestSettings, "Id", "Title", Model.TestSettingsId))">
                    <option value="0">-- Sélectionnez les paramètres --</option>
                </select>
                <span asp-validation-for="TestSettingsId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Valider" class="btn btn-primary" />
            </div>
        </form>
        @if (ViewBag.Error != null)
        {
            <div id="viewBagError">
                <p class="text-danger">Une erreur est survenue : @ViewBag.Error</p>
            </div>
        }
    </div>
</div>


