﻿@model WebApp.Models.TestViewModels.TestVM

@{
    ViewData["Title"] = "Details";
}

<h1>Test</h1>
<h2>Détails: @Model.Title</h2>
<hr />

<div class="customBreadcrumb">
    <a asp-action="Index" asp-controller="Admin">DashBoard</a> |
    <a asp-action="Index">Liste</a> |
    <a asp-action="Edit" asp-route-id="@Model.Id">Editer</a> |
    <a asp-action="Index" asp-controller="Question" asp-route-testId="@Model.Id" target="_blank">Questions</a>
</div>

<!-- Modal placeholder -->
<div id="modal-placeholder">
</div>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VideoURL)
        </dt>
        <dd class="col-sm-10">
            <a href="@Url.Action("VisualiseVideo", "Test", new { url = Model.VideoURL})" data-toggle="modal-visualiseVideo"
               data-target="#visualiseVideoModal" data-url="@Url.Action("VisualiseVideo", "Test", new { url = Model.VideoURL})">@Model.VideoURL</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TestSettingsTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TestSettingsTitle)
        </dd>
    </dl>
</div>

<div class="adapt75" id="testQuestionListContainer">
    <p><strong>Questions liées au test:</strong></p>
    @if (Model.Questions.Count() > 0)
    {
        @foreach (var item in Model.Questions)
        {
            <table class="table table-bordered table-condensed table-striped tableCustomLayout" id=@String.Format("questionTable{0}", item.Id)>
                <tbody>
                    <tr>
                        <th>
                            @Html.DisplayFor(modelItem => item.Title)
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <strong>@Html.DisplayNameFor(modelItem => item.IsActive): </strong> @item.IsActive.BoolToHtmlString("Oui", "Non")
                            <div class="float-right">

                                <strong>@Html.DisplayNameFor(modelItem => item.Tests): </strong>

                                @if (item.Tests.Count() == 0)
                                {
                                    @:/
                                }
                                else
                                {
                                    @for (int i = 0; i < item.Tests.Count(); i++)
                                    {
                                        if (item.Tests.Count() > 1 && i < item.Tests.Count() - 1)
                                        {
                                            @item.Tests[i].Title@:,
                                        }
                                        else
                                        {
                                            @item.Tests[i].Title
                                        }
                                    }
                                }
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @foreach (var i in item.QcmItems)
                            {
                                if (i.IsAnswer == true)
                                {
                                    <span class="material-icons qcmGood">@i.IsAnswer.BoolToHtmlString("check", "close")</span> @i.Item <br />
                                }
                                else
                                {
                                    <span class="material-icons qcmBad">@i.IsAnswer.BoolToHtmlString("check", "close")</span> @i.Item <br />
                                }
                            }
                        </td>
                    </tr>
                    @*<tr>
                            <td>
                                <a href="@Url.Action("Edit", "Question", new { id = item.Id })" data-toggle="ajax-modal-EditQuestion" data-target="#EditQuestionModal" data-url="@Url.Action("Edit", "Question", new { id = item.Id })">Editer</a> |
                                @Html.ActionLink("Editer", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Supprimer", "Delete", new { id = item.Id })
                            </td>
                        </tr>*@
                </tbody>
            </table>
        }
    }
    else
    {
        <p>Il n'existe aucune question pour l'instant.</p>
    }
</div>

@if (ViewBag.ModalTitle != null && ViewBag.ModalMessage != null)
{
    <div class="d-none" id="viewBagModal">
        <p class="modalTitle">@ViewBag.ModalTitle</p>
        <p class="modalMessage">@ViewBag.ModalMessage</p>
    </div>
}

@section Scripts{
    <script>
        $(document).ready(function () {

            // Display modal after redirection from Controller (works with ViewBag.ModalTitle & ViewBag.ModalMessage)
            let viewBag = $("#viewBagModal");
            if (viewBag.length) {

                let title = $("p.modalTitle").html();
                let message = $("p.modalMessage").html();
                DisplayModal(title, message);
            }

            // Display modal to visualise video
            $("a[data-toggle='modal-visualiseVideo']").on("click", function (e) {
                e.preventDefault();

                var url = $(this).data('url');

                var videoUrl = $(this).html();

                // Check that link is a youtube video
                if (videoUrl.startsWith("https://youtu.be/")) {

                    let split = videoUrl.split('/');
                    videoUrl = split[3];

                    // Load partial modal
                    $.ajax({
                        url: url,
                        data: { videoUrl: videoUrl },
                        type: "GET",
                        //headers: { "RequestVerificationToken": modalToken },
                        success: function (result) {
                            $('#modal-placeholder').html(result);
                            $('#modal-placeholder > .modal').modal('show');
                        }
                    });
                } else {

                    let title = "Visualisation de la vidéo du test";
                    let message = "Cette URL n'est pas valide. Veuillez renseigner une URL commençant par https://youtube.be";

                    $.ajax({
                        url: "/Error/ErrorModal",
                        data: { title: title, message: message },
                        type: "GET",
                        success: function (result) {
                            $('#modal-placeholder').html(result);
                            $('#modal-placeholder > .modal').modal('show');
                        }
                    });
                }
            });
        });
    </script>
}