﻿@model WebApp.Models.TestViewModels.TestVM

@{
    ViewData["Title"] = "Edition d'un test";
}

<h1>Test</h1>
<h2>Edition: @Model.Title</h2>
<hr />

<div class="customBreadcrumb">
    <a asp-action="Index" asp-controller="Admin">DashBoard</a> |
    <a asp-action="Index">Liste</a> |
    <a asp-action="Index" asp-controller="Question" asp-route-testId="@Model.Id" target="_blank">Questions</a>
</div>

<!-- Modal placeholder -->
<div id="modal-placeholder">
</div>

<div id="testEdit" class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VideoURL" class="control-label"></label>

                <a href="@Url.Action("VisualiseVideo", "Test", new { url = Model.VideoURL})" data-toggle="modal-visualiseVideo"
                   data-target="#visualiseVideoModal" data-url="@Url.Action("VisualiseVideo", "Test", new { url = Model.VideoURL})">(Ouvrir la vidéo)</a>

                <input asp-for="VideoURL" class="form-control" />
                <span asp-validation-for="VideoURL" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>

            <div class="form-group">
                <label asp-for="TestSettingsId" class="control-label"></label>
                <select asp-for="TestSettingsId" asp-items="@(new SelectList(Model.TestSettings, "Id", "Title", Model.TestSettingsId))">
                    <option value="0">-- Sélectionnez un paramètre --</option>
                </select>
                <span asp-validation-for="TestSettingsId" class="text-danger"></span>
            </div>


            @*@if (Model.Questions.Count() > 0)
                {
                    <p>@ViewBag.QuestionInfo</p>
                }
                else
                {
                    <p>@ViewBag.QuestionInfo. Veuillez en <a href='@Url.Action("Index", "Question", new { testId = Model.Id})' target="_blank">ajouter</a>.</p>
                }*@

            @if (ViewBag.Error != null)
            {
                <div id="viewBagError">
                    <p class="text-danger">Une erreur est survenue : @ViewBag.Error</p>
                </div>
            }

            <div class="form-group">
                <input type="submit" value="Valider" class="btn btn-primary" />
                @if (Model.Id != 1)
                {
                    <input type="button" value="Supprimer" class="btn btn-primary" id="deleteTest" />
                }
            </div>
        </form>
    </div>
</div>

@if (ViewBag.ModalTitle != null && ViewBag.ModalMessage != null)
{
    <div class="d-none" id="viewBagModal">
        <p class="modalTitle">@ViewBag.ModalTitle</p>
        <p class="modalMessage">@ViewBag.ModalMessage</p>
    </div>
}

@section Scripts{
    <script>
        $(document).ready(function () {

            // Display modal after redirection from Controller (works with ViewBag.ModalTitle & ViewBag.ModalMessage)
            // If trying to edit a non existing Test or if activation or deactivation of a test      
            let viewBag = $("#viewBagModal");
            if (viewBag.length) {

                let title = $("p.modalTitle").html();
                let message = $("p.modalMessage").html();
                DisplayModal(title, message);
            }

            // Visualise video in modal
            $("#testEdit").on("click", "a[data-toggle='modal-visualiseVideo']", function (e) {
                e.preventDefault();

                var url = $(this).data('url');

                var videoUrl = $("#VideoURL").val();

                // Check that link is a youtube video
                if (videoUrl.startsWith("https://youtu.be/")) {

                    let split = videoUrl.split('/');
                    videoUrl = split[3];

                    // Load partial modal
                    $.ajax({
                        url: url,
                        data: { videoUrl: videoUrl },
                        type: "GET",
                        //headers: { "RequestVerificationToken": modalToken },
                        success: function (result) {
                            $('#modal-placeholder').html(result);
                            $('#modal-placeholder > .modal').modal('show');
                        }
                    });
                } else {

                    let title = "Visualisation de la vidéo du test";
                    let message = "Cette URL n'est pas valide. Veuillez renseigner une URL commençant par https://youtube.be";

                    $.ajax({
                        url: "/Error/ErrorModal",
                        data: { title: title, message: message },
                        type: "GET",
                        success: function (result) {
                            $('#modal-placeholder').html(result);
                            $('#modal-placeholder > .modal').modal('show');
                        }
                    });
                }
            });

            // Deletion of test
            $("#testEdit #deleteTest").on("click", function (e) {
                e.preventDefault();

                $.ajax({
                    url: "/Test/HardDelete",
                    type: "GET",
                    success: function (data) {
                        $('#modal-placeholder').html(data);
                        $('#modal-placeholder > .modal').modal('show');
                    }
                });

            });

            // Delete test
            $("#modal-placeholder").on("click", "[data-save='testHardDelete-modal']", function (e) {
                e.preventDefault();
                $('#modal-placeholder > .modal').modal('hide');
                window.location.href = "/Test/Delete/" + $("#Id").val();
            });
        });
    </script>
}