﻿@model IEnumerable<WebApp.Models.TestViewModels.TestVM>


<h1>Tests</h1>
<h2>Listing</h2>
<hr />

<div class="customBreadcrumb">
    @Html.ActionLink("DashBoard", "Index", "Admin") |
    <a asp-action="Create">Ajouter</a>
</div>

<!-- Modal placeholder -->
<div id="modal-placeholder">
</div>

<div class="adapt75" id="testListContainer">
    @foreach (var item in Model)
    {
        <table class="table table-bordered table-condensed table-striped tableCustomLayout" id=@String.Format("testTable{0}", item.Id)>
            <tbody>
                <tr>
                    <th colspan="2">
                        <a asp-controller="Test" asp-action="Details" asp-route-id="@item.Id" title="Détails du test">@item.Title</a>
                    </th>
                </tr>
                <tr>
                    <td>
                        <strong>@Html.DisplayNameFor(modelItem => item.VideoURL):</strong> <a href=@item.VideoURL target="_blank" title="Lire la vidéo">@item.VideoURL</a><br />
                        <strong>@Html.DisplayNameFor(modelItem => item.IsActive): </strong> @item.IsActive.BoolToHtmlString("Oui", "Non")<br />
                        <strong>@Html.DisplayNameFor(modelItem => item.TestSettingsTitle): </strong>@item.TestSettingsTitle <br />
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.ActionLink("Editer", "Edit", new { id = item.Id }) |

                        @if (item.IsActive == true)
                        {
                            @Html.ActionLink("Désactiver", "Deactivate", new { id = item.Id }, new { @class = "deactivateTest" })
                        }
                        else
                        {
                            @Html.ActionLink("Activer", "Activate", new { id = item.Id }, new { @class = "activateTest" })
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    }
</div>


@if (ViewBag.ModalTitle != null && ViewBag.ModalMessage != null)
{
    <div class="d-none" id="viewBagModal">
        <p class="modalTitle">@ViewBag.ModalTitle</p>
        <p class="modalMessage">@ViewBag.ModalMessage</p>
    </div>
}

@section Scripts{
    <script>
        $(document).ready(function () {

            // Display modal after redirection from Controller (works with ViewBag.ModalTitle & ViewBag.ModalMessage)
            // If trying to edit a non existing Test or if activation or deactivation of a test      
            let viewBag = $("#viewBagModal");
            if (viewBag.length) {

                let title = $("p.modalTitle").html();
                let message = $("p.modalMessage").html();
                DisplayModal(title, message);
            }

            // Activate test
            $("#testListContainer").on("click", ".activateTest", function (e) {
                e.preventDefault();
                let url = $(this).attr("href");

                let table = $(this).closest("table");

                $.ajax({
                    url: url,
                    type: "POST",
                    success: function (data) {

                        // If the modal partial view is returned, display error
                        var modal = $(data).filter('.modal');

                        if (modal.length) {
                            $('#modal-placeholder').html(data);
                            $('#modal-placeholder > .modal').modal('show');
                        }
                        else {
                            table.replaceWith(data);

                            // Show Modal 
                            let title = "Activation de la question";
                            let message = "Activation réalisée avec succès.";
                            DisplayModal(title, message);
                        }
                    }
                });
            });

            // Deactivate test
            $("#testListContainer").on("click", ".deactivateTest", function (e) {
                e.preventDefault();
                let url = $(this).attr("href");

                let table = $(this).closest("table");

                $.ajax({
                    url: url,
                    type: "POST",
                    success: function (data) {
                        table.replaceWith(data);

                        // Show Modal 
                        let title = "Désactivation de la question";
                        let message = "Désactivation réalisée avec succès.";
                        DisplayModal(title, message);
                    }
                });
            });

        });
    </script>
}