﻿@model WebApp.Models.PersonTestViewModels.PersonTestVM

@{
    ViewData["Title"] = "Questions";
}

<h1>Test de connaissances des règles de sécurité</h1>
<h2>Questions</h2>
<hr />

<form asp-action="Questions">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input type="hidden" asp-for="TestId" />

    <div class="adapt75" id="questionListContainer">
        @foreach (var item in Model.TestVM.Questions)
        {
            <table class="table table-bordered table-condensed table-striped tableCustomLayout" id=@String.Format("questionTable{0}", item.Id)>
                <tbody>
                    <tr>
                        <th>
                            @item.Title
                        </th>
                    </tr>
                    <tr>
                        <td>
                            @foreach (var i in item.QcmItems)
                            {
                                <input name=@String.Format("question{0}", item.Id) type="radio" value="@i.QcmItemId" /> @i.Item <br />
                            }
                        </td>
                    </tr>
                </tbody>
            </table>
        }
    </div>

    <div class="form-group">
        <input type="submit" value="Valider" class="btn btn-primary" />
    </div>
</form>


