﻿@model WebApp.Models.PersonTestViewModels.PersonTestVM

@{
    ViewData["Title"] = "Results";
}

<h1>Test de vos connaissances des règles de sécurité</h1>
<h2>Résultat</h2>
<hr />

<p>Voici le résultat de votre test: @String.Format("{0}/10", Model.Result)</p>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<input type="hidden" asp-for="Id" />
<input type="hidden" asp-for="PersonId" />

<div class="adapt75" id="questionListContainer">
    @foreach (var item in Model.TestVM.Questions)
    {
        <table class="table table-bordered table-condensed table-striped tableCustomLayout" id=@String.Format("questionTable{0}", item.Id)>
            <tbody>
                <tr>
                    <th>
                        @Html.DisplayFor(modelItem => item.Title)
                    </th>
                </tr>
                <tr>
                    <td>
                        @foreach (var i in item.QcmItems)
                        {
                            if (i.IsAnswer == true)
                            {
                                <span class="material-icons qcmGood">@i.IsAnswer.BoolToHtmlString("check", "close")</span> @i.Item <br />
                            }
                            else
                            {
                                <span class="material-icons qcmBad">@i.IsAnswer.BoolToHtmlString("check", "close")</span> @i.Item <br />
                            }
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        @foreach (var answer in Model.PersonAnswers)
                        {
                            if (answer.QuestionId == item.Id)
                            {
                                <span>Votre réponse : @answer.Item</span>
                            }
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    }
</div>

<a class="btn btn-primary" asp-action="Index" asp-controller="Home">Terminer</a>