﻿@model WebApp.Models.PersonTestViewModels.PersonTestVM

@{
    ViewData["Title"] = "TakeTest";
}

<h1>Test de vos connaissances des règles de sécurité</h1>
<h2>Vidéo</h2>
<hr />

<div class="adapt75">
    <p>Visionnez attentivement la vidéo explicative des règles de sécurité. Vous devrez ensuite répondre à quelques questions à choix multiples.</p>

    <div class="videoWrapper">
        <iframe width="560" height="315" src="@String.Format("https://www.youtube.com/embed/{0}", ViewBag.VideoURL)"
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture">
        </iframe>
    </div>

    <a class="btn btn-primary" asp-action="Questions" style="margin-top:10px">Passer le test</a>
</div>


