﻿@model IEnumerable<WebApp.Models.RoleTypeViewModels.RoleTypeVM>

@{
    ViewData["Title"] = "Liste des rôles";
}

<h1>Roles</h1>
<h2>Listing</h2>
<hr />

<div class="customBreadcrumb">
    @Html.ActionLink("DashBoard", "Index", "Admin")
</div>

@foreach (var item in Model)
{
    <table class="table table-bordered table-condensed table-striped tableCustomLayout adapt75">
        <tbody>
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => item.Title)
                </th>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleTypeDescription)
                </td>
            </tr>
        </tbody>
    </table>
}

