﻿@model IEnumerable<WebApp.Models.CompanyViewModels.CompanyForm>

@if (Model.Count() > 0)
{
    @foreach (var item in Model)
    {
        //string identity = "user" + item.Id;

        <table id="@item.Id" class="table table-bordered table-condensed table-striped tableCustomLayout">
            <tbody>
                <tr>
                    <th>
                        <a asp-controller="Company" asp-action="Details" asp-route-id="@item.Id" title="Profil de la société">@item.CompanyName</a>
                        <div class="thSideBySide">
                            @Html.DisplayFor(modelItem => item.StatusName)
                        </div>
                    </th>
                </tr>
                <tr>
                    <td>
                        <strong>@Html.DisplayNameFor(modelItem => item.Deleted): </strong> @item.Deleted.BoolToHtmlString("Oui", "Non")<br />
                        <strong>@Html.DisplayNameFor(modelItem => item.TestName): </strong> @item.TestName<br />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        @Html.ActionLink("Editer", "Edit", new { id = item.Id })
                        @*@if (item.Deleted == true)
                        {
                            @Html.ActionLink("Restaurer", "Restore", new { id = item.Id })
                        }
                        else
                        {
                            @Html.ActionLink("Archiver", "SoftDelete", new { id = item.Id })
                        }*@
                    </td>
                </tr>
            </tbody>
        </table>
    }
}
else
{
    <p>Le filtrage n'a donné aucun résultat.</p>
}