﻿

<!-- Modal -->
<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Suppression d'une société: avertissement</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Vous êtes sur le point de supprimer une société.</p>
                <p>Si vous validez le formulaire, le ou les employés de cette société ainsi que les données qui lui ou leur sont associées (registre, tests) seront également définitivement supprimés.</p>
                <p>Cliquez sur "Suppimer" pour valider le formulaire ou sur "Annuler" pour revenir à l'édition.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-save="companyHardDelete-modal">Supprimer</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>