﻿

<!-- Modal -->
<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Archivage d'une société: avertissement</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Vous êtes sur le point d'archiver une société.</p>
                <p>Si vous validez le formulaire, le ou les employés de cette société ne pourront plus s'inscrire dans le registre et passer les tests.</p>
                <p>Cliquez sur "Archiver" pour valider le formulaire ou sur "Annuler" pour revenir à l'édition.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-save="companySoftDelete-modal">Archiver</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>