﻿@model WebApp.Models.CompanyViewModels.CompanyForm

@{
    ViewData["Title"] = "Create";
}

<h1>Société</h1>
<h2>Ajouter</h2>
<hr />

<div class="customBreadcrumb">
    @Html.ActionLink("DashBoard", "Index", "Admin") |
    <a asp-controller="Company" asp-action="Index">Liste des sociétés</a>
</div>


<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="CompanyName" class="control-label"></label>
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CompanyStatusId" class="control-label"></label>
                <select asp-items="@(new SelectList(Model.CompanyStatuses, "Id", "StatusName"))" asp-for="CompanyStatusId">
                    <option value="0">-- Sélectionnez un status --</option>
                </select>
                <span asp-validation-for="CompanyStatusId" class="d-block text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TestId" class="control-label"></label>
                <select asp-items="@(new SelectList(Model.Tests, "Id", "Title", Model.TestId))" asp-for="TestId">
                    <option value="0">-- Sélectionnez un test --</option>
                </select>
                <span asp-validation-for="TestId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Valider" class="btn btn-primary" />
            </div>
        </form>
        @if (ViewBag.Error != null)
        {
            <div>
                <p class="text-danger">Une erreur est survenue : @ViewBag.Error</p>
            </div>
        }
    </div>
</div>


@section Scripts {
    <script>
        // # TODO : Add custom validation for custom data annotation
        // https://www.devtrends.co.uk/blog/the-complete-guide-to-validation-in-asp.net-mvc-3-part-1
        // https://jqueryvalidation.org/jQuery.validator.addMethod/


        // AutoComplete for the company name
        // Suggestions will allow the user to potentially chose an existing company
        // If the user makes a choice, the Id of the company and the companyStatus will be inserted in hidden input fields
        // The persistence logic will reside in the controller
        $("#CompanyName").autocomplete({
            minLength: 3,
            source: function (request, response) {
                $.ajax({
                    url: "/Register/AutoComplete",
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term.toLowerCase() },
                    success: function (data) {

                        var array = data.error ? [] : $.map(data, function (m) {
                            return {
                                label: m.companyName,
                                value: m.id,
                                status: m.companyStatusId,
                            };
                        });
                        response(array);
                    },
                });
            },
            select: function (event, ui) {
                $("#CompanyName").val(ui.item.label);
                $("#IdAutoComplete").val(ui.item.value);
                $("#CompanyStatusId").val(ui.item.status);
                return false;
            }
        })

    </script>
}