﻿@model WebApp.Models.CompanyViewModels.CompanyForm

@{
    List<Department> departments = ViewBag.Departments as List<Department>;
}

@{
    ViewData["Title"] = "Details";
}

<h1>Société</h1>
<h2>Détail: @Model.CompanyName</h2>
<hr />

<div class="customBreadcrumb">
    @Html.ActionLink("DashBoard", "Index", "Admin") |
    <a asp-action="Index">Liste des sociétés</a> |
    @Html.ActionLink("Editer", "Edit", new { Id = Model.Id }) |
    <a asp-controller="Person" asp-action="Create" asp-route-companyId="@Model.Id">Ajouter un employé</a>
</div>

<!-- Modal placeholder -->
<div id="modal-placeholder">
</div>

<div id="editCompanyContainer">
    <input type="hidden" asp-for="Id" />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Deleted)
        </dt>
        <dd class="col-sm-10">
            @Model.Deleted.BoolToHtmlString("Oui", "Non")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StatusName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StatusName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TestName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TestName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AdminName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AdminName)
        </dd>
    </dl>
</div>

@if (@Model.Persons.Count() > 0)
{
    <p><strong>Liste des employés (@Model.Persons.Count())</strong></p>

    if (Model.Id == 1)
    {
        <ul>
            @foreach (var item in Model.Persons)
            {
                <li>@Html.DisplayFor(m => item.DepartmentName) : @Html.DisplayFor(m => item.LName) @Html.DisplayFor(m => item.FName)</li>
            }
        </ul>
    }
    else
    {
        <ul>
            @foreach (var item in Model.Persons)
            {
                <li>@Html.DisplayFor(m => item.LName) @Html.DisplayFor(m => item.FName)</li>
            }
        </ul>
    }
}
else
{
    <p><strong>Liste des employés</strong></p>
    <p>Aucun employé n'est présent dans cette société. <a asp-controller="Person" asp-action="Create" asp-route-companyId="@Model.Id">Veuillez en ajouter</a></p>
}


@if (ViewBag.ModalTitle != null && ViewBag.ModalMessage != null)
{
    <div class="d-none" id="viewBagModal">
        <p class="modalTitle">@ViewBag.ModalTitle</p>
        <p class="modalMessage">@ViewBag.ModalMessage</p>
    </div>
}

@section Scripts{
    <script>
        $(document).ready(function () {

            // Display modal after redirection from Controller (works with ViewBag.ModalTitle & ViewBag.ModalMessage)
            // After redirection from edit or create       
            let viewBag = $("#viewBagModal");
            if (viewBag.length) {

                let title = $("p.modalTitle").html();
                let message = $("p.modalMessage").html();
                DisplayModal(title, message);
            }
        });
    </script>
}