﻿@model WebApp.Models.CompanyViewModels.CompanyForm

@{
    ViewData["Title"] = "Edit";
}

<h1>Société</h1>
<h2>Editer: @Model.CompanyName</h2>
<hr />

<div class="customBreadcrumb">
    @Html.ActionLink("DashBoard", "Index", "Admin") |
    <a asp-action="Index">Liste des sociétés</a>
</div>

<!-- Modal placeholder -->
<div id="modal-placeholder">
</div>

<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="CompanyName" class="control-label"></label>
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Deleted" /> @Html.DisplayNameFor(model => model.Deleted)
                </label>
            </div>

            <div class="form-group">
                <label asp-for="CompanyStatusId" class="control-label"></label>
                <select asp-items="@(new SelectList(Model.CompanyStatuses, "Id", "StatusName", Model.CompanyStatusId))" asp-for="CompanyStatusId">
                    <option value="0">-- Sélectionnez un statut --</option>
                </select>
                <span asp-validation-for="CompanyStatusId" class="d-block text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TestId" class="control-label"></label>
                <select asp-items="@(new SelectList(Model.Tests, "Id", "Title", Model.TestId))" asp-for="TestId">
                    <option value="0">-- Sélectionnez un test --</option>
                </select>
                <span asp-validation-for="TestId" class="text-danger"></span>
            </div>

            <div id="EditCompanyBtn" class="form-group d-inline-block">
                <input type="submit" value="Valider" class="btn btn-primary" />
            </div>

            <div id="hardDeleteCompanyBtn" class="form-group d-none">
                <input type="submit" value="Supprimer définitivement" class="btn btn-primary" />
            </div>

        </form>
        @if (ViewBag.Error != null)
        {
            <div>
                <p class="text-danger">Une erreur est survenue : @ViewBag.Error</p>
            </div>
        }
    </div>
</div>


@section Scripts {
    <script>

        $(document).ready(function () {            

            // AutoComplete for the company name
            // Suggestions to inform the user of the existing company and prevent duplicates
            $("#CompanyName").autocomplete({
                minLength: 3,
                source: function (request, response) {
                    $.ajax({
                        url: "/Register/AutoComplete",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term.toLowerCase() },
                        success: function (data) {

                            var array = data.error ? [] : $.map(data, function (m) {
                                return {
                                    label: m.companyName,
                                    value: m.id,
                                    status: m.companyStatusId,
                                };
                            });
                            response(array);
                        },
                    });
                },
                select: function (event, ui) {
                    $("#CompanyName").val(ui.item.label);
                    $("#IdAutoComplete").val(ui.item.value);
                    $("#CompanyStatusId").val(ui.item.status);
                    return false;
                }
            })

            let checkBox = $("input[type='checkbox']");
            let form = $(this).parents("form");

            // Edit company
            $("#EditCompanyBtn input[type='submit']").on("click", function (e) {
                e.preventDefault();

                // If SoftDelete checkbox is checked (archive company), display modal alert
                if (checkBox.is(":checked")) {
                    $.ajax({
                        url: "/Company/SoftDelete",
                        type: "GET",
                        success: function (result) {
                            $("#modal-placeholder").html(result);
                            $("#modal-placeholder > .modal").modal('show');
                        }
                    }); // End of Ajax call
                }
                else
                {
                    form = $(this).parents("form");
                    form.submit();
                }
            });

            // Edit company after modal alert
            $("#modal-placeholder").on("click", "[data-save='companySoftDelete-modal']", function (e) {
                $('#modal-placeholder > .modal').modal('hide');
                form = $("form");
                form.submit();
            });

            // HardDelete company display modal alert
            $("#hardDeleteCompanyBtn input[type='submit']").on("click", function (e) {
                e.preventDefault();

                $.ajax({
                    url: "/Company/HardDelete",
                    type: "GET",
                    success: function (result) {
                        $("#modal-placeholder").html(result);
                        $("#modal-placeholder > .modal").modal('show');
                    }
                }); // End of Ajax call
            });

            // HardDelete company save form
            $("#modal-placeholder").on("click", "[data-save='companyHardDelete-modal']", function (e) {
                e.preventDefault();
                $('#modal-placeholder > .modal').modal('hide');
                window.location.href = "/Company/Delete/" + $("#Id").val();
            });

            // Display HardDelete button if deleted checkbox is checked on load
            let hardDeleteCompanyBtn = $("#hardDeleteCompanyBtn");
            
            ToggleBtnVisibilityOnCheckBox(checkBox, hardDeleteCompanyBtn);

            // Toggle HardDelete button visibility on change and display alert modal
            $(checkBox).change(function () {
                // if checkbox is checked, display HardDelete button
                ToggleBtnVisibilityOnCheckBox(checkBox, hardDeleteCompanyBtn);
            }); // End of Checkbox change

        }); // end document ready
    </script>
}