﻿@model IEnumerable<WebApp.Models.CompanyViewModels.CompanyForm>
@using Microsoft.AspNetCore.Http.Extensions

@{
    ViewData["Title"] = "Index";
    //var url = Context.Request.GetDisplayUrl();
}

<h1>Sociétés</h1>
<h2>Listing</h2>
<hr />

<div class="customBreadcrumb">
    @Html.ActionLink("DashBoard", "Index", "Admin") |
    <a asp-controller="Company" asp-action="Create" method="get">Ajouter</a>
</div>

<!-- Modal placeholder -->
<div id="modal-placeholder">
</div>

<div class="adapt75 topButton">
    <div class="d-flex align-items-baseline">

        <div class="form-group" style="margin-right: 1rem;">
            <label for="CompanyStatusId" class="control-label"></label>
            <select id="StatusDropDown" name="StatusDropDown" asp-items="@(new SelectList(@ViewBag.StatusDropDown, "Id", "StatusName"))">
                <option value="0">-- Filtre par statut --</option>
            </select>
        </div>

        <div>
            <label for="IsNew">
                New
                <input type="checkbox" name="IsNew" />
            </label>
        </div>

        <form asp-action="Filter" method="post" class="d-flex lastFlex">
            <input type="text" name="SearchString" size="24" style="margin-right:0.5rem;" />
            <button id="SearchStringBtn" type="submit" class="btn-custom"><span class="material-icons">search</span></button>
        </form>

    </div>
</div>

<div class="adapt75" id="companyListContainer">
    @if (Model.Count() > 0)
    {
        @foreach (var item in Model)
        {
            //string identity = "user" + item.Id;

            <table id="@item.Id" class="table table-bordered table-condensed table-striped tableCustomLayout">
                <tbody>
                    <tr>
                        <th>
                            <a asp-controller="Company" asp-action="Details" asp-route-id="@item.Id" title="Profil de la société">@item.CompanyName</a>
                            <div class="thSideBySide">
                                @Html.DisplayFor(modelItem => item.StatusName)
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <strong>@Html.DisplayNameFor(modelItem => item.Deleted): </strong> @item.Deleted.BoolToHtmlString("Oui", "Non")<br />
                            <strong>@Html.DisplayNameFor(modelItem => item.TestName): </strong> @item.TestName<br />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            @Html.ActionLink("Editer", "Edit", new { id = item.Id })
                        </td>
                    </tr>
                </tbody>
            </table>
        }
    }
    else
    {
        <p>Le filtrage n'a donné aucun résultat.</p>
    }
</div>

@if (ViewBag.ModalTitle != null && ViewBag.ModalMessage != null)
{
    <div class="d-none" id="viewBagModal">
        <p class="modalTitle">@ViewBag.ModalTitle</p>
        <p class="modalMessage">@ViewBag.ModalMessage</p>
    </div>
}

@section Scripts {
    <script>
        $(document).ready(function () {

            // Display modal after redirection from Controller (works with ViewBag.ModalTitle & ViewBag.ModalMessage)
            // If trying to get details from a non existing company       
            let viewBag = $("#viewBagModal");
            if (viewBag.length) {

                let title = $("p.modalTitle").html();
                let message = $("p.modalMessage").html();
                DisplayModal(title, message);
            }

            // Filter variables for ListFilter js function
            let controller = "Company";
            let container = $("#companyListContainer")

            // Change event on checkbox "new company"
            $("input[name='IsNew']").on("change", function (e) {
                ListFilter(controller, container); 
            });

            // Change event on selected status
            $("#StatusDropDown").change(function () {
                ListFilter(controller, container);
            }); // End change on dropdown

            // Filter by string
            $("#SearchStringBtn").click(function (e) {
                e.preventDefault();
                ListFilter(controller, container);
            });
        });
    </script>
}
