﻿
<h1>Registre des présences</h1>
<h2>Ajouter au planning</h2>
<hr />
<div class="customBreadcrumb">
    @Html.ActionLink("DashBoard", "Index", "Admin") |
    @Html.ActionLink("Retour à la liste", "GetRegisterPlanning", "RegisterPlanning")
</div>

<nav class="nav flex-column" style="margin-bottom:20px;">
    <ul class="nav nav-tabs">
        <li class="nav-item" id="addRegisterMenuItemStatus">
            <span class="nav-link active" tabindex="-1" aria-disabled="true">Status</span>
        </li>
        <li class="nav-item" id="addRegisterMenuItemCompany">
            <span class="nav-link disabled" tabindex="-1" aria-disabled="true">Société</span>
        </li>
        <li class="nav-item" id="addRegisterMenuItemPerson">
            <span class="nav-link disabled" tabindex="-1" aria-disabled="true">Employé</span>
        </li>
        <li class="nav-item" id="addRegisterMenuItemTime">
            <span class="nav-link disabled" tabindex="-1" aria-disabled="true">Période</span>
        </li>
    </ul>
</nav>