﻿@model WebApp.Models.RegisterViewModels.SetCompany

@{
    ViewData["Title"] = "AddRegisterPlanningCompany";
}

@*<partial name="_AddRegisterWizardMenu" />*@
@await Html.PartialAsync("_AddRegisterWizardMenu")

<div class="col-md-6">

    @if (Model.CompanyStatusId == 1)
    {
        <p>Dans quel département de la SNCB travaille cet employé?</p>
    }
    else
    {
        <p>Pour quelle société travaille cet employé?</p>
    }

    <form class="addRegisterPlanningWizard" asp-action="AddRegisterPlanningCompany" method="post">

        <input type="hidden" asp-for="CompanyStatusId" />

        @* if the user is an intern (SNCB) *@
        @if (Model.CompanyStatusId == 1)
        {
            if (Model.Departments.Count() > 0)
            {
                @* Give companyId the value "1" which is the SNCB Id *@
                <div class="form-group" id="addRegisterPlanning-company">

                    <input type="hidden" asp-for="Id" value="1" />

                    <select asp-items="@(new SelectList(Model.Departments, "Id", "Name", Model.DepartmentId))" asp-for="DepartmentId">
                        <option value="">-- Sélectionnez un département --</option>
                    </select>
                </div>

                @*Input text for department's other name*@
                <div class="form-group d-none" id="setDepartmentNameOther">
                    <label asp-for="DepartmentName" class="control-label"></label>
                    <input asp-for="DepartmentName" class="form-control" />
                    <span asp-validation-for="DepartmentName" class="text-danger"></span>
                </div>
            }
        }
        else
        {
            if (Model.Companies != null)
            {
                <div class="form-group">
                    <select asp-items="@(new SelectList(Model.Companies, "Id", "CompanyName", Model.Id))" asp-for="Id">
                        <option value="">-- Sélectionnez une société --</option>
                    </select>
                </div>

                if (Model.Departments != null)
                {
                    @*DropDown List for department*@
                    <div class="form-group" id="setCompanyDepartment">
                        <p>Dans quel département?</p>
                        <select asp-items="@(new SelectList(Model.Departments, "Id", "Name", Model.DepartmentId))" asp-for="DepartmentId">
                            <option value="">-- Sélectionnez un département --</option>
                        </select>
                    </div>
                }
                else
                {
                    @*DropDown List for department*@
                    <div class="form-group d-none" id="setCompanyDepartment">
                        <p>Dans quel département?</p>
                        <select name="DepartmentId" id="DepartmentId">
                            <option value="">-- Sélectionnez un département --</option>
                        </select>
                    </div>
                }

                @*Input text for company's other name*@
                <div class="form-group d-none" id="setCompanyNameOther">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                @*Input text for department's other name*@
                <div class="form-group d-none" id="setDepartmentNameOther">
                    <label asp-for="DepartmentName" class="control-label"></label>
                    <input asp-for="DepartmentName" class="form-control" />
                    <span asp-validation-for="DepartmentName" class="text-danger"></span>
                </div>
            }
            else
            {
                @*Input text for company's other name*@
                <div class="form-group" id="setCompanyNameOther">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            }
        }

        @if (ViewBag.Error != null)
        {
            <div id="viewBagError">
                <p class="text-danger">Une erreur est survenue : @ViewBag.Error</p>
            </div>
        }

        <div class="form-group addRegisterPlanningWizardBtnNext">
            <input type="submit" name="prevBtn" value="Précédent" class="btn btn-primary" />
            <input type="submit" name="nextBtn" value="Suivant" class="btn btn-primary" />
        </div>

    </form>

</div>


@section Scripts {
    <script>

        // Add custom Client Validation (custom data annotations)
        $.validator.addMethod("required-if-otherfield-is-zero", function (value, element, params) {
            var otherfield = $("#" + params.otherfield).val();

            if (otherfield === "0" & isNullOrWhitespace(value)) {
                return false;
            }
            else {
                return true;
            }
        });

        $.validator.unobtrusive.adapters.add("required-if-otherfield-is-zero", ["otherfield"], function (options) {
            options.rules["required-if-otherfield-is-zero"] =
            {
                otherfield: options.params['otherfield']
            };
            options.messages["required-if-otherfield-is-zero"] = options.message;

        });

        $(document).ready(function () {

            // Function
            function hideDepartmentOnChange() {
                $("select#DepartmentId").change(function () {
                    departmentOtherName.find(":input").val("");
                    hideElements(departmentOtherName);
                    depId = $("#DepartmentId").val();
                    if (depId === "0") {
                        showElements(departmentOtherName);
                    }
                    else {
                        hideElements(departmentOtherName);
                    }
                });
            }

            // Modify tabs menu
            let tabStatus = $("#addRegisterMenuItemStatus span");
            let tabPerson = $("#addRegisterMenuItemPerson span");
            let tabCompany = $("#addRegisterMenuItemCompany span");

            disableActiveTab(tabStatus, tabPerson);
            enableActiveTab(tabCompany);

            // FadeOut ViewBag + display form as it was before error
            if ($("#viewBagError").length) {

                //if ($("#DepartmentId").val() === "0") {
                //    if ($("#setDepartmentNameOther").hasClass("d-none")) {
                //        $("#setDepartmentNameOther").removeClass("d-none")
                //    }
                //}

                // In case of view returned with error
                //$("select#DepartmentId").change(function () {
                //    console.log("departement id change");

                //    if (!departmentOtherName.hasClass('d-none')) {
                //        departmentOtherName.addClass('d-none')
                //    }

                //    depId = $("#DepartmentId").val();

                //    if (depId === "0") {
                //        departmentOtherName.removeClass('d-none');;
                //    }
                //    else {
                //        departmentOtherName.addClass('d-none');
                //    }
                //});
                // End of change event on department

                fadeOutCustom($("#viewBagError"), 10000)
            }

            // Manage show and hide inputs according to dropdowns values
            let department = $("#setCompanyDepartment");
            let depId = $("#DepartmentId").val();

            let departmentOtherName = $("#setDepartmentNameOther");

            let compOtherName = $("#setCompanyNameOther");
            let companyId = $("#Id").val();

            // The user is part of SNCB
            if (companyId === "1") {

                hideDepartmentOnChange();
            }
            else {
                $("#Id").change(function () {

                    $("#Name").val("");

                    // Clear html elements
                    hideElements(compOtherName, department, departmentOtherName);

                    companyId = $("#Id").val();

                    if (companyId === "0") {
                        showElements(compOtherName);
                    }

                    if (companyId > 1) {

                        // Check wether the company has departments
                        $.ajax({
                            url: "/Register/GetDepartmentsByCompany",
                            data: { companyId: companyId },
                            type: "POST",
                            headers: { "RequestVerificationToken": $("input[name='__RequestVerificationToken']").val() },
                            success: function (result) {
                                if (result != 0) {

                                    // If departments exists
                                    $("#DepartmentId").empty();
                                    $("#DepartmentId").append("<option value=''>-- Sélectionnez un département --</option>");
                                    department.removeClass('d-none');

                                    $.each(result, function (index, row) {
                                        $("#DepartmentId").append("<option value='" + row.id + "'>" + row.name + "</option>");
                                    })
                                }
                                else {
                                    $("#DepartmentId").val("");
                                }
                            },
                            dataType: "json",
                        }); // End of ajax call

                        hideDepartmentOnChange();

                    } // End of if

                }); // End of change event on company

                // For navigation (Next & Previous) purposes
                hideDepartmentOnChange();
            }

        }); // End document ready

    </script>
}
