﻿@model WebApp.Models.RegisterViewModels.SetPerson
@{
    ViewData["Title"] = "AddRegisterPlanningPerson";
}

@*<partial name="_AddRegisterWizardMenu" />*@
@await Html.PartialAsync("_AddRegisterWizardMenu")

<div class="col-md-6">

    <p>Quel est le nom et le prénom de l'employé?</p>

    <form class="addRegisterPlanningWizard" asp-action="AddRegisterPlanningPerson" method="post">

        @*<input type="hidden" asp-for="CompanyStatusId" />*@

        @if (Model.Persons != null)
        {
            <div class="form-group">

                <select asp-items="@(new SelectList(Model.Persons, "Id", "Name", Model.Id))" asp-for="Id">
                    <option value="">-- Sélectionnez une personne --</option>
                </select>
            </div>

            @if (ViewBag.Error != null)
            {
                <div id="viewBagError">
                    <p class="text-danger">Une erreur est survenue : @ViewBag.Error</p>
                </div>
            }

            @*Input text for person's other last name*@
            <div class="form-group d-none" id="setPersonLName">
                <label asp-for="LName" class="control-label"></label>
                <input asp-for="LName" class="form-control" />
                <span asp-validation-for="LName" class="text-danger"></span>
            </div>


            @*Input text for person's other first name*@
            <div class="form-group d-none" id="setPersonFName">
                <label asp-for="FName" class="control-label"></label>
                <input asp-for="FName" class="form-control" />
                <span asp-validation-for="FName" class="text-danger"></span>
            </div>

            @if (ViewBag.NameError != null)
            {
                <div id="viewBagNameError">
                    <p class="text-danger">Une erreur est survenue : @ViewBag.NameError</p>
                </div>
            }
        }
        else
        {
            <input type="hidden" asp-for="Id" />

            @*Input text for person's other last name*@
            <div class="form-group" id="setPersonLName">
                <label asp-for="LName" class="control-label"></label>
                <input asp-for="LName" class="form-control" />
                <span asp-validation-for="LName" class="text-danger"></span>
            </div>

            @*Input text for person's other first name*@
            <div class="form-group" id="setPersonFName">
                <label asp-for="FName" class="control-label"></label>
                <input asp-for="FName" class="form-control" />
                <span asp-validation-for="FName" class="text-danger"></span>
            </div>

            @if (ViewBag.NameError != null)
            {
                <div id="viewBagNameError">
                    <p class="text-danger">Une erreur est survenue : @ViewBag.NameError</p>
                </div>
            }
        }

        @if (Model.PersonsVisited != null)
        {
            <div class="form-group" id="setPersonVisitedId">
                <p>Quelle est la personne visitée?</p>
                <select name="PersonVisitedId" asp-items="@(new SelectList(Model.PersonsVisited, "Id", "Name", Model.PersonVisitedId))">
                    <option value="">-- Sélectionnez la personne visitée --</option>
                </select>
            </div>

            @if (ViewBag.VisitedError != null)
            {
                <div id="viewBagVisitedError">
                    <p class="text-danger">Une erreur est survenue : @ViewBag.VisitedError</p>
                </div>
            }
        }

        <div class="form-group addRegisterPlanningWizardBtnNext">
            <input type="submit" name="prevBtn" value="Précédent" class="btn btn-primary" />
            <input type="submit" name="nextBtn" value="Suivant" class="btn btn-primary" />
        </div>

    </form>

</div>


@section Scripts {
    <script>

        // Add custom Client Validation (custom data annotations)
        $.validator.addMethod("required-if-otherfield-is-zero", function (value, element, params) {
            var otherfield = $("#" + params.otherfield).val();

            if (otherfield === "0" & isNullOrWhitespace(value)) {
                return false;
            }
            else {
                return true;
            }
        });

        $.validator.unobtrusive.adapters.add("required-if-otherfield-is-zero", ["otherfield"], function (options) {
            options.rules["required-if-otherfield-is-zero"] =
            {
                otherfield: options.params['otherfield']
            };
            options.messages["required-if-otherfield-is-zero"] = options.message;

        });

        $(document).ready(function () {

            // Modify tabs menu
            let tabStatus = $("#addRegisterMenuItemStatus span");
            let tabPerson = $("#addRegisterMenuItemPerson span");
            let tabCompany = $("#addRegisterMenuItemCompany span");
            let tabTime = $("#addRegisterMenuItemTime span");

            disableActiveTab(tabStatus, tabCompany, tabTime);
            enableActiveTab(tabPerson);

            // FadeOut ViewBag + display form as it was before error
            if ($("#viewBagError").length) {
                fadeOutCustom($("#viewBagError"), 15000)
            }

            if ($("#viewBagNameError").length) {
                fadeOutCustom($("#viewBagNameError"), 15000)
            }

            if ($("#viewBagVisitedError").length) {
                fadeOutCustom($("#viewBagVisitedError"), 15000)
            }

            let setPersonLName = $("#setPersonLName");
            let setPersonFName = $("#setPersonFName");
            let selectPerson = $("#Id");
            let selectPersonVal = selectPerson.val();

            // Select person change event
            selectPerson.change(function () {

                selectPersonVal = selectPerson.val();

                // Clean name and lastname inputs
                hideElements(setPersonLName, setPersonFName);

                // If "Autre" is selected, show inputs
                if (selectPersonVal === "0") {
                    showElements(setPersonLName, setPersonFName);
                }

            });
            // End change event

        }); // End document ready

    </script>
}
