﻿@model WebApp.Models.RegisterViewModels.SetStatus

@{
    ViewData["Title"] = "AddRegisterPlanningStatus";
}

@await Html.PartialAsync("_AddRegisterWizardMenu")
@*<partial name="_AddRegisterWizardMenu" />*@

<div class="col-md-6">
    <p>Quel est le statut de l'employé?</p>

    <form class="addRegisterPlanningWizard" asp-action="AddRegisterPlanningStatus" method="post">

        <div class="form-group">
            <select asp-items="@(new SelectList(Model.CompanyStatus, "Id", "StatusName", Model.Id))" asp-for="Id">
                <option value="0">-- Sélectionnez un statut --</option>
            </select>
        </div>

        @if (ViewBag.Error != null)
        {
            <div id="viewBagError">
                <p class="text-danger">Une erreur est survenue : @ViewBag.Error</p>
            </div>
        }

        <div class="form-group addRegisterPlanningWizardBtnNext">
            <input type="submit" name="nextBtn" value="Suivant" class="btn btn-primary" />
        </div>

    </form>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {

            // FadeOut ViewBag + display form as it was before error
            if ($("#viewBagError").length) {
                fadeOutCustom($("#viewBagError"), 10000)
            }

            // Modify tabs menu
            let tabStatus = $("#addRegisterMenuItemStatus span");
            let tabCompany = $("#addRegisterMenuItemCompany span");

            disableActiveTab(tabCompany);
            enableActiveTab(tabStatus);

        }); // End document ready

    </script>
}


