﻿@model WebApp.Models.RegisterViewModels.SetTime

@{
    ViewData["Title"] = "AddRegisterPlanningTime";
}

@*<partial name="_AddRegisterWizardMenu" />*@
@await Html.PartialAsync("_AddRegisterWizardMenu")


<div class="col-md-6">

    <form class="addRegisterPlanningWizard" asp-action="AddRegisterPlanningTime" method="post">

        <div class="form-group">
            <p>Quel type d'horaire souhaitez vous remplir?</p>
            <select asp-items="@(new SelectList(Model.Planning, "Id", "Type", Model.PlanningTypeId))" asp-for="PlanningTypeId">
                <option value="0">-- Sélectionnez un type d'horaire --</option>
            </select>
        </div>

        <div class="form-group d-none" id="sameDay">
            <div class="d-flex flex-wrap">
                <div class="dateItem">
                    <p>Date</p>
                    <input type="date" asp-for="SameDayDate" class="form-control" />
                </div>
                <div class="dateItem">
                    <p>Heure de début</p>
                    <input type="time" asp-for="SameDayTimeIn" class="form-control" />
                </div>
                <div class="dateItem">
                    <p>Heure de fin</p>
                    <input type="time" asp-for="SameDayTimeOut" class="form-control" />
                </div>
            </div>
        </div>

        <div class="form-group d-none" id="week">
            <p>Définissez une période, l'heure de début et de fin seront appliqués pour chaque jour de cette période.</p>
            <div class="d-flex flex-wrap">
                <div class="dateItem">
                    <p>Date de début</p>
                    <input type="datetime-local" asp-for="DifferentDayTimeIn" class="form-control" />
                </div>
                <div class="dateItem">
                    <p>Date de fin</p>
                    <input type="datetime-local" asp-for="DifferentDayTimeOut" class="form-control" />
                </div>
            </div>
            <div>
                Conserver :
                <label id="weekSaturdayLabel">Samedi</label>
                <input type="checkbox" name="weekSaturday">
                <label id="weekSundayLabel">Dimanche</label>
                <input type="checkbox" name="weekSunday">
            </div>
        </div>

        @*<div class="form-group d-none" id="customTime">
                <p>Définissez un horaire pour chaque jour que vous ajoutez.</p>
                <div class="d-flex flex-wrap">
                    <div class="dateItem">
                        <p>Date de début</p>
                        <input type="datetime-local" asp-for="DifferentDayTimeIn" class="form-control" />
                    </div>
                    <div class="dateItem">
                        <p>Date de fin</p>
                        <input type="datetime-local" asp-for="DifferentDayTimeOut" class="form-control" />
                    </div>
                    <div style="align-self: flex-end;margin-left: 1rem;">
                        <a href="#"><span class="material-icons">add</span></a>
                        <a href="#"><span class="material-icons">remove</span></a>
                    </div>
                </div>
            </div>*@

        <div class="form-group d-none" id="customTime">
            <div class="customTimeBlock d-flex flex-wrap">
                <div class="dateItem">
                    <p>Date</p>
                    <input type="date" asp-for="SameDayDate" class="form-control" />
                </div>
                <div class="dateItem">
                    <p>H. de début</p>
                    <input type="time" asp-for="SameDayTimeIn" class="form-control" />
                </div>
                <div class="dateItem">
                    <p>H. de fin</p>
                    <input type="time" asp-for="SameDayTimeOut" class="form-control" />
                </div>
                <div class="addRemoveDatesIcon">
                    <a href="#" id="addCustomTime"><span class="material-icons">add</span></a>
                    <a href="#" id="removeCustomTime"><span class="material-icons">remove</span></a>
                </div>
            </div>
        </div>

        @if (ViewBag.Error != null)
        {
            <div id="viewBagError">
                <p class="text-danger">Une erreur est survenue : @ViewBag.Error</p>
            </div>
        }

        <div class="form-group addRegisterPlanningWizardBtnNext">
            <input type="submit" name="prevBtn" value="Précédent" class="btn btn-primary" />
            <input type="submit" name="nextBtn" value="Suivant" class="btn btn-primary" />
        </div>
    </form>

</div>

@section Scripts {
    @*<script>
            $(document).ready(function () {

                // Jquery customTime validator
                function validateCustomTime() {
                    // Custom date validator for HTML input (yyyy-mm-dd) : date > 2020-01-01
                    $.validator.addMethod("dateHTMLInput", function (value, element) {
                        var adata, gg, mm, aaaa, xdata;
                        var check = false;
                        var begin = new Date(Date.UTC(2020, 0, 1));
                        re = /([12]\d{3}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]))/; // -- regex for yyyy-mm-dd format
                        //re2 = /^\d{1,2}\/\d{1,2}\/\d{4}$/, -- regex for dd/mm/yyyy format

                        if (re.test(value)) {
                            adata = value.split("-");
                            gg = parseInt(adata[2], 10);
                            mm = parseInt(adata[1], 10);
                            aaaa = parseInt(adata[0], 10);
                            xdata = new Date(Date.UTC(aaaa, mm - 1, gg));

                            if ((xdata.getUTCFullYear() === aaaa) && (xdata.getUTCMonth() === mm - 1) && (xdata.getUTCDate() === gg)) {
                                // date must be after 2020-01-01
                                if (xdata > begin) {
                                    check = true;
                                }
                            } else {
                                check = false;
                            }
                        } else {
                            check = false;
                        }
                        return this.optional(element) || check;
                    }, $.validator.messages.dateHTMLInput);

                    // Custom date validator for unique date field
                    $.validator.addMethod("unique", function (value, element) {
                        var parentForm = $(element).closest("#customTime");
                        var timeRepeated = 0;
                        // if the value of the element that has to respect to "unique" rule is not null
                        if (value != '') {
                            $(parentForm.find('[id^="SameDayDate"]').each(function () {
                                if ($(this).val() === value) {
                                    timeRepeated++;
                                }
                            }));
                        }
                        return timeRepeated === 1 || timeRepeated === 0;

                    }, $.validator.messages.unique);

                    // Initialise plugin
                    var validator = $("form").validate(); // end validator

                    // Add the rules to any input date element
                    $('#customTime [id^="SameDayDate"]').each(function () {
                        $(this).rules('add', {
                            required: true,
                            dateHTMLInput: true,
                            unique: true
                        });
                    });

                    //// submit form in case of success
                    //if (validator.form()) {
                    //    console.log("passe");
                    //    let form = $("form");
                    //    form.submit();
                    //}
                };

                // CustomTime Form validation
                $('#customTime').bind('propertychange change click keyup input paste', function () {
                    validateCustomTime();
                });

                // Form submission
                let btnSubmit = $("input[type=submit][name=nextBtn]");
                btnSubmit.click(function () {
                    //validateCustomTime();
                    // submit form in case of success
                    if (validator.form()) {
                        console.log("passe");
                        let form = $("form");
                        form.submit();
                    }
                }); // end submit

                let sameDay = $("#sameDay");
                let week = $("#week");
                let customTime = $("#customTime");

                let selectTimeChoice = $("#PlanningTypeId");
                let selectTimeChoiceVal = selectTimeChoice.val();

                // FadeOut ViewBag + display form as it was before error
                if ($("#viewBagError").length) {
                    fadeOutCustom($("#viewBagError"), 15000);

                    var blocks = new Array(sameDay, week, customTime);

                    for (var i = 0; i < blocks.length; i++) {
                        if (blocks[i].find(":input").val() != "") {
                            blocks[i].removeClass("d-none");
                        }
                    }

                }

                // Modify tabs menu
                let tabStatus = $("#addRegisterMenuItemStatus span");
                let tabPerson = $("#addRegisterMenuItemPerson span");
                let tabCompany = $("#addRegisterMenuItemCompany span");
                let tabTime = $("#addRegisterMenuItemTime span");

                disableActiveTab(tabStatus, tabCompany, tabPerson);
                enableActiveTab(tabTime);

                function cleanTimeBlock() {
                    if (!sameDay.hasClass("d-none")) {
                        sameDay.addClass("d-none");
                    }

                    if (!week.hasClass("d-none")) {
                        week.addClass("d-none");
                    }

                    if (!customTime.hasClass("d-none")) {
                        customTime.addClass("d-none");
                    }
                }

                // When a selection is made
                selectTimeChoice.change(function () {

                    selectTimeChoiceVal = selectTimeChoice.val();

                    // Clean previous choice
                    cleanTimeBlock();

                    // Display block according to choice
                    if (selectTimeChoiceVal == 1) {
                        if (sameDay.hasClass("d-none")) {
                            sameDay.removeClass("d-none");
                        }
                    }
                    else if (selectTimeChoiceVal == 2) {
                        if (week.hasClass("d-none")) {
                            week.removeClass("d-none");
                        }
                    }
                    else if (selectTimeChoiceVal == 3) {
                        if (customTime.hasClass("d-none")) {
                            customTime.removeClass("d-none");
                        }
                        // set first date to tomorrow
                        let intialDateValue = document.querySelector(".customTimeBlock:nth-child(1) input[type=date]");
                        let initalTimeInValue = document.querySelector(".customTimeBlock:nth-child(1) input#SameDayTimeIn");
                        let initialTimeOutValue = document.querySelector(".customTimeBlock:nth-child(1) input#SameDayTimeOut");

                        if (intialDateValue.value == "") {
                            intialDateValue.value = DateTomorrow();
                        }
                        if (initalTimeInValue.value == "") {
                            initalTimeInValue.value = "07:30";
                        }
                        if (initialTimeOutValue.value == "") {
                            initialTimeOutValue.value = "15:30";
                        }
                        //document.querySelector(".customTimeBlock:nth-child(1) input[type=date]").value = DateTomorrow();
                        //document.querySelector(".customTimeBlock:nth-child(1) input#SameDayTimeIn").value = "07:30";
                        //document.querySelector(".customTimeBlock:nth-child(1) input#SameDayTimeOut").value = "15:30";
                    }
                })

                // Add or remove custom datetimes (3rd option in dropdown)
                let index = 0;

                // reminder : css nth-child starts at 1 / jquery eq() starts at 0
                // let currentDateValue = document.querySelector(".customTimeBlock:nth-child(1) input[type=date]").value;

                $("#addCustomTime").click(function (e) {
                    e.preventDefault();

                    index++;
                    let CTB = ".customTimeBlock:eq(" + index + ")";
                    let CTBprev = ".customTimeBlock:eq(" + (index - 1) + ")";

                    // save first date in case it changes
                    let currentDateValue = $(CTBprev + " input[type=date]").val();
                    let currentTimeInValue = $(CTBprev + " input[type=time]:eq(0)").val();
                    let currentTimeOutValue = $(CTBprev + " input[type=time]:eq(1)").val();

                    // Append new date block and hide it
                    $("#customTime").append('<div class="customTimeBlock d-none"></div>');
                    $(CTB).append('<div class="dateItem"><input type="date" class="form-control" id="SameDayDate' + index + '" name="SameDayDate' + index + '" value=""></div>');
                    $(CTB).append('<div class="dateItem"><input type="time" class="form-control" id="SameDayTimeIn' + index + '" name="SameDayTimeIn' + index + '" value=""></div>');
                    $(CTB).append('<div class="dateItem"><input type="time" class="form-control" id="SameDayTimeOut' + index + '" name="SameDayTimeOut' + index + '" value=""></div>');

                    // Set new date blocks values (date+1, timeIn, timeOut)
                    if (currentDateValue !== "") {
                        $(CTB + " input[type=date]").val(currentDateValue);
                        document.querySelector(".customTimeBlock:nth-child(" + (index + 1) + ") input[type=date]").stepUp(1);
                    }
                    if (currentTimeInValue !== "") {
                        $(CTB + " input[type=time]:eq(0)").val(currentTimeInValue);
                    }
                    if (currentTimeOutValue !== "") {
                        $(CTB + " input[type=time]:eq(1)").val(currentTimeOutValue);
                    }

                    // Show block and clean classes
                    $(CTB).addClass("d-flex flex-wrap");
                    $(CTB).addClass("d-flex flex-wrap");
                    $(CTB).removeClass("d-none");
                });

                $("#removeCustomTime").click(function (e) {
                    e.preventDefault();
                    if (index > 0) {
                        $(".customTimeBlock:nth-child(" + (index + 1) + ")").remove();
                        index--;
                    }
                });

            });
        </script>*@
}