﻿@using RegisterVM = WebApp.Models.RegisterViewModels.RegisterVM;

@model IEnumerable<RegisterVM>

@{
    ViewData["Title"] = "GetRegisters";
}

<h1>Registre des présences</h1>

<nav class="nav secondaryCustomNav">
    <span class="nav-link">Effectif</span>
    <a class="nav-link" asp-action="GetRegisters" asp-controller="RegisterPlanning">Planning</a>
</nav>

<hr />
<div class="customBreadcrumb">
    @Html.ActionLink("DashBoard", "Index", "Admin")
</div>

<div class="adapt75">
    <input type="hidden" value="@TempData["Alert"]" id="alert" />
    <div class="d-flex align-items-baseline">
        @await Html.PartialAsync("_RegisterFilter")
        @*<partial name="_RegisterFilter" />*@
        <form asp-action="Index" method="get" class="d-flex lastFlex">
            <input type="text" name="SearchString" value="@ViewData["nameFilter"]" size="12" style="margin-right:0.5rem;" />
            <button type="submit" class="btn-custom"><span class="material-icons">search</span></button>
        </form>
    </div>
</div>

<div class="adapt75">
    @if (Model.Count() > 0)
    {
        @foreach (RegisterVM item in Model)
        {
            <table class="table table-bordered table-condensed registersTable tableCustomLayout">
                <thead>
                    <tr>
                        <th colspan="2">
                            <a asp-controller="" asp-action="" title="Profil de l'utilisateur">@item.LName @item.FName</a>
                            <div class="companyTh">
                                @Html.DisplayFor(modelItem => item.CompanyName) (@Html.DisplayFor(modelItem => item.StatusName))
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <strong>Entrée: </strong>@Html.DisplayFor(modelItem => item.TimeIn)<br />
                        </td>

                        <td style="text-align: right" ;>
                            @if (item.TimeOut == null)
                            {
                                @Html.DisplayFor(modelItem => item.TimeOut)<br />
                            }
                            else
                            {
                                <strong>Sortie: </strong>@Html.DisplayFor(modelItem => item.TimeOut)<br />
                            }
                        </td>
                    </tr>
                </tbody>
            </table>
        }
    }
    else
    {
        <p class="emptyContent">Aucune personne ne se trouve dans le registre pour la période souhaitée.</p>
    }
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            // Remove the active class from previously active menu item
            $(".nav li").removeClass("active");
            $('#getRegistersMenuItem').addClass('active');

            let filterSelector = $("#registerFilter");
            let filterVal = filterSelector.val();

            let searchSelector = $("input[name='SearchString']");
            let searchVal = searchSelector.val();

            filterSelector.change(function () {
                filterVal = filterSelector.val();
                searchVal = searchSelector.val();

                $.ajax({
                    url: "/Register/GetRegisters",
                    type: "GET",
                    data: { sortOrder: filterVal, searchString: searchVal },
                    success: function (result) {
                        $("body").html(result);
                        $("#registerFilter").find("option[value=" + filterVal + "]").attr('selected', true);
                    }
                })  // End AJax Call
            }) // End Change

            let submit = $("button[type='submit']");

            submit.click(function (e) {
                e.preventDefault();

                filterVal = filterSelector.val();
                searchVal = searchSelector.val();

                $.ajax({
                    url: "/Register/GetRegisters",
                    type: "GET",
                    data: { sortOrder: filterVal, searchString: searchVal },
                    success: function (result) {
                        $("body").html(result);
                        $("#registerFilter").find("option[value=" + filterVal + "]").attr('selected', true);
                    }
                }) // End AJax Call
            }); // End Submit

        });
    </script>
}

