﻿@using RegisterPlanningVM = WebApp.Models.RegisterViewModels.RegisterPlanningVM
@model IEnumerable<WebApp.Models.RegisterViewModels.RegisterPlanningVM>

@{
    ViewData["Title"] = "GetRegisterPlanning";
}

<h1>Registre des présences</h1>

<nav class="nav secondaryCustomNav">
    <a class="nav-link" asp-action="GetRegisters" asp-controller="Register">Effectif</a>
    <span class="nav-link">Planning</span>
</nav>

<hr />
<div class="customBreadcrumb">
    @Html.ActionLink("Retour au DashBoard", "Index", "Admin")
</div>

<!-- Modal placeholder -->
<div id="modal-placeholder">

</div>

<div class="topButtonsContainer">

    <input type="hidden" value="@TempData["Alert"]" id="alert" />

    <div class="d-flex align-items-baseline">
        @*<partial name="_RegisterFilter" />*@
        @await Html.PartialAsync("_RegisterFilter")
        <form asp-action="Index" method="get" class="d-flex">
            <input type="text" name="SearchString" value="@ViewData["nameFilter"]" size="12" style="margin-right:0.5rem;" />
            <button type="submit" class="btn-custom"><span class="material-icons">search</span></button>
        </form>
    </div>

    <div>
        <button style="margin-right:10px;" type="button" class="btn btn-primary topButton" data-toggle="ajax-modal" data-target="#add-registerPlanning"
                data-url="@Url.Action("AddRegisterPlanning")">
            Importer
        </button>
        @*<button type="button" class="btn btn-primary topButton" data-toggle="ajax-modal" data-target="#add-registerPlanning"
                data-url="@Url.Action("AddRegisterPlanningStatus")">
            Ajouter
        </button>*@

        <a type="button" class="btn btn-primary topButton" asp-controller="Register" asp-action="AddRegisterPlanningStatus">
            Ajouter
        </a>
    </div>

</div>

<div id="registerPlanningListing">
    @foreach (RegisterPlanningVM item in Model)
    {
    <table class="table custom-table-bordered table-condensed registersTable tableCustomLayout">
        <thead>
            <tr>
                <th colspan="2">
                    <a href="#" title="Edit Product">@item.LName @item.FName</a>
                    <div class="companyTh">
                        @Html.DisplayFor(modelItem => item.CompanyName) (@Html.DisplayFor(modelItem => item.StatusName))
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <strong>@Html.DisplayNameFor(modelItem => item.TimeIn): </strong>@Html.DisplayFor(modelItem => item.TimeIn)<br />
                </td>

                <td style="text-align: right" ;>
                    @if (item.TimeOut == null)
                    {
                        @Html.DisplayFor(modelItem => item.TimeOut)<br />
                    }
                    else
                    {
                        <strong>Sortie: </strong>@Html.DisplayFor(modelItem => item.TimeOut)<br />
                    }
                </td>
            </tr>

            <tr>
                <td>
                    <strong>@Html.DisplayNameFor(modelItem => item.Planned): </strong>@item.Planned.BoolToHtmlString("Oui", "Non")<br />
                </td>
                <td style="text-align: right" ;>
                    <strong>@Html.DisplayNameFor(modelItem => item.State): </strong>@Html.DisplayFor(modelItem => item.State)<br />
                </td>
            </tr>
            <tr>
                <td colspan="2" class="tr-background">
                    @Html.ActionLink("Modifier", "Edit", new { id = item.Id })
                </td>
            </tr>
        </tbody>
    </table>
    }
</div>

@section Scripts {
    <script>

        $(document).ready(function () {

            // Display alert message after planning insertion
            if ($("#alert").val() !== "") {

                let title = "Ajout d'un registre au planning";
                let message;

                if ($("#alert").val() === "true") {
                    message = "Votre ajout a été réalisé avec succès.";
                }
                else {
                    message = "Ce registre existait déjà, aucune modification n'a donc été opérée.";
                }

                $.ajax({
                    url: "/Register/Success",
                    type: "POST",
                    data: { title: title, message: message },
                    headers:
                    {
                        "RequestVerificationToken": $("input[name='__RequestVerificationToken']").val()
                    },
                    success: function (result) {
                        $('#modal-placeholder').html(result);
                        $('#modal-placeholder > .modal').modal('show');
                    }
                }); // end Open modal
            }

            // Time Filtering
            let filterSelector = $("#registerFilter");
            let filterVal = filterSelector.val();

            let searchSelector = $("input[name='SearchString']");
            let searchVal = searchSelector.val();

            filterSelector.change(function () {
                filterVal = filterSelector.val();
                searchVal = searchSelector.val();

                $.ajax({
                    async: true,
                    url: "/Register/GetRegisterPlanning",
                    type: "GET",
                    data: { sortOrder: filterVal, searchString: searchVal },
                    success: function (result) {
                        var htmlResult = $("#registerPlanningListing", result);
                        $("#registerPlanningListing").replaceWith(htmlResult);
                        $("#registerFilter").find("option[value=" + filterVal + "]").attr('selected', true);
                    }
                }); // End AJax Call
            }); // End Change

            // Search filter
            let submit = $("button[type='submit']");

            submit.on('click', (function (e) {
                e.preventDefault();

                filterVal = filterSelector.val();
                searchVal = searchSelector.val();

                $.ajax({
                    async: true,
                    url: "/Register/GetRegisterPlanning",
                    type: "GET",
                    data: { sortOrder: filterVal, searchString: searchVal },
                    success: function (result) {
                        $("body").html(result);
                        $("#registerFilter").find("option[value=" + filterVal + "]").attr('selected', true);
                    }
                }); // End AJax Call
            })); // End Submit
        });

        ////$(document).ready(function () {

        ////    let modalToken = $("input[name='__RequestVerificationToken']").val();

        ////     Open modal
        ////    $('button[data-toggle="ajax-modal"]').click(function (event) {

        ////        var url = $(this).data('url');

        ////         Load partial view with first dropdown
        ////        $.ajax({
        ////            url: url,
        ////            type: "GET",
        ////            headers:
        ////            {
        ////                "RequestVerificationToken": modalToken
        ////            },
        ////            success: function (result) {
        ////                $('#modal-placeholder').html(result);
        ////                $('#modal-placeholder > .modal').modal('show');
        ////            }
        ////        });
        ////    }); // end Open modal

        ////     Time Filtering
        ////    let filterSelector = $("#registerFilter");
        ////    let filterVal = filterSelector.val();

        ////    let searchSelector = $("input[name='SearchString']");
        ////    let searchVal = searchSelector.val();

        ////    filterSelector.change(function () {
        ////        filterVal = filterSelector.val();
        ////        searchVal = searchSelector.val();

        ////        $.ajax({
        ////            async: true,
        ////            url: "/Register/GetRegisterPlanning",
        ////            type: "GET",
        ////            data: { sortOrder: filterVal, searchString: searchVal },
        ////            success: function (result) {
        ////                var htmlResult = $("#registerPlanningListing", result);
        ////                $("#registerPlanningListing").replaceWith(htmlResult);
        ////                $("#registerFilter").find("option[value=" + filterVal + "]").attr('selected', true);
        ////            }
        ////        }); // End AJax Call
        ////    }); // End Change

        ////     Search filter
        ////    let submit = $("button[type='submit']");

        ////    submit.on('click', (function (e) {
        ////        e.preventDefault();

        ////        filterVal = filterSelector.val();
        ////        searchVal = searchSelector.val();

        ////        $.ajax({
        ////            async: true,
        ////            url: "/Register/GetRegisterPlanning",
        ////            type: "GET",
        ////            data: { sortOrder: filterVal, searchString: searchVal },
        ////            success: function (result) {
        ////                $("body").html(result);
        ////                $("#registerFilter").find("option[value=" + filterVal + "]").attr('selected', true);
        ////            }
        ////        }); // End AJax Call
        ////    })); // End Submit

        ////     Prepare variables for modal interactions
        ////    let setCompanyBlock = $("#addRegisterPlanning-SetCompany");
        ////    let setCompanyOtherNameBlock = $("#addRegisterPlanning-setCompanyNameOther");
        ////    let setCompanyDepartmentBlock = $("#addRegisterPlanning-setCompanyDepartment");
        ////    let setCompanyDepartmentOtherNameBlock = $("#addRegisterPlanning-setDepartmentNameOther");

        ////    let setCompany = $("#SetCompany\\.Id");
        ////    let setStatus = $("#SetStatus\\.Id");
        ////    let setCompanyDepartment = $("#SetCompany\\.DepartmentId");
        ////    let setCompanyDepartmentName = $("#SetCompany\\.DepartmentName");

        ////});/*End Document ready*/


        //// When a status is picked up through dropdown ...
        //// SetStatus
        ////$("#modal-placeholder").on('change', $("#SetStatus\\.Id"), function (e) {

        ////    console.log("1st event");

        ////    setCompanyBlock = $("#addRegisterPlanning-SetCompany");
        ////    setCompanyOtherNameBlock = $("#addRegisterPlanning-setCompanyNameOther");
        ////    setCompanyDepartmentBlock = $("#addRegisterPlanning-setCompanyDepartment");
        ////    setCompanyDepartmentOtherNameBlock = $("#addRegisterPlanning-setDepartmentNameOther");

        ////    setCompany = $("#SetCompany\\.Id");
        ////    setStatus = $("#SetStatus\\.Id");
        ////    setCompanyDepartment = $("#SetCompany\\.DepartmentId");

        ////     Empty dropdown list
        ////    setCompany.empty();
        ////    setCompany.append("<option value='-1'>-- Sélectionnez une société --</option>");

        ////     Reset back to origin
        ////    if (setCompanyBlock.hasClass("d-none")) {
        ////        setCompanyBlock.removeClass("d-none");
        ////    }
        ////    if (!setCompanyDepartmentBlock.hasClass("d-none")) {
        ////        setCompanyDepartmentBlock.addClass("d-none");
        ////    }

        ////     If the user is an intern (SNCB employee)
        ////    if (setStatus.val() == 1) {

        ////        if (!setCompanyBlock.hasClass("d-none")) {
        ////            setCompanyBlock.addClass("d-none");
        ////        }
        ////        if (setCompanyDepartmentBlock.hasClass("d-none")) {
        ////            setCompanyDepartmentBlock.removeClass("d-none")
        ////        }

        ////        $.ajax({
        ////            url: "/Register/GetDepartmentsByCompany",
        ////            data: { companyId: 1 },
        ////            type: "POST",
        ////            headers: { "RequestVerificationToken": $("input[name='__RequestVerificationToken']").val() },
        ////            success: function (result) {
        ////                if (result != 0) {
        ////                     If departments exists
        ////                    setCompanyDepartment.empty();
        ////                    setCompanyDepartment.append("<option value='-1'>-- Sélectionnez un département --</option>");

        ////                    $.each(result, function (index, row) {
        ////                        setCompanyDepartment.append("<option value='" + row.id + "'>" + row.name + "</option>");
        ////                    })
        ////                }
        ////            },
        ////            dataType: "json",
        ////        }); // End of Ajax Call

        ////         if a department is selected
        ////        $("select#SetCompany\\.DepartmentId").off().on("change", function (e) {
        ////            console.log("department id changed");
        ////            e.stopPropagation();
        ////            if (setCompanyDepartment.val() === "0") {
        ////                setCompanyDepartmentOtherNameBlock.removeClass('d-none');
        ////            }
        ////            else {
        ////                setCompanyDepartmentOtherNameBlock.addClass('d-none');
        ////            }
        ////        });

        ////    } // end if
        ////    else if (setStatus.val() > 1) {
        ////        setCompanyDepartment.empty();
        ////        setCompanyDepartment.append("<option value='-1'>-- Sélectionnez un département --</option>");

        ////        if (!setCompanyDepartmentBlock.hasClass("d-none")) {
        ////            setCompanyDepartmentBlock.addClass("d-none");
        ////        }

        ////        if (setCompanyBlock.hasClass("d-none")) {
        ////            setCompanyBlock.removeClass("d-none");
        ////        }

        ////        $.ajax({
        ////            url: "/Register/GetCompaniesByStatus",
        ////            data: { statusId: setStatus.val() },
        ////            type: "POST",
        ////            headers: { "RequestVerificationToken": $("input[name='__RequestVerificationToken']").val() },
        ////            success: function (result) {
        ////                if (result != 0) {
        ////                    setCompany.empty();
        ////                    setCompany.append("<option value='-1'>-- Sélectionnez une société --</option>");

        ////                    $.each(result, function (index, row) {
        ////                        setCompany.append("<option value='" + row.id + "'>" + row.companyName + "</option>");
        ////                    });
        ////                }
        ////                else {
        ////                    if (setCompanyDepartmentOtherNameBlock.hasClass("d-none")) {
        ////                        setCompanyDepartmentOtherNameBlock.removeClass("d-none");
        ////                    }
        ////                }
        ////            },
        ////            dataType: "json",
        ////        }); // end of ajax call

        ////         if a company is selected
        ////        $("#SetCompany\\.Id").off().on("change", function (e) {
        ////            console.log("company id changed");
        ////            e.stopPropagation();
        ////            if (setCompany.val() === "0") {
        ////                if (setCompanyDepartmentOtherNameBlock.hasClass("d-none")) {
        ////                    setCompanyDepartmentOtherNameBlock.removeClass("d-none");
        ////                }

        ////                if (!setCompanyDepartmentBlock.hasClass("d-none")) {
        ////                    setCompanyDepartmentBlock.addClass("d-none");
        ////                }
        ////            }
        ////            else {
        ////                if (!setCompanyDepartmentOtherNameBlock.hasClass("d-none")) {
        ////                    setCompanyDepartmentOtherNameBlock.addClass("d-none");
        ////                }

        ////                 Ajax call to get departments if exist
        ////                $.ajax({
        ////                    url: "/Register/GetDepartmentsByCompany",
        ////                    data: { companyId: setCompany.val() },
        ////                    type: "POST",
        ////                    headers: { "RequestVerificationToken": $("input[name='__RequestVerificationToken']").val() },
        ////                    success: function (result) {

        ////                        setCompanyDepartment.empty();

        ////                        if (result != 0) {
        ////                             If departments exists
        ////                            if (setCompanyDepartmentBlock.hasClass("d-none")) {
        ////                                setCompanyDepartmentBlock.removeClass("d-none");
        ////                            }
        ////                            setCompanyDepartment.append("<option value='-1'>-- Sélectionnez un département --</option>");

        ////                            $.each(result, function (index, row) {
        ////                                setCompanyDepartment.append("<option value='" + row.id + "'>" + row.name + "</option>");
        ////                            })
        ////                        }
        ////                        else {
        ////                            if (!setCompanyDepartmentBlock.hasClass("d-none")) {
        ////                                setCompanyDepartmentBlock.addClass("d-none");
        ////                            }
        ////                        }
        ////                    },
        ////                    dataType: "json",
        ////                }); // End of Ajax Call
        ////            }
        ////        });

        ////    } // end of else if

        ////    if (setStatus.val() > 0) {
        ////        console.log("passe");
        ////        console.log(setCompany.val() > 0 && setCompanyDepartment.val() < 0);
        ////        console.log(setCompany.val() > 0 && setCompanyDepartment.val() == 0);
        ////        console.log(setCompany.val() > 0 && setCompanyDepartment.val() > 0);


        ////        if (setCompany.val() > 0 && setCompanyDepartment.val() < 0) {
        ////            $(".modal-body").append("<p>company sans department</p>");
        ////        }
        ////        else if (setCompany.val() > 0 && setCompanyDepartment.val() == 0) {
        ////            $(".modal-body").append("<p>company avec input department</p>");
        ////        }
        ////        else if (setCompany.val() > 0 && setCompanyDepartment.val() > 0) {
        ////            $(".modal-body").append("<p>company avec department</p>");
        ////        }
        ////    }


        ////}); // end modal 1st event
    </script>
}