﻿
@*@{
    ViewData["Title"] = "Index";
}

<h1>Registre des présences</h1>
<hr class="withoutBreadCrumb" />

@Html.ActionLink("Signaler son arrivée", "SetStatus", "Register",
    new { isCheckingOut = "false" },
    new { @class = "btn btn-primary" })

@Html.ActionLink("Signaler son départ", "SetStatus", "Register",
    new { isCheckingOut = "true" },
    new { @class = "btn btn-primary" })*@

@{
    ViewData["Title"] = "Index";
}

<h1>Registre des présences</h1>
<h2>Enregistrement</h2>
<hr />
<p>A votre arrivée sur le site, cliquez sur "Signaler son arrivée". A la sortie, n'oubliez pas de signer en cliquant sur "Signaler son départ."</p>

<p>Si vous quittez le site et que vous avez oublié de signer à votre arrivée, cliquez sur "Signalez son départ".</p>

<form class="d-inline-block" asp-controller="Register" asp-action="Index" method="post">
    <input type="hidden" name="isCheckingOut" value="false" />
    <input class="btn btn-primary" type="submit" value="Signaler son arrivée" />
</form>

<form class="d-inline-block" asp-controller="Register" asp-action="Index" method="post">
    <input type="hidden" name="isCheckingOut" value="true" />
    <input class="btn btn-primary" type="submit" value="Signaler son départ" />
</form>