﻿
@{
    ViewData["Title"] = "RegisterSummary";
}

<h1>Registre des présences</h1>
<h2>Enregistrement terminé</h2>
<hr />


<p>Merci d'avoir signé le registre.</p>

@if (ViewBag.IsCheckInOut == false)
{
    <p>N'oubliez pas de signer à nouveau lors de votre sortie.</p>
}
else
{
    if (Model.Mistake != null)
    {
        <p>Nous constatons que vous avez oublié de vous enregistrer à votre arrivée. Soyez attentif-ve lors de votre prochaine visite.</p>
    }
}

@if (ViewBag.TestActive == true)
{
    <p>Nous souhaiterions à présent vérifier votre maîtrise des règles de sécurité.</p>
    <p>Merci de cliquer sur "Passer le test".</p>   
    <a class="btn btn-primary" asp-action="TakeTest" asp-controller="Test">Passer le test</a>
}
else
{
    <a class="btn btn-primary" asp-action="Index" asp-controller="Home">Terminer</a>
}




