﻿
@{
    ViewData["Title"] = "RegisterAlert";
}

<h1>Registre des présences</h1>
<h2>Enregistrement: confirmation demandée</h2>
<hr />

@if (ViewBag.Alert != null)
{
    <p>Votre enregistrement nécessite une confirmation de votre part.</p>

    if (ViewBag.TimeIn != null)
    {
        <p>@ViewBag.Alert @ViewBag.TimeIn</p>

        <p>Souhaitez-vous quand même confirmer votre entrée?</p>

        // A record with a valid time-in but no time-out exist
        // yes --> insert new record with Time-in only (orphan record will be "cleaned" by sql event)
        // non --> chekout existing register
        <form asp-action="RegisterAlert">
            <input type="submit" value="Oui, je valide mon entrée" class="btn btn-primary" name="sign-in-new" /> 
            <input type="submit" value="Non, je valide ma sortie" class="btn btn-primary" name="sign-out-existing" />
        </form>
    }
    else
    {
        <p>@ViewBag.Alert</p>

        <p>Souhaitez-vous quand même confirmer votre sortie?</p>

        // No record was found
        // yes --> insert new record with Time-In and Time-Out
        // non --> insert new record with Time-in only
        <form asp-action="RegisterAlert">
            <input type="submit" value="Oui, je valide ma sortie" class="btn btn-primary" name="sign-in-sign-out-new" />
            <input type="submit" value="Non, je valide mon entrée" class="btn btn-primary" name="sign-in-new" />
        </form>
    }
}