﻿@model WebApp.Models.RegisterViewModels.SetPerson

@{
    ViewData["Title"] = "SetPerson";
}

<h1>Registre des présences</h1>
<h2>Check-out</h2>
<hr />
@*<partial name="_BreadCrumb" />*@
@await Html.PartialAsync("_BreadCrumb")

<div class="row">
    <div class="col-md-6">
        <form asp-action="SearchRegister">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @*If no user was found in the checked-in users for that company, display message*@
            @if (ViewBag.RegisterError != null)
            {
                <div id="viewBagError">
                    <p class="text-danger">@ViewBag.RegisterError</p>
                    <p>Cherchez votre nom dans la liste d'employés de votre entreprise.</p>
                </div>
            }

            @*DropDown List for persons names*@
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <select name="Id" asp-items="Model.OptionsPersons" id="Id">
                    <option value="-1">-- Sélectionnez votre nom --</option>
                    <option value="0">Autre</option>
                </select>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>


            @*Input text for person's other last name*@
            <div class="form-group d-none">
                <label asp-for="LName" class="control-label"></label>
                <input asp-for="LName" class="form-control" />
                <span asp-validation-for="LName" class="text-danger"></span>
            </div>


            @*Input text for person's other first name*@
            <div class="form-group d-none">
                <label asp-for="FName" class="control-label"></label>
                <input asp-for="FName" class="form-control" />
                <span asp-validation-for="FName" class="text-danger"></span>
            </div>

            @if (Model.PersonsVisited != null)
            {

                @*DropDown List for persons names*@
                <div class="form-group">
                    <label asp-for="PersonVisitedId" class="control-label"></label>
                    <select name="PersonVisitedId" asp-items="Model.OptionsPVisited" id="PersonVisitedId">
                        <option value="0">-- Sélectionnez la personne visitée --</option>
                    </select>
                    <span asp-validation-for="PersonVisitedId" class="text-danger"></span>
                </div>
            }

            @if (ViewBag.Error != null)
            {
                <div id="viewBagError">
                    <p class="text-danger">Une erreur est survenue : @ViewBag.Error</p>
                </div>
            }

            <div class="form-group">
                <input type="submit" value="Signer le registre" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            let dpSelector = $("select#Id");
            let dpSelectorValue = dpSelector.val();

            let FName = $("#FName").parent();
            let LName = $("#LName").parent();

            dpSelector.change(function () {

                // Save the new value of selected item
                dpSelectorValue = dpSelector.val();

                // If "Autre" is selected, show inputs
                if (dpSelectorValue == 0) {

                    if (FName.hasClass("d-none")) {
                        FName.removeClass("d-none");
                    }
                    if (LName.hasClass("d-none")) {
                        LName.removeClass("d-none");
                    }
                }
                else {

                    if (!FName.hasClass("d-none")) {
                        FName.addClass("d-none");
                    }

                    if (!LName.hasClass("d-none")) {
                        LName.addClass("d-none");
                    }
                }

            })


        })

    </script>
}


