﻿@model WebApp.Models.RegisterViewModels.FormRegisterVM

@{
    ViewData["Title"] = "SetCompany";
}

<h1>Registre des présences</h1>
@if (Model.IsCheckingOut == true)
{
    <h2>Enregistrement: check-out</h2>
}
else
{
    <h2>Enregistrement: check-in</h2>
}
<hr />

@if (Model.StatusId == 1)
{
    <h3>Dans quel département de la SNCB travaillez-vous?</h3>
}
else
{
    <h3>Pour quelle société travaillez-vous?</h3>
}

<div class="row">
    <div class="col-md-8">
        <form asp-action="SetCompany" method="post" id="formSetCompany">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="IdAutoComplete" />
            <input type="hidden" asp-for="StatusId" />

            @if (Model.StatusId == 1)
            {
                @* Give companyId the value "1" which is the SNCB Id *@
                <input type="hidden" asp-for="CompanyId" value=@Model.CompanyId />

                @*DropDown List for department*@
                <div class="form-group" id="setCompanyDepartment">
                    <label asp-for="DepartmentId" class="control-label"></label>
                    <select asp-items="@(new SelectList(Model.Departments, "Id", "Name", Model.DepartmentId))" asp-for="DepartmentId">
                        <option value="">-- Sélectionnez un département --</option>
                        <option value="0">Autre</option>
                    </select>
                    <span asp-validation-for="DepartmentId" class="text-danger"></span>
                </div>

                @*Input text for company's other name*@
                <div class="form-group d-none" id="setCompanyNameOther">
                    <label asp-for="CompanyName" class="control-label"></label>
                    <input asp-for="CompanyName" class="form-control" value=@Model.CompanyName />
                    <div asp-validation-for="CompanyName" class="text-danger"></div>
                </div>

                @*Input text for department's other name*@
                <div class="form-group d-none" id="setDepartmentNameOther">
                    <label asp-for="DepartmentName" class="control-label"></label>
                    <input asp-for="DepartmentName" class="form-control" value=@Model.DepartmentName />
                    <span asp-validation-for="DepartmentName" class="text-danger"></span>
                </div>
            }
            else
            {
                if (Model.Companies.Count() > 0)
                {
                    // DropDown List for company
                    <div class="form-group" id="setCompanyId">
                        <label asp-for="CompanyId" class="control-label"></label>
                        <select asp-items="@(new SelectList(Model.Companies, "Id", "CompanyName", Model.CompanyId))" asp-for="CompanyId">
                            <option value="">-- Sélectionnez une société --</option>
                            <option value="0">Autre</option>
                        </select>
                        <span asp-validation-for="CompanyId" class="text-danger"></span>
                    </div>
                }
                else
                {
                    // Display field for companyId
                    <input type="hidden" asp-for="CompanyId" value="CompanyId" />
                }

                // Input text for company's other name
                <div class="form-group d-none" id="setCompanyNameOther">
                    <label asp-for="CompanyName" class="control-label"></label>
                    <input asp-for="CompanyName" class="form-control" />
                    <span asp-validation-for="CompanyName" class="text-danger" value=@Model.CompanyName></span>
                </div>
            }

            @if (ViewBag.Error != null)
            {
                <div id="viewBagError">
                    <p class="text-danger">Une erreur est survenue : @ViewBag.Error</p>
                </div>
            }

            <div class="form-group">
                <input type="submit" name="prevBtn" value="Précédant" class="btn btn-primary" />
                <input type="submit" name="nextBtn" value="Suivant" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <script>

        // Save selectors and html blocks
        let departmentDDBlock = $("#setCompanyDepartment");
        let departmentDDContent = $("#DepartmentId").html();
        let companyOtherName = $("#setCompanyNameOther");
        let departmentOtherName = $("#setDepartmentNameOther");

        // Store the Id value of the selected department item before it s remove from the DOM
        let dropdwDepartmentId = $("select#DepartmentId");
        let departmentId = dropdwDepartmentId.val();

        let dropdwCompanyId = $("select#CompanyId");
        let companyId = dropdwCompanyId.val();

        $(document).ready(function () {

            // update company and departmentId in case of view returned in case of error
            departmentId = dropdwDepartmentId.val();
            companyId = dropdwCompanyId.val();
            if (departmentId === "0") {
                if (departmentOtherName.hasClass('d-none')) {
                    departmentOtherName.removeClass('d-none');
                }                
            }

            if (companyId === "0") {
                if (companyOtherName.hasClass('d-none')) {
                    companyOtherName.removeClass('d-none');
                }                
            }

            // Error postback view handeling
            if ($("#viewBagError").length) {

                // Remove dropdown selected values if present from Error postback
                if ($("#CompanyId option:selected").length) {
                    $("#CompanyId option:selected").removeAttr('selected')
                }

                if ($("#DepartmentId option:selected").length) {
                    $("#DepartmentId option:selected").removeAttr('selected')
                }

                //FadeOut ViewBag
                fadeOutCustom($("#viewBagError"), 13000);
            }

            // If the user is an intern (SNCB employee)
            let statusIdVal = $("#StatusId").val();

            if (statusIdVal == 1) {

                // In case the user clicked "previous/next", clear previous values
                if ($("#CompanyName").val() != "") {
                    $("#CompanyName").val("");
                    companyOtherName.addClass('d-none');
                }

                if (departmentDDBlock.hasClass("d-none")) {
                    departmentDDBlock.removeClass('d-none');
                }

                // Toggle input text for department on dropdown change
                $("select#DepartmentId").change(function () {
                    departmentId = dropdwDepartmentId.val();

                    if ($("#DepartmentName").val() != null) {
                        $("#DepartmentName").val("");
                    }

                    if (departmentId === "0") {
                        departmentOtherName.removeClass('d-none');
                    }
                    else {
                        departmentOtherName.addClass('d-none');
                    }
                });
            }
            else if (statusIdVal > 1 && statusIdVal <= 3) {

                // In case the user clicked "previous/next", clear previous values
                if ($("#DepartmentName").val() != "") {
                    $("#DepartmentName").val("");
                    departmentOtherName.addClass('d-none');
                }

                // Store the Id value of the selected company item
                let dropdwId = $("select#CompanyId");
                let id = dropdwId.val();

                // When a selection is made by the user in the company dropdownlist
                $(dropdwId).change(function () {

                    // Remove selected if present from postback Error
                    if ($("#CompanyId option:selected").length) {
                        $("#CompanyId option").removeAttr('selected')
                    }

                    // Remove input field for company's name
                    //$("#Name").autocomplete('close').val('');
                    if ($("#CompanyName").val() != null) {
                        $("#CompanyName").val("");
                    }

                    // Modify the Id value of the selected item
                    id = dropdwId.val();

                    // If the user selects a company >
                    if (id > "0") {

                        if (!companyOtherName.hasClass("d-none")) {
                            companyOtherName.addClass('d-none');
                        }
                    }
                    // If the user selects "Autre"
                    else if (id === "0") {

                        // Display Company Other Name Field
                        if (companyOtherName.hasClass("d-none")) {
                            companyOtherName.removeClass('d-none');
                        }
                    }
                    // If the user selects the default value : reset everything
                    else {
                        // Hide Departement Other Name Field
                        if (!companyOtherName.hasClass("d-none")) {
                            companyOtherName.addClass('d-none');
                        }
                    }
                });
            }

            // Remove input field for company's name
            //$("#Name").autocomplete('close').val('');
            //if ($("#CompanyName").val() != null) {
            //    $("#CompanyName").val("");
            //}

            // AutoComplete for the company name
            // Suggestions will allow the user to potentially chose an existing company
            // If the user makes a choice, the Id of the company and the companyStatus will be inserted in hidden input fields
            // The persistence logic will reside in the controller
            $("#CompanyName").autocomplete({
                minLength: 3,
                source: function (request, response) {
                    $.ajax({
                        url: "/Register/AutoComplete",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term.toLowerCase() },
                        success: function (data) {

                            var array = data.error ? [] : $.map(data, function (m) {
                                return {
                                    label: m.companyName,
                                    value: m.id,
                                    status: m.companyStatusId,
                                };
                            });
                            response(array);
                        },
                    });
                },
                select: function (event, ui) {
                    $("#CompanyName").val(ui.item.label);
                    $("#IdAutoComplete").val(ui.item.value);
                    $("#StatusId").val(ui.item.status);
                    return false;
                }
            })
        }); // End of document
    </script>
}

