﻿@*@model WebApp.Models.RegisterViewModels.SetStatus

    @{
        ViewData["Title"] = "SetStatus";
    }

    <h1>Registre des présences</h1>

    @if ((bool)TempData.Peek("IsUserCheckinOut") == true)
    {
        <h2>Check-out</h2>
    }
    else
    {
        <h2>Check-in</h2>
    }

    <hr />
    <partial name="_BreadCrumb" />

    <h3>Quelle est votre status?</h3>

    @using (Html.BeginForm("SetStatus", "Register", FormMethod.Post))
    {
        <div class="row">
            <div class="col-md-6">
                <form asp-action="SetStatus">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input id="userCompanyStatus" asp-for="Id" />
                    @foreach (var item in Model.CompanyStatus)
                    {
                        <input type="submit" value="@item.StatusName" class="btn btn-primary" id="@item.Id" />
                    }
                </form>
            </div>
        </div>
    }

    @if (ViewBag.Error != null)
    {
        <div>
            <p class="text-danger">Une erreur est survenue : @ViewBag.Error</p>
        </div>
    }

    @section Scripts {
        <script>
            $(document).ready(function () {

                $(":submit").click(function (e) {

                    // Get Id value of clicked input
                    var clickedInputId = $(this).attr('id');

                    // Set Id field value
                    $("#userCompanyStatus").val(clickedInputId)
                })
            });
        </script>
    }*@


@model WebApp.Models.RegisterViewModels.FormRegisterVM

@{
    ViewData["Title"] = "SetStatus";
}

<h1>Registre des présences</h1>
@if (Model.IsCheckingOut == true)
{
    <h2>Enregistrement: check-out</h2>
}
else
{
    <h2>Enregistrement: check-in</h2>
}
<hr />

<h3>Quel est votre statut?</h3>

<div class="adapt75">
    <p>En principe, votre statut vous a été fourni par l'Atelier d'Arlon avant votre visite.</p>

    <p>
        - Interne correspond aux employés des différents ateliers de maintenance de la SNCB.<br />
        - Prestataire externe correspond aux employés des sous-traitants de l'Atelier d'Arlon.<br />
        - Visiteur correspond aux écoles, stagiaires, etc.
    </p>

    <p>En cas de doute, faites un choix. Si la société ou entité de laquelle vous dépendez n'est pas reprise dans les listes de pages suivantes, vous pourrez revenir en arrière et modifier votre statut.</p>
</div>

@using (Html.BeginForm("SetStatus", "Register", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-6">
            <form asp-action="SetStatus">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" id="userCompanyStatus" asp-for="StatusId" />

                @foreach (var item in Model.CompanyStatuses)
                {
                    <input type="submit" value="@item.StatusName" class="btn btn-primary" id="@item.Id" />
                }
            </form>
        </div>
    </div>
}

@if (ViewBag.Error != null)
{
    <div>
        <p class="text-danger">Une erreur est survenue : @ViewBag.Error</p>
    </div>
}
@section Scripts {
    <script>
        $(document).ready(function () {

            $(":submit").click(function (e) {

                // Get Id value of clicked input
                var clickedInputId = $(this).attr('id');

                // Set Id field value
                $("#userCompanyStatus").val(clickedInputId)
            })
        });
    </script>
}
