﻿@model WebApp.Models.QuestionViewModels.QuestionVM
<!-- Modal -->
<div class="modal fade" id="AddQuestionModal" tabindex="-1" role="dialog" aria-labelledby="AddQuestionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="AddQuestionModalLabel">Ajout d'une nouvelle question</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Create" method="post">
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Title"></label>
                        <textarea asp-for="Title" class="form-control" rows="1">Model.Title</textarea>
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>                  
                    
                    <div class="form-group">
                        <label asp-for="TestQuestion"></label>
                        @foreach (var item in Model.TestQuestion)
                        {
                            <input type="checkbox" id="test@(item.Id)" name="test@(item.Id)" value="@(item.Title)" checked="@item.IsLinkedToQuestion">
                            <label for="test@(item.Id)">@item.Title</label>
                        }
                    </div>

                    <div class="form-group">
                        <label asp-for="IsActive">
                            @Html.DisplayNameFor(model => model.IsActive)
                            <input class="form-control" asp-for="IsActive" />
                        </label>
                    </div>

                    <div class="form-group">
                        <label class="d-block" asp-for="QcmItems"></label>
                        @foreach (var item in Model.QcmItems)
                        {
                            <div class="d-flex">
                                <span class="flex-shrink-1 material-icons remove" title="supprimer">remove</span>

                                <div class="flex-grow-1 d-block">
                                    <input type="text" class="d-inline-block" value="@item.Item" name="addedItem@(item.QcmItemId)" />
                                    <span class="material-icons @item.IsAnswer.BoolToHtmlString("qcmGood", "qcmBad") selectAnswer">@item.IsAnswer.BoolToHtmlString("check", "close")</span>
                                    <input type="hidden" name="addedIsAnswer@(item.QcmItemId)" value="@item.IsAnswer.ToString().ToLower()" />
                                </div>
                            </div>
                        }
                        <div id="added-qcm">

                            <div class="d-flex">
                                <span class="flex-shrink-1 material-icons qcmAddRemoveIcon" title="ajouter">add</span>

                                <div class="flex-grow-1 d-none qcmAddRemoveInput">
                                    <input type="text" class="d-inline-block">
                                    <span class="material-icons qcmBad selectAnswer">close</span>
                                    <input type="hidden" value="false">
                                </div>
                            </div>

                        </div>
                    </div>

                </form>
                @if (ViewBag.Error != null)
                {
                    <div id="viewBagError">
                        <p class="text-danger">Une erreur est survenue : @ViewBag.Error</p>
                    </div>
                }
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-primary" data-save="save-add-question">Valider</button>
            </div>
        </div>
    </div>
</div>
