﻿@model IEnumerable<WebApp.Models.QuestionViewModels.QuestionVM>

@if (Model.Count() > 0)
{
    @foreach (var item in Model)
    {
        <table class="table table-bordered table-condensed table-striped tableCustomLayout" id=@String.Format("questionTable{0}", item.Id)>
            <tbody>
                <tr>
                    <th>
                        @Html.DisplayFor(modelItem => item.Title)
                    </th>
                </tr>
                <tr>
                    <td>
                        <strong>@Html.DisplayNameFor(modelItem => item.IsActive): </strong> @item.IsActive.BoolToHtmlString("Oui", "Non")
                    <div class="float-right">

                        <strong>@Html.DisplayNameFor(modelItem => item.Tests): </strong>

                        @if (item.Tests.Count() == 0)
                        {
                            @:/
                        }
                        else
                        {
                            @for (int i = 0; i < item.Tests.Count(); i++)
                            {
                                if (item.Tests.Count() > 1 && i < item.Tests.Count() - 1)
                                {
                                    @item.Tests[i].Title@:,
                                }
                                else
                                {
                                   @item.Tests[i].Title
                                }
                            }
                        }
                    </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        @foreach (var i in item.QcmItems)
                        {
                            if (i.IsAnswer == true)
                            {
                                <span class="material-icons qcmGood">@i.IsAnswer.BoolToHtmlString("check", "close")</span> @i.Item <br />
                            }
                            else
                            {
                                <span class="material-icons qcmBad">@i.IsAnswer.BoolToHtmlString("check", "close")</span> @i.Item <br />
                            }
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="@Url.Action("Edit", "Question", new { id = item.Id })" data-toggle="ajax-modal-EditQuestion" data-target="#EditQuestionModal" data-url="@Url.Action("Edit", "Question", new { id = item.Id })">Editer</a> |
                        @*@Html.ActionLink("Editer", "Edit", new { id = item.Id }) |*@
                        @Html.ActionLink("Supprimer", "Delete", new { id = item.Id })
                    </td>
                </tr>
            </tbody>
        </table>
    }
}
else
{
    <p>Le filtrage n'a donné aucun résultat.</p>
}