﻿@model WebApp.Models.QuestionViewModels.QuestionVM

<table class="table table-bordered table-condensed table-striped tableCustomLayout" id=@String.Format("questionTable{0}", Model.Id)>
    <tbody>
        <tr>
            <th>
                @Html.DisplayFor(modelItem => Model.Title)
            </th>
        </tr>
        <tr>
            <td>
                <strong>@Html.DisplayNameFor(modelItem => Model.IsActive): </strong> @Model.IsActive.BoolToHtmlString("Oui", "Non")
            <div class="float-right">
                <strong>@Html.DisplayNameFor(modelItem => Model.Tests): </strong>
                @if (Model.Tests.Count() == 0)
                {
                    @:/
                }
                else
                {
                    @for (int i = 0; i < Model.Tests.Count(); i++)
                    {
                        if (Model.Tests.Count() > 1 && i < Model.Tests.Count() - 1)
                        {
                            @Model.Tests[i].Title@:,
                        }
                        else
                        {
                            @Model.Tests[i].Title
                        }
                    }
                }
            </div>
            </td>
        </tr>
        <tr>
            <td>
                @foreach (var i in Model.QcmItems)
                {
                    if (i.IsAnswer == true)
                    {
                        <span class="material-icons qcmGood">@i.IsAnswer.BoolToHtmlString("check", "close")</span> @i.Item <br />
                    }
                    else
                    {
                        <span class="material-icons qcmBad">@i.IsAnswer.BoolToHtmlString("check", "close")</span> @i.Item <br />
                    }
                }
            </td>
        </tr>
        <tr>
            <td>
                <a href="@Url.Action("Edit", "Question", new { id = Model.Id })" data-toggle="ajax-modal-EditQuestion" data-target="#EditQuestionModal" data-url="@Url.Action("Edit", "Question", new { id = Model.Id })">Editer</a> |
                @*@Html.ActionLink("Editer", "Edit", new { id = item.Id }) |*@
                @Html.ActionLink("Supprimer", "Delete", new { id = Model.Id })
            </td>
        </tr>
    </tbody>
</table>
