﻿@model IEnumerable<WebApp.Models.QuestionViewModels.QuestionVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Questions</h1>
<h2>Listing</h2>
<hr />

<div class="customBreadcrumb">
    @Html.ActionLink("DashBoard", "Index", "Admin") |
    <a href="@Url.Action("Create")" data-toggle="ajax-modal-AddQuestion" data-target="#AddQuestionModal" data-url="@Url.Action("Create")">
        Ajouter une question
    </a>
</div>

<div class="adapt75">
    @*<input type="hidden" value="@TempData["Alert"]" id="alert" />*@

    <div class="d-flex align-items-baseline">

        <div class="form-group" style="margin-right: 0.5rem;">
            <label for="TestId" class="control-label"></label>
            <select id="TestDropDown" name="TestDropDown" asp-items="@(new SelectList(@ViewBag.TestDropDown, "Id", "Title", ViewBag.TestId))">
                <option value="0">-- Filtre par test --</option>
            </select>
        </div>

        <form asp-action="Filter" method="post" class="d-flex lastFlex">
            <input type="text" name="SearchString" size="24" style="margin-right:0.5rem;" />
            <button id="SearchStringBtn" type="submit" class="btn-custom"><span class="material-icons">search</span></button>
        </form>
    </div>
</div>


<!-- Modal placeholder -->
<div id="modal-placeholder">
</div>

<div class="adapt75" id="questionListContainer">
    @if (Model.Count() > 0)
    {
        @foreach (var item in Model)
        {
            <table class="table table-bordered table-condensed table-striped tableCustomLayout" id=@String.Format("questionTable{0}", item.Id)>
                <tbody>
                    <tr>
                        <th>
                            @Html.DisplayFor(modelItem => item.Title)
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <strong>@Html.DisplayNameFor(modelItem => item.IsActive): </strong> @item.IsActive.BoolToHtmlString("Oui", "Non")
                        <div class="float-right">

                            <strong>@Html.DisplayNameFor(modelItem => item.Tests): </strong>

                            @if (item.Tests.Count() == 0)
                            {
                                @:/
                            }
                            else
                            {
                                @for (int i = 0; i < item.Tests.Count(); i++)
                                {
                                    if (item.Tests.Count() > 1 && i < item.Tests.Count() - 1)
                                    {
                                        @item.Tests[i].Title@:,
                                    }
                                    else
                                    {
                                        @item.Tests[i].Title
                                    }
                                }
                            }
                        </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @foreach (var i in item.QcmItems)
                            {
                                if (i.IsAnswer == true)
                                {
                                    <span class="material-icons qcmGood">@i.IsAnswer.BoolToHtmlString("check", "close")</span> @i.Item <br />
                                }
                                else
                                {
                                    <span class="material-icons qcmBad">@i.IsAnswer.BoolToHtmlString("check", "close")</span> @i.Item <br />
                                }
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="@Url.Action("Edit", "Question", new { id = item.Id })" 
                               data-toggle="ajax-modal-EditQuestion" 
                               data-target="#EditQuestionModal" 
                               data-url="@Url.Action("Edit", "Question", new { id = item.Id })">Editer</a> |
                            @*@Html.ActionLink("Editer", "Edit", new { id = item.Id }) |*@
                            @Html.ActionLink("Supprimer", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                </tbody>
            </table>
        }
    }
    else
    {
        <p>Il n'existe aucune question pour l'instant.</p>
    }
</div>

@section Scripts
{
    <script>
        let counter = 0;

        $(document).ready(function () {

            // Filter variables
            let testDropDown = $("#TestDropDown");
            let testId = testDropDown.val();
            let search = $("input[name='SearchString']").val();
            let container = $("#questionListContainer");

            // Change event on selected test
            testDropDown.change(function () {

                // update selected value
                testId = testDropDown.val();

                // update search value
                search = $("input[name='SearchString']").val();

                $.ajax({
                    url: "/Question/Filter",
                    data: { testId: testId, search: search },
                    type: "POST",
                    success: function (result) {
                        container.html(result);
                    }
                });

            }); // End change on dropdown

            // Filter by string
            $("#SearchStringBtn").click(function (e) {
                e.preventDefault();

                // update selected value
                testId = testDropDown.val();

                // update search value
                search = $("input[name='SearchString']").val();

                let url = $(this).parents("form").attr("action");

                //if (!isNullOrWhitespace(search)) {

                    $.ajax({
                        url: url,
                        data: { testId: testId, search: search },
                        type: "POST",
                        success: function (result) {
                            container.html(result);
                        }
                    });
                //}
            });

            // Edit Question
            $("#questionListContainer").on("click", "a[data-toggle='ajax-modal-EditQuestion']", function (e) {
                e.preventDefault();

                var url = $(this).data('url');

                // Load partial modal
                $.ajax({
                    url: url,
                    type: "GET",
                    //headers: { "RequestVerificationToken": modalToken },
                    success: function (result) {
                        $('#modal-placeholder').html(result);
                        $('#modal-placeholder > .modal').modal('show');
                    }
                });

            });

            // Add QcmItem
            $("#modal-placeholder").on("click", "#added-qcm span", function (e) {

                let addQcmItemBlock = $("#added-qcm").html();

                counter++;

                $("#added-qcm").before(addQcmItemBlock);

                // Add class "remove" to span for future selection
                $("#added-qcm").prev(".d-flex").find("span.qcmAddRemoveIcon").addClass("remove");

                // Change icon title
                $("#added-qcm").prev(".d-flex").find("span.qcmAddRemoveIcon").attr("title", "supprimer");

                // Change icon
                $("#added-qcm").prev(".d-flex").find("span.qcmAddRemoveIcon").html("remove");

                // Show new qcm input
                $("#added-qcm").prev(".d-flex").find("div.qcmAddRemoveInput").removeClass("d-none").addClass("d-block");

                // Add name attr to input text
                $("#added-qcm").prev(".d-flex").find("div.qcmAddRemoveInput input[type='text']").attr("name", "addedItem" + counter.toString());

                // Add name attr to input type hidden
                $("#added-qcm").prev(".d-flex").find("div.qcmAddRemoveInput input[type='hidden']").attr("name", "addedIsAnswer" + counter.toString());
            });

            // Remove QcmItem
            $("#modal-placeholder").on("click", "span.remove", function (e) {
                $(this).closest(".d-flex").remove();
            });

            // Mark QcmItem as the answer
            $("#modal-placeholder").on("click", ".selectAnswer", function () {
                // If the text is filled the item can become the answer
                if ($(this).prev("input[type='text']").val() != "") {

                    // Set all items to close and set their hidden type values to false + change class
                    $(".selectAnswer").html("close");
                    $(".selectAnswer").removeClass("qcmGood");
                    $(".selectAnswer").addClass("qcmBad");
                    $(".selectAnswer").next("input[type='hidden']").attr("value", "false");

                    // Set clicked item to check and set its hidden type value to true + change class
                    $(this).html("check");
                    if ($(this).hasClass("qcmBad")) {
                        $(this).removeClass("qcmBad");
                        $(this).addClass("qcmGood");
                    }
                    $(this).next("input[type='hidden']").attr("value", "true");
                }
            });

            // Save edit form
            $("#modal-placeholder").on("click", '[data-save="save-edit-question"]', function (e) {
                e.preventDefault();

                var form = $(this).parents('#EditQuestionModal').find('form');
                var actionUrl = form.attr('action');
                var dataToSend = form.serialize();
                var id = $("#Id").val();

                $.ajax({
                    url: actionUrl,
                    type: "POST",
                    data: dataToSend,
                    success: function (data) {

                        // If the modal partial view is returned, it means there is an error to be displayed within the form
                        var returnedForm = $(data).filter('#EditQuestionModal');
                       
                        // If the error modal partial view is returned, display error
                        var errorModal = $(data).filter('#errorModal');                       

                        if (returnedForm.length)
                        {
                            $('#modal-placeholder').find('.modal-body').replaceWith($('.modal-body', data));

                            // Display viewbag and fade it out
                            if ($("#viewBagError").length) {
                                fadeOutCustom($("#viewBagError"), 13000)
                            }
                        }
                        else if (errorModal.length)
                        {                          
                            // Hide Modal form
                            $('#modal-placeholder').find('.modal').modal('hide');

                            $('#modal-placeholder').append(data);
                            $('#modal-placeholder').find('.modal').modal('show');
                        }
                        else {
                            // Hide Modal form
                            $('#modal-placeholder').find('.modal').modal('hide');

                            // Replace new content
                            let tableToReplace = "#questionTable" + id;
                            $(tableToReplace).replaceWith(data);

                            // Show Modal success
                            let title = "Modification de la question";
                            let message = "Modification réalisée avec succès.";

                            $.ajax({
                                url: "Success/SuccessModal/",
                                data: { title: title, message: message },
                                type: "GET",
                                success: function (result) {
                                    $('#modal-placeholder').html(result);
                                    $('#modal-placeholder > .modal').modal('show');
                                }
                            });
                        }
                    }
                });
            });

            // Add question load modal
            $("[data-toggle='ajax-modal-AddQuestion']").click(function (e) {
                e.preventDefault();

                var url = $(this).data('url');

                // Load partial modal
                $.ajax({
                    url: url,
                    type: "GET",
                    //headers: { "RequestVerificationToken": modalToken },
                    success: function (result) {
                        $('#modal-placeholder').html(result);
                        $('#modal-placeholder > .modal').modal('show');
                    }
                });
            });

            // Save add question
            $("#modal-placeholder").on("click", '[data-save="save-add-question"]', function (e) {
                e.preventDefault();

                var form = $(this).parents('#AddQuestionModal').find('form');
                var actionUrl = form.attr('action');
                var dataToSend = form.serialize();

                $.ajax({
                    url: actionUrl,
                    type: "POST",
                    data: dataToSend,
                    success: function (data) {

                        // If the modal partial view is returned, it means there is an error to be displayed within the form
                        var returnedForm = $(data).filter('#AddQuestionModal');

                        var success = $(data).filter("table");
                            
                        if (returnedForm.length) {
                            $('#modal-placeholder').find('.modal-body').replaceWith($('.modal-body', data));

                            // Display viewbag and fade it out
                            if ($("#viewBagError").length) {
                                fadeOutCustom($("#viewBagError"), 16000)
                            }
                        }
                        if (success.length) {
                            $('#modal-placeholder').find('.modal').modal('hide');

                            // Show Modal success
                            let title = "Ajout de la question";
                            let message = "Ajout réalisée avec succès.";

                            $.ajax({
                                url: "Success/SuccessModal/",
                                data: { title: title, message: message },
                                type: "GET",
                                success: function (result) {
                                    $('#modal-placeholder').html(result);
                                    $('#modal-placeholder > .modal').modal('show');
                                }
                            });

                            $("#questionListContainer").append(data);
                        }
                    }
                });

            });

        }); // End document ready

    </script>
}